@mixin font-size-change( $value: $base__font-size, $default: $base__font-size, $font-size: $base__font-size, $unit: $base__unit ) {
	@include style-change-unitcalc( font-size, $value, $default, $font-size, $unit );
}

@mixin font-family-change( $value: $base__font-family, $default: $base__font-family ) {
	@include style-change( font-family, $value, $default );
}

@mixin line-height-change( $value: $base__line-height, $default: $base__line-height ) {
	@include style-change( line-height, $value, $default );
}

@mixin font-weight-change( $value: $base__font-weight, $default: $base__font-weight ) {
	@include style-change( font-weight, $value, $default );
}

@mixin text-transform-change( $value: none, $default: none ) {
	@include style-change( text-transform, $value, $default );
}

@mixin text-decoration-change( $value: none, $default: none ) {
	@include style-change( text-decoration, $value, $default );
}

@mixin color-change( $value: $base__color, $default: $base__color ) {
	@include style-change( color, $value, $default );
}

@mixin text-align-change( $value: $base__text-align, $default: $base__text-align ) {
	@include style-change( text-align, $value, $default );
}

@mixin font-style-change( $value: normal, $default: normal ) {
	@include style-change( font-style, $value, $default );
}

@mixin letter-spacing-change( $value: normal, $default: normal ) {
	@include style-change( letter-spacing, $value, $default );
}

// Optional hyphenation
@mixin hyphens( $mode: auto ) {
	word-wrap: break-word;
	hyphens: $mode;
}

// Remove bullets/numbers and padding
@mixin list-unstyled() {
	padding-left: 0;
	list-style: none;
}

// Inline turns list items into inline-block
@mixin list-inline() {
	@include list-unstyled;

	> li {
		display: inline-block;
		padding-left: .5em;
		padding-right: .5em;
	}
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Hide from everything but screen readers
@mixin text-sr-only() {
	clip: rect( 1px, 1px, 1px, 1px );
	position: absolute;
	&:hover,
	&:active,
	&:focus {
		clip: auto;
		position: inherit;
	}
}

@mixin text-style(
	$font-family: $base__font-family,
	$font-size: $base__font-size,
	$line-height: $base__line-height,
	$font-weight: $base__font-weight,
	$text-align: $base__text-align,
	$color: $base__color,
	$font-style: normal,
	$text-transform: none,
	$letter-spacing: normal,
	$text-decoration: none,
	$margin-top: 0,
	$margin-right: 0,
	$margin-bottom: 0,
	$margin-left: 0,
	$font-size--lg: $font-size,
	$line-height--lg: $line-height,
	$letter-spacing--lg: $letter-spacing,
	$bp: $base--breakpoint,
	$link-color: $link__color,
	$link-text-decoration: $link__text-decoration,
	$link-color--hover: $link__color--hover,
	$link-text-decoration--hover: $link__text-decoration--hover,
) {
	@include font-family-change( $font-family, $base__font-family );
	@include font-size-change( $font-size, $base__font-size );
	@include line-height-change( $line-height, $base__line-height );
	@include font-weight-change( $font-weight, $base__font-weight );
	@include text-align-change( $text-align, $base__text-align );
	@include color-change( $color, $base__color );
	@include font-style-change( $font-style, normal );
	@include text-transform-change( $text-transform, none );
	@include letter-spacing-change( $letter-spacing, normal );
	@include text-decoration-change( $text-decoration, none );
	@include margin-change-unitcalc( 0, 0, 0, 0, $margin-top, $margin-right, $margin-bottom, $margin-left, $font-size );

	@if ( $font-size--lg != $font-size ) {
		@include breakpoint-up( $bp ) {
			font-size: unitcalc( $font-size--lg );

			@if ( $base__unit == em ) {
				@include margin-change-unitcalc( $margin-top, $margin-right, $margin-bottom, $margin-left, $font-size--lg );
			}
		}
	}

	@if ( $line-height--lg != $line-height ) {
		@include breakpoint-up( $bp ) {
			line-height: $line-height--lg;
		}
	}

	@if ( $letter-spacing--lg != $letter-spacing ) {
		@include breakpoint-up( $bp ) {
			letter-spacing: $letter-spacing--lg;
		}
	}

	@if ( $link-color != $link__color ) or ( $link-text-decoration != $link__text-decoration ) {
		a {
			@include color-change( $link-color, $link__color );
			@include text-decoration-change( $link-text-decoration, $link__text-decoration );
		}
	}

	@if ( $link-color--hover != $link__color--hover ) or ( $link-text-decoration--hover != $link__text-decoration--hover ) {
		a:hover,
		a:focus {
			@include color-change( $link-color--hover, $link__color--hover );
			@include text-decoration-change( $link-text-decoration--hover, $link__text-decoration--hover );
		}
	}
}

// HEADINGS
// -------------------------
@mixin heading() {
	@if ( $headings__font-size == $base__font-size ) {
		font-size: unitcalc( $headings__font-size );
	}

	@if ( $headings__font-weight == $base__font-weight ) {
		font-weight: $headings__font-weight;
	}

	@include text-style(
		$headings__font-family,
		$headings__font-size,
		$headings__line-height,
		$headings__font-weight,
		$headings__text-align,
		$headings__color,
		$headings__font-style,
		$headings__text-transform,
		$headings__letter-spacing,
		$headings__text-decoration,
		$headings__margin-top,
		$headings__margin-right,
		$headings__margin-bottom,
		$headings__margin-left,
		$headings__font-size--lg,
		$headings__line-height--lg,
		$headings__letter-spacing--lg,
		$headings__breakpoint,
		$headings-link__color,
		$headings-link__text-decoration,
		$headings-link__color--hover,
		$headings-link__text-decoration--hover
	);
}

@mixin heading-style(
	$font-family: $headings__font-family,
	$font-size: $headings__font-size,
	$line-height: $headings__line-height,
	$font-weight: $headings__font-weight,
	$text-align: $headings__text-align,
	$color: $headings__color,
	$font-style: $headings__font-style,
	$text-transform: $headings__text-transform,
	$letter-spacing: $headings__letter-spacing,
	$text-decoration: $headings__text-decoration,
	$margin-top: $headings__margin-top,
	$margin-right: $headings__margin-right,
	$margin-bottom: $headings__margin-bottom,
	$margin-left: $headings__margin-left,
	$font-size--lg: $font-size,
	$line-height--lg: $line-height,
	$letter-spacing--lg: $letter-spacing,
	$bp: $headings__breakpoint,

	//defaults
	$default__font-family: $headings__font-family,
	$default__font-size: $headings__font-size,
	$default__line-height: $headings__line-height,
	$default__font-weight: $headings__font-weight,
	$default__text-align: $headings__text-align,
	$default__color: $headings__color,
	$default__font-style: $headings__font-style,
	$default__text-transform: $headings__text-transform,
	$default__letter-spacing: $headings__letter-spacing,
	$default__text-decoration: $headings__text-decoration,
	$default__margin-top: $headings__margin-top,
	$default__margin-right: $headings__margin-right,
	$default__margin-bottom: $headings__margin-bottom,
	$default__margin-left: $headings__margin-left
) {
	@include font-family-change( $font-family, $default__font-family );
	@include font-size-change( $font-size, $default__font-size );
	@include line-height-change( $line-height, $default__line-height );
	@include font-weight-change( $font-weight, $default__font-weight );
	@include text-align-change( $text-align, $default__text-align );
	@include color-change( $color, $default__color );
	@include font-style-change( $font-style, $default__font-style );
	@include text-transform-change( $text-transform, $default__text-transform );
	@include letter-spacing-change( $letter-spacing, $default__letter-spacing );
	@include text-decoration-change( $text-decoration, $default__text-decoration );
	@include margin-change-unitcalc( $default__margin-top, $default__margin-right, $default__margin-bottom, $default__margin-left, $margin-top, $margin-right, $margin-bottom, $margin-left, $font-size );

	@if ( $font-size--lg != $font-size ) {
		@include breakpoint-up( $bp ) {
			font-size: unitcalc( $font-size--lg );

			@if ( $base__unit == em ) {
				@include margin-unitcalc( $margin-top, $margin-right, $margin-bottom, $margin-left, $font-size--lg );
			}
		}
	}

	@if ( $line-height--lg != $line-height ) {
		@include breakpoint-up( $bp ) {
			line-height: $line-height--lg;
		}
	}

	@if ( $letter-spacing--lg != $letter-spacing ) {
		@include breakpoint-up( $bp ) {
			letter-spacing: $letter-spacing--lg;
		}
	}
}
