@font-face {
  font-family: "star";
  src: url("../../../plugins/woocommerce/assets/fonts/star.eot");
  src: url("../../../plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("../../../plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("../../../plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("../../../plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}
table.shop_table_responsive thead {
  display: none;
}
table.shop_table_responsive tbody th {
  display: none;
}
table.shop_table_responsive tr td {
  display: block;
  text-align: right;
  clear: both;
}
table.shop_table_responsive tr td:before {
  content: attr(data-title) ": ";
  float: left;
}
table.shop_table_responsive tr td.product-remove a {
  text-align: left;
}
table.shop_table_responsive tr td.product-remove:before {
  display: none;
}
table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
  display: none;
}
table.shop_table_responsive tr td.download-actions .button {
  display: block;
  text-align: center;
}
ul.products {
  padding-inline: 0;
  list-style: none;
  margin: 0;
  --grid__columns: 12;
  --grid__column-gap: 1.5rem;
  --grid__max-columns: 1;
  --grid__row-gap: 1.5rem;
  --grid-item__max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: var(--grid__row-gap);
  margin-inline: calc(var(--grid__column-gap) * -0.5);
}
ul.products > * {
  position: relative;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--grid-item__max-width);
          flex: 0 0 var(--grid-item__max-width);
  padding-inline: calc(var(--grid__column-gap) * 0.5);
}
ul.products .product {
  position: relative;
  -webkit-margin-after: var(--spacing);
          margin-block-end: var(--spacing);
}
ul.products .product .woocommerce-loop-product__title {
  font-size: 1rem;
}
ul.products .product img {
  display: block;
}
ul.products .product .button {
  display: block;
}
.single-product div.product {
  position: relative;
}

.woocommerce-product-gallery {
  position: relative;
}
.woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
  z-index: 99;
}
.woocommerce-product-gallery .flex-viewport {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.flex-control-thumbs {
  padding-inline: 0;
  list-style: none;
  --grid__columns: 12;
  --grid__column-gap: 1.5rem;
  --grid__max-columns: 1;
  --grid__row-gap: 1.5rem;
  --grid-item__max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: var(--grid__row-gap);
  margin-inline: calc(var(--grid__column-gap) * -0.5);
}
.flex-control-thumbs > * {
  position: relative;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--grid-item__max-width);
          flex: 0 0 var(--grid-item__max-width);
  padding-inline: calc(var(--grid__column-gap) * 0.5);
}
.flex-control-thumbs li {
  cursor: pointer;
}
.flex-control-thumbs li:hover img {
  opacity: 1;
}
.flex-control-thumbs img {
  opacity: 0.5;
}
.flex-control-thumbs img.flex-active {
  opacity: 1;
}

.flex-control-thumbs {
  --grid__columns: 12;
  --grid__column-gap: 1.5rem;
  --grid__max-columns: 1;
  --grid__row-gap: 1.5rem;
  --grid-item__max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: var(--grid__row-gap);
  margin-inline: calc(var(--grid__column-gap) * -0.5);
}
.flex-control-thumbs > * {
  position: relative;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--grid-item__max-width);
          flex: 0 0 var(--grid-item__max-width);
  padding-inline: calc(var(--grid__column-gap) * 0.5);
}

.woocommerce-product-gallery--columns--1 li {
  width: 100%;
}

.woocommerce-product-gallery--columns--2 li {
  width: 50%;
}

.woocommerce-product-gallery--columns--3 li {
  width: 33.3333333333%;
}

.woocommerce-product-gallery--columns--4 li {
  width: 25%;
}

.woocommerce-product-gallery--columns--5 li {
  width: 20%;
}

.woocommerce-product-gallery--columns--6 li {
  width: 16.6666666667%;
}

.stock:empty:before {
  display: none;
}
.stock.in-stock {
  color: var(--color-success);
}
.stock.out-of-stock {
  color: var(--color-danger);
}

.col2-set {
  --grid__columns: 12;
  --grid__column-gap: 1.5rem;
  --grid__max-columns: 1;
  --grid__row-gap: 1.5rem;
  --grid-item__max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: var(--grid__row-gap);
  margin-inline: calc(var(--grid__column-gap) * -0.5);
}
.col2-set > * {
  position: relative;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--grid-item__max-width);
          flex: 0 0 var(--grid-item__max-width);
  padding-inline: calc(var(--grid__column-gap) * 0.5);
}

.site-header-cart {
  position: relative;
  margin: 0;
  padding: 0;
}
.site-header-cart:before, .site-header-cart:after {
  content: " ";
  display: table;
}
.site-header-cart:after {
  clear: both;
}
.site-header-cart .cart-contents {
  text-decoration: none;
}
.site-header-cart .widget_shopping_cart {
  display: none;
}
.site-header-cart .product_list_widget {
  margin: 0;
  padding: 0;
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1.618em;
  line-height: 1.618;
  font-size: 1em;
  width: 5.3em;
  font-family: "star";
  font-weight: 400;
}
.star-rating:before {
  content: "SSSSS";
  opacity: 0.25;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-padding-before: 1.5em;
          padding-block-start: 1.5em;
}
.star-rating span:before {
  content: "SSSSS";
  top: 0;
  position: absolute;
  left: 0;
  color: var(--color-primary);
}

p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  -webkit-margin-end: 1px;
          margin-inline-end: 1px;
  font-weight: 400;
}
p.stars a:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: "star";
  content: "S";
  color: var(--color);
  text-indent: 0;
  opacity: 0.25;
}
p.stars a:hover ~ a:before {
  content: "S";
  color: var(--color);
  opacity: 0.25;
}
p.stars:hover a:before {
  content: "S";
  color: var(--color-primary);
  opacity: 1;
}
p.stars.selected a.active:before {
  content: "S";
  color: var(--color-primary);
  opacity: 1;
}
p.stars.selected a.active ~ a:before {
  content: "S";
  color: var(--color);
  opacity: 0.25;
}
p.stars.selected a:not(.active):before {
  content: "S";
  color: var(--color-primary);
  opacity: 1;
}

.woocommerce-tabs ul.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.woocommerce-tabs ul.tabs li {
  display: block;
  margin: 0;
  position: relative;
}
.woocommerce-tabs ul.tabs li a {
  padding-block: 1em;
  display: block;
}
.woocommerce-tabs .panel h2:first-of-type {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.woocommerce-password-strength {
  text-align: right;
}
.woocommerce-password-strength.strong {
  color: var(--color-success);
}
.woocommerce-password-strength.short {
  color: var(--color-danger);
}
.woocommerce-password-strength.bad {
  color: var(--color-danger);
}
.woocommerce-password-strength.good {
  color: var(--color-info);
}

.form-row.woocommerce-validated input.input-text {
  -webkit-box-shadow: inset 2px 0 0 var(--color-success);
          box-shadow: inset 2px 0 0 var(--color-success);
}
.form-row.woocommerce-invalid input.input-text {
  -webkit-box-shadow: inset 2px 0 0 var(--color-danger);
          box-shadow: inset 2px 0 0 var(--color-danger);
}

.required {
  color: var(--color-danger);
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  background-color: var(--color-success);
  clear: both;
}
.woocommerce-message:before, .woocommerce-message:after,
.woocommerce-info:before,
.woocommerce-info:after,
.woocommerce-error:before,
.woocommerce-error:after,
.woocommerce-noreviews:before,
.woocommerce-noreviews:after,
p.no-comments:before,
p.no-comments:after {
  content: " ";
  display: table;
}
.woocommerce-message:after,
.woocommerce-info:after,
.woocommerce-error:after,
.woocommerce-noreviews:after,
p.no-comments:after {
  clear: both;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  background-color: var(--color-info);
}

.woocommerce-error {
  background-color: var(--color-danger);
}

.demo_store {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 1em;
  background-color: var(--color-info);
  z-index: 9999;
}
.widget_price_filter .price_slider {
  -webkit-margin-after: 1.5em;
          margin-block-end: 1.5em;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: ew-resize;
  outline: none;
  background: var(--color-primary);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-margin-before: -0.25em;
          margin-block-start: -0.25em;
  opacity: 1;
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  -webkit-margin-start: -1em;
          margin-inline-start: -1em;
}
.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
  -webkit-box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  border: 0;
  background: var(--color-primary);
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: rgba(0, 0, 0, 0.1);
}
.widget_price_filter .ui-slider-horizontal {
  height: 0.5em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  height: 100%;
}

@media (min-width: 768px) {
  ul.products .product {
    min-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  ul.products {
    --grid__columns: 12;
    --grid__column-gap: 1.5rem;
    --grid__max-columns: 1;
    --grid__row-gap: 1.5rem;
    --grid-item__max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: var(--grid__row-gap);
    margin-inline: calc(var(--grid__column-gap) * -0.5);
  }
  ul.products > * {
    position: relative;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--grid-item__max-width);
            flex: 0 0 var(--grid-item__max-width);
    padding-inline: calc(var(--grid__column-gap) * 0.5);
  }
  .columns-1 .product {
    width: 100%;
  }
  .columns-2 .product {
    width: 50%;
  }
  .columns-3 .product {
    width: 33.3333333333%;
  }
  .columns-4 .product {
    width: 25%;
  }
  .columns-5 .product {
    width: 20%;
  }
  .columns-6 .product {
    width: 16.6666666667%;
  }
  .col2-set .form-row-first,
  .col2-set .form-row-last {
    --grid-item__max-width: calc(6 / var(--grid__columns) * 100%);
  }
  .site-header-cart .widget_shopping_cart {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999999;
    left: -999em;
    display: block;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }
  .site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
    left: 0;
    display: block;
  }
}

@media screen and (min-width: 48em) {
  table.shop_table_responsive thead {
    display: table-header-group;
  }
  table.shop_table_responsive tbody th {
    display: table-cell;
  }
  table.shop_table_responsive tr th, table.shop_table_responsive tr td {
    text-align: left;
  }
  table.shop_table_responsive tr td {
    display: table-cell;
  }
  table.shop_table_responsive tr td:before {
    display: none;
  }
  .site-header-cart .widget_shopping_cart {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999999;
    left: -999em;
    display: block;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }
  .site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
    left: 0;
    display: block;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3NyYy9zYXNzL3djL19mb250cy5zY3NzIiwid29vY29tbWVyY2UuY3NzIiwiLi4vc3JjL3Nhc3Mvd2MvX3RhYmxlcy5zY3NzIiwiLi4vc3JjL3Nhc3Mvd2MvX3Byb2R1Y3RzLnNjc3MiLCIuLi9zcmMvc2Fzcy9taXhpbnMvX3R5cGUuc2NzcyIsIi4uL3NyYy9zYXNzL21peGlucy9fdXRpbGl0eS5zY3NzIiwiLi4vc3JjL3Nhc3MvbWl4aW5zL19sYXlvdXQuc2NzcyIsIi4uL3NyYy9zYXNzL3djL19zaW5nbGUtcHJvZHVjdC5zY3NzIiwiLi4vc3JjL3Nhc3Mvd2MvX2NoZWNrb3V0LnNjc3MiLCIuLi9zcmMvc2Fzcy93Yy9fY29tcG9uZW50cy5zY3NzIiwiLi4vc3JjL3Nhc3Mvd2MvX3dpZGdldHMuc2NzcyIsIi4uL3NyYy9zYXNzL21peGlucy9fYnJlYWtwb2ludHMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHQTtFQUNDLG1CQUFBO0VBQ0EsOERBQUE7RUFDQSx3VUFBQTtFQUlBLG1CQUFBO0VBQ0Esa0JBQUE7QUNMRDtBQ0RDO0VBQ0MsYUFBQTtBREdGO0FDQ0U7RUFDQyxhQUFBO0FEQ0g7QUNJRTtFQUNDLGNBQUE7RUFDQSxpQkFBQTtFQUNBLFdBQUE7QURGSDtBQ0lHO0VBQ0MsOEJBQUE7RUFDQSxXQUFBO0FERko7QUNNSTtFQUNDLGdCQUFBO0FESkw7QUNPSTtFQUNDLGFBQUE7QURMTDtBQ1dJO0VBQ0MsYUFBQTtBRFRMO0FDY0k7RUFDQyxjQUFBO0VBQ0Esa0JBQUE7QURaTDtBRTlCQTtFQ0lDLGlCQUFBO0VBQ0EsZ0JBQUE7RURIQSxTQUFBO0VFd0pDLG1CQUFBO0VBQUEsMEJBQUE7RUFBQSxzQkFBQTtFQUFBLHVCQUFBO0VBQUEsNEJBQUE7RUM4REQsb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSxtQkFBQTtNQUFBLGVBQUE7RUFFQSw2QkFBQTtFQUNBLG1EQUFBO0FMOUpEO0FLZ0tDO0VBQ0Msa0JBQUE7RUFHQSxlQUFBO0VBQ0EsbUJBQUE7TUFBQSx5Q0FBQTtVQUFBLHFDQUFBO0VBQ0EsbURBQUE7QUxoS0Y7QUUvREM7RUFFQyxrQkFBQTtFQUNBLG9DQUFBO1VBQUEsZ0NBQUE7QUZnRUY7QUU5REU7RUFDQyxlQUFBO0FGZ0VIO0FFN0RFO0VBQ0MsY0FBQTtBRitESDtBRTVERTtFQUNDLGNBQUE7QUY4REg7QU1oRkM7RUFFQyxrQkFBQTtBTjJIRjs7QU12SEE7RUFDQyxrQkFBQTtBTjBIRDtBTXhIQztFQUNDLGtCQUFBO0VBQ0EsUUFBQTtFQUNBLFVBQUE7RUFDQSxjQUFBO0VBQ0EsV0FBQTtBTjBIRjtBTXZIQztFQUNDLHlCQUFBO1VBQUEscUJBQUE7QU55SEY7O0FNckhBO0VIbkJDLGlCQUFBO0VBQ0EsZ0JBQUE7RUNxSkMsbUJBQUE7RUFBQSwwQkFBQTtFQUFBLHNCQUFBO0VBQUEsdUJBQUE7RUFBQSw0QkFBQTtFQzhERCxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLG1CQUFBO01BQUEsZUFBQTtFQUVBLDZCQUFBO0VBQ0EsbURBQUE7QUxsRUQ7QUtvRUM7RUFDQyxrQkFBQTtFQUdBLGVBQUE7RUFDQSxtQkFBQTtNQUFBLHlDQUFBO1VBQUEscUNBQUE7RUFDQSxtREFBQTtBTHBFRjtBTXJJQztFQUVDLGVBQUE7QU5zSUY7QU1uSUc7RUFDQyxVQUFBO0FOcUlKO0FNaElDO0VBQ0MsWUFBQTtBTmtJRjtBTWhJRTtFQUNDLFVBQUE7QU5rSUg7O0FLV0M7RUQ3QkMsbUJBQUE7RUFBQSwwQkFBQTtFQUFBLHNCQUFBO0VBQUEsdUJBQUE7RUFBQSw0QkFBQTtFQzhERCxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLG1CQUFBO01BQUEsZUFBQTtFQUVBLDZCQUFBO0VBQ0EsbURBQUE7QUxwQ0Q7QUtzQ0M7RUFDQyxrQkFBQTtFQUdBLGVBQUE7RUFDQSxtQkFBQTtNQUFBLHlDQUFBO1VBQUEscUNBQUE7RUFDQSxtREFBQTtBTHRDRjs7QUtBRztFQUNDLFdBQUE7QUxHSjs7QUtKRztFQUNDLFVBQUE7QUxPSjs7QUtSRztFQUNDLHFCQUFBO0FMV0o7O0FLWkc7RUFDQyxVQUFBO0FMZUo7O0FLaEJHO0VBQ0MsVUFBQTtBTG1CSjs7QUtwQkc7RUFDQyxxQkFBQTtBTHVCSjs7QU1wS0M7RUFDQyxhQUFBO0FOdUtGO0FNcEtDO0VBQ0MsMkJBQUE7QU5zS0Y7QU1uS0M7RUFDQywwQkFBQTtBTnFLRjs7QU9sT0E7RUg0SkUsbUJBQUE7RUFBQSwwQkFBQTtFQUFBLHNCQUFBO0VBQUEsdUJBQUE7RUFBQSw0QkFBQTtFQzhERCxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLG1CQUFBO01BQUEsZUFBQTtFQUVBLDZCQUFBO0VBQ0EsbURBQUE7QUxnQkQ7QUtkQztFQUNDLGtCQUFBO0VBR0EsZUFBQTtFQUNBLG1CQUFBO01BQUEseUNBQUE7VUFBQSxxQ0FBQTtFQUNBLG1EQUFBO0FMY0Y7O0FRbFBBO0VBQ0Msa0JBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtBUjJQRDtBSTdKQztFQUVDLFlBQUE7RUFDQSxjQUFBO0FKOEpGO0FJM0pDO0VBQ0MsV0FBQTtBSjZKRjtBUS9QQztFQUNDLHFCQUFBO0FSaVFGO0FROVBDO0VBQ0MsYUFBQTtBUmdRRjtBUTdQQztFQUNDLFNBQUE7RUFDQSxVQUFBO0FSK1BGOztBUXJPQTtFQUNDLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxlQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0VBQ0EsWUFBQTtFQUNBLG1CQUFBO0VBQ0EsZ0JBQUE7QVJ1UEQ7QVFyUEM7RUFDQyxnQkFBQTtFQUNBLGFBQUE7RUFDQSxXQUFBO0VBQ0EsTUFBQTtFQUNBLE9BQUE7RUFDQSxrQkFBQTtBUnVQRjtBUXBQQztFQUNDLGdCQUFBO0VBQ0EsV0FBQTtFQUNBLE1BQUE7RUFDQSxPQUFBO0VBQ0Esa0JBQUE7RUFDQSw2QkFBQTtVQUFBLDBCQUFBO0FSc1BGO0FRblBDO0VBQ0MsZ0JBQUE7RUFDQSxNQUFBO0VBQ0Esa0JBQUE7RUFDQSxPQUFBO0VBQ0EsMkJBQUE7QVJxUEY7O0FRaFBDO0VBQ0Msa0JBQUE7RUFDQSxXQUFBO0VBQ0EsVUFBQTtFQUNBLG1CQUFBO0VBQ0EscUJBQUE7RUFDQSxxQkFBQTtFQUNBLHVCQUFBO1VBQUEsc0JBQUE7RUFDQSxnQkFBQTtBUm1QRjtBUWpQRTtFQUNDLGNBQUE7RUFDQSxrQkFBQTtFQUNBLE1BQUE7RUFDQSxPQUFBO0VBQ0EsVUFBQTtFQUNBLFdBQUE7RUFDQSxjQUFBO0VBQ0EsbUJBQUE7RUFDQSxZQUFBO0VBQ0EsbUJBQUE7RUFDQSxjQUFBO0VBQ0EsYUFBQTtBUm1QSDtBUS9PRztFQUNDLFlBQUE7RUFDQSxtQkFBQTtFQUNBLGFBQUE7QVJpUEo7QVExT0c7RUFDQyxZQUFBO0VBQ0EsMkJBQUE7RUFDQSxVQUFBO0FSNE9KO0FRck9HO0VBQ0MsWUFBQTtFQUNBLDJCQUFBO0VBQ0EsVUFBQTtBUnVPSjtBUXBPRztFQUNDLFlBQUE7RUFDQSxtQkFBQTtFQUNBLGFBQUE7QVJzT0o7QVFqT0c7RUFDQyxZQUFBO0VBQ0EsMkJBQUE7RUFDQSxVQUFBO0FSbU9KOztBUTFOQztFQUNDLGdCQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7RUFDQSxnQkFBQTtBUjZORjtBUTNORTtFQUNDLGNBQUE7RUFDQSxTQUFBO0VBQ0Esa0JBQUE7QVI2Tkg7QVEzTkc7RUFDQyxrQkFBQTtFQUNBLGNBQUE7QVI2Tko7QVF2TkU7RUFDQyx5QkFBQTtVQUFBLHFCQUFBO0FSeU5IOztBUWxOQTtFQUNDLGlCQUFBO0FScU5EO0FRbk5DO0VBQ0MsMkJBQUE7QVJxTkY7QVFsTkM7RUFDQywwQkFBQTtBUm9ORjtBUWpOQztFQUNDLDBCQUFBO0FSbU5GO0FRaE5DO0VBQ0Msd0JBQUE7QVJrTkY7O0FRMU1FO0VBQ0Msc0RBQUE7VUFBQSw4Q0FBQTtBUjZNSDtBUXhNRTtFQUNDLHFEQUFBO1VBQUEsNkNBQUE7QVIwTUg7O0FRck1BO0VBQ0MsMEJBQUE7QVJ3TUQ7O0FRbk1BOzs7OztFQUtDLHNDQUFBO0VBQ0EsV0FBQTtBUnNNRDtBSXhVQzs7Ozs7Ozs7O0VBRUMsWUFBQTtFQUNBLGNBQUE7QUppVkY7QUk5VUM7Ozs7O0VBQ0MsV0FBQTtBSm9WRjs7QVFyTkE7OztFQUdDLG1DQUFBO0FSd05EOztBUXJOQTtFQUNDLHFDQUFBO0FSd05EOztBUXJOQTtFQUNDLGVBQUE7RUFDQSxPQUFBO0VBQ0EsU0FBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0VBQ0EsWUFBQTtFQUNBLG1DQUFBO0VBQ0EsYUFBQTtBUndORDtBU2hkQztFQUNDLDJCQUFBO1VBQUEsdUJBQUE7QVRrZUY7QVMvZEM7RUFDQyxpQkFBQTtFQUNBLGtCQUFBO0FUaWVGO0FTL2RFO0VBQ0MsV0FBQTtBVGllSDtBUzdkQztFQUNDLGtCQUFBO0VBQ0EsZ0JBQUE7QVQrZEY7QVM1ZEM7RUFDQyxrQkFBQTtFQUNBLFVBQUE7RUFDQSxVQUFBO0VBQ0EsV0FBQTtFQUNBLGlCQUFBO0VBQ0EsYUFBQTtFQUNBLGdDQUFBO0VBQ0EsOEJBQUE7VUFBQSxzQkFBQTtFQUNBLDhCQUFBO1VBQUEsMkJBQUE7RUFDQSxVQUFBO0FUOGRGO0FTNWRFO0VBQ0MsMEJBQUE7VUFBQSx5QkFBQTtBVDhkSDtBUzNkRTtFQUVDLG1EQUFBO1VBQUEsMkNBQUE7QVQ0ZEg7QVN4ZEM7RUFDQyxrQkFBQTtFQUNBLFVBQUE7RUFDQSxjQUFBO0VBQ0EsU0FBQTtFQUNBLGdDQUFBO0FUMGRGO0FTdmRDO0VBQ0MsOEJBQUE7QVR5ZEY7QVN0ZEM7RUFDQyxhQUFBO0FUd2RGO0FTcmRDO0VBQ0MsWUFBQTtBVHVkRjs7QVVqaEJFO0VSeUJEO0lBQ0MsY0FBQTtJQUNBLG1CQUFBO1FBQUEsaUJBQUE7WUFBQSxhQUFBO0VGNERBO0VLZ0dEO0lEN0JDLG1CQUFBO0lBQUEsMEJBQUE7SUFBQSxzQkFBQTtJQUFBLHVCQUFBO0lBQUEsNEJBQUE7SUM4REQsb0JBQUE7SUFBQSxvQkFBQTtJQUFBLGFBQUE7SUFDQSxtQkFBQTtRQUFBLGVBQUE7SUFFQSw2QkFBQTtJQUNBLG1EQUFBO0VMMUhDO0VLNEhEO0lBQ0Msa0JBQUE7SUFHQSxlQUFBO0lBQ0EsbUJBQUE7UUFBQSx5Q0FBQTtZQUFBLHFDQUFBO0lBQ0EsbURBQUE7RUw1SEE7RUtzRkM7SUFDQyxXQUFBO0VMcEZGO0VLbUZDO0lBQ0MsVUFBQTtFTGpGRjtFS2dGQztJQUNDLHFCQUFBO0VMOUVGO0VLNkVDO0lBQ0MsVUFBQTtFTDNFRjtFSzBFQztJQUNDLFVBQUE7RUx4RUY7RUt1RUM7SUFDQyxxQkFBQTtFTHJFRjtFT3pIRDs7SUg4SkEsNkRBQUE7RUp3RkM7RVFuT0E7SUFDQyxrQkFBQTtJQUNBLFNBQUE7SUFDQSxXQUFBO0lBQ0EsZUFBQTtJQUNBLFlBQUE7SUFDQSxjQUFBO0lBQ0EsZ0RBQUE7WUFBQSx3Q0FBQTtFUjhQRDtFUXpQQztJQUNDLE9BQUE7SUFDQSxjQUFBO0VSMlBGO0FBbEtGOztBQzFFQTtFQUVFO0lBQ0MsMkJBQUE7RURqQkQ7RUNxQkM7SUFDQyxtQkFBQTtFRG5CRjtFQ3dCQztJQUNDLGdCQUFBO0VEdEJGO0VDeUJDO0lBQ0MsbUJBQUE7RUR2QkY7RUN5QkU7SUFDQyxhQUFBO0VEdkJIO0VRZ05BO0lBQ0Msa0JBQUE7SUFDQSxTQUFBO0lBQ0EsV0FBQTtJQUNBLGVBQUE7SUFDQSxZQUFBO0lBQ0EsY0FBQTtJQUNBLGdEQUFBO1lBQUEsd0NBQUE7RVJzTkQ7RVFqTkM7SUFDQyxPQUFBO0lBQ0EsY0FBQTtFUm1ORjtBQWhiRiIsImZpbGUiOiJ3b29jb21tZXJjZS5jc3MifQ== */