// Images
img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
figure {
  @include margin-emcalc(0, 0, $figure-margin-bottom, 0);
}

// wordpress-specific
.wp-caption {
	max-width: 100%;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img,
.wp-caption {
	&.alignleft,
	&.alignright {
		display: inline;
	}
	&.alignleft {
		margin-right: $base-margin-emcalc;
		clear: left;
	}
	&.alignright {
		margin-left: $base-margin-emcalc;
		clear: right;
	}
	&.alignleft,
	&.alignright,
	&.aligncenter {
		margin-bottom: $base-margin-half-emcalc;
	}
}
.wp-caption-text,
.gallery-caption {
	@include meta;
	@include margin-top-emcalc($base-margin-quarter, $meta-font-size);
}
.gallery {
	@include row;
	margin-bottom: $base-margin-emcalc;
	padding-top: $base-margin-half-emcalc;
}
.gallery-item {
	@include column;
	margin-bottom: $base-margin-emcalc;
	img {
		display: block;
	}
}

@include generate-block-grid-classes(6, '.gallery-columns', '.gallery-item');
