* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

// CONTENT LAYOUT
.doc-main {
	@include margin-bottom-emcalc($doc__margin-bottom);
}

.hentry {
	@include margin-bottom-emcalc($hentry__margin-bottom);
}

.widget {
	@include margin-bottom-emcalc($widget__margin-bottom);
}

.entry-figure {
	@include margin-bottom-emcalc($figure__margin-bottom);
}

.sticky {
	@include background-color($sticky__background-color);
	@include padding-emcalc($sticky__padding);
}
