.clearfix {
	@include clearfix;
}

.ir {
	@include ir;
}

//.sprite {
//	display: inline-block;
//	@include img-retina('img/nest-sprite.png', 'img/nest-sprite@2x.png', 84px, 240px);
//	background-repeat: no-repeat;
//}

.sr-only,
.screen-reader-text {
	@include sr-only;
}

