.doc-main {
	@include margin-bottom-unitcalc( $doc__margin-bottom );
}

.hentry {
	@include margin-bottom-unitcalc( $entry__margin-bottom );
}

.widget {
	@include margin-bottom-unitcalc( $widget__margin-bottom );
}

.entry-figure {
	@include margin-bottom-unitcalc( $figure__margin-bottom );
}

//.sticky {
//}

.entry-header {
	margin-bottom: unitcalc( $base__margin );
}

// SINGLE POSTS
.share-link {
	display: inline-block;
	margin-right: 1em;
}

@each $name, $value in $share-colors {
	.share-link--#{$name} {
		color: $value;

		&:hover,
		&:focus {
			color: tint( $value, 25% );
		}
	}
}

.share-link-icon {
	display: inline-block;
	margin-right: .5em;
	vertical-align: middle;
}


// ARCHIVES
