// GENERAL TYPE STYLES
// -------------------------
* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-size: percentage( $base__font-size / 16 );
	line-height: $base__line-height;
	font-family: $base__font-family;
	font-weight: $base__font-weight;
	text-align: $base__text-align;
	color: $base__color;
	background-color: $base__background-color;
	width: 100%;
	@extend .clearfix;
}

p,
ul,
ol,
dl,
pre,
address,
hr,
table {
	@include margin-unitcalc( $value-bottom: $base__margin );
}

dfn,
cite,
em,
i {
	font-style: italic;
}

abbr,
acronym {
	@include border( 1, dotted, $base__border-color );
	cursor: help;
}

mark,
ins {
	background: $highlight__background-color;
	text-decoration: none;
	color: $highlight__color;
}

ul {
	list-style: disc outside;

	ul {
		list-style-type: circle;

		ul {
			list-style-type: square;
		}
	}
}

ol {
	list-style: decimal outside;
}

ul,
ol {
	padding: 0 0 0 unitcalc( $base__margin );

	ul,
	ol {
		padding-top: unitcalc( $base__margin--quarter );
		margin-bottom: 0;

		@if ( $base__unit == 'em' ) {
			font-size: 1em;
		}
	}
}

li {
	margin-bottom: unitcalc( $base__margin--quarter );
}

a {
	color: $link__color;
	text-decoration: $link__text-decoration;
	outline: 0;

	&:hover,
	&:focus {
		color: $link__color--hover;
		@include text-decoration-change( $link__text-decoration--hover, $link__text-decoration );
	}

	&:focus {
		@include tab-focus;
		outline: 0;
	}
}

b,
strong {
	font-weight: $base__font-weight--bold;
}

dt,
dd {
	line-height: $base__line-height;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0; // Undo browser default
	margin-bottom: unitcalc( $base__margin--half );
}

hr {
	border: 0;
	@include border( 1, solid, $base__border-color );
}

// Abbreviations and acronyms
abbr[title],
abbr[data-original-title] {
	cursor: help;
	@include border( 1, dotted, $base__border-color );
}

abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

// Blockquotes
blockquote {
	@include text-style(
		$blockquote__font-family,
		$blockquote__font-size,
		$blockquote__line-height,
		$blockquote__font-weight,
		$blockquote__text-align,
		$blockquote__color,
		$blockquote__font-style,
		$blockquote__text-transform,
		$blockquote__letter-spacing,
		$blockquote__text-decoration,
		$blockquote__margin-top,
		$blockquote__margin-right,
		$blockquote__margin-bottom,
		$blockquote__margin-left,
		$blockquote__font-size--lg,
		$blockquote__breakpoint
	);
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
	content: '';
}

// Addresses
address {
	display: block;
	font-style: normal;
	line-height: $base__line-height;
}

// Emphasis & misc
small {
	font-size: unitcalc( $base__font-size--sm );
}

table {
	@include font-family-change( $table__font-family );
	@include font-size-change( $table__font-size );
	@include line-height-change( $table__line-height );
	@include font-weight-change( $table__font-weight );
	@include text-align-change( $table__text-align );
	@include color-change( $table__color );
	@include margin-change-unitcalc( 0, 0, $base__margin, 0, $table__margin-top, 0, $table__margin-bottom, 0 );
	width: 100%;
	max-width: 100%;
	word-break: break-all;
}

th,
td {
	@include padding-unitcalc( $value-top: $td__padding-vertical, $value-right: $td__padding-horizontal, $font-size: $table__font-size );
	border-style: $table__border-style;
	border-color: $table__border-color;
	@include border-width-unitcalc( $td__border-top-width, $td__border-right-width, $td__border-bottom-width, $td__border-left-width );
	@include text-align-change( $td__text-align );
	vertical-align: $table__vertical-align;
}

th {
	@include font-weight-change( $th__font-weight );
	@include text-align-change( $th__text-align );
}

code,
kbd,
pre,
samp {
	font-family: $preformatted__font-family;
	font-size: unitcalc( $preformatted__font-size );
	color: $preformatted__color;
}

code,
kbd {
	@include padding-unitcalc( $value-top: $preformatted__padding-vertical, $value-right: $preformatted__padding-horizontal, $font-size: $preformatted__font-size );
	@include border-radius-unitcalc( $preformatted__border-radius, $preformatted__font-size );
}

code {
	@include color-change( $code__color, $preformatted__color );
	background-color: $code__background-color;
	display: inline-block;
	word-wrap: break-word;
}

kbd {
	@include color-change( $kbd__color, $preformatted__color );
	background-color: $kbd__background-color;

	kbd {
		padding: 0;
		font-size: inherit;
		font-weight: bold;
	}
}

pre {
	display: block;
	@include font-family-change( $pre__font-family, $preformatted__font-family );
	@include color-change( $pre__color, $preformatted__color );
	background-color: $pre__background-color;
	@include padding-unitcalc( $value-top: $pre__padding-vertical, $value-right: $pre__padding-horizontal, $font-size: $preformatted__font-size );
	@include margin-top-unitcalc( $pre__margin-top );
	@include margin-bottom-unitcalc( $pre__margin-bottom );
	@include border-radius-unitcalc( $preformatted__border-radius, $preformatted__font-size );
	max-width: 100%;
	overflow: auto;

	code {
		padding: 0;
		font-size: inherit;
		color: inherit;
		background-color: transparent;
		border-radius: 0;
	}
}

.pre-scrollable {
	max-height: unitcalc( 340, $preformatted__font-size );
	overflow-y: scroll;
}

// HEADINGS
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	@include heading;
}

h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

h4 {
	@include h4;
}

h5 {
	@include h5;
}

h6 {
	@include h6;
}

// THEME ELEMENTS
// -------------------------
.entry-title {
	@include entry-title;
}

.doc-title {
	@include doc-title;
}

.widget-title {
	@include widget-title;
}

.section-title {
	@include section-title;
}

.nav-title {
	@include nav-title;
}

.lede {
	@include lede;
}

// META
// -------------------------
.entry-meta {
	@include entry-meta;
	clear: both;
}

// TYPEKIT
// -------------------------
.wf-loading {
	body {
		visibility: hidden;
	}
}
