.site-header {
	@include guttered;
}

.site-nav__toggle {
	@include button;
	margin-bottom: unitcalc( $base__margin--half, $button__font-size );

	.no-js & {
		display: none;
	}

	.toggled & {
		color: $button__color--hover;
		background-color: $button__background-color--hover;
		border-color: $button__border-color--hover;
	}

	@include bp-md__mq-up {
		display: none;
	}

}

.menu--primary {
	display: none;

	.no-js & {
		display: block;
	}

	.toggled & {
		display: block;
	}

	@include bp-md__mq-up {
		display: block;
	}
}

.site-title {
	font-size: 1em;
	margin-bottom: unitcalc( $base__margin--half );
}

.site-description {
	margin-bottom: unitcalc( $base__margin--half );
}

