.site-header {
	@include guttered;
}

.site-nav__toggle {
	margin-bottom: unitcalc( $base__margin--half, $button__font-size );
	padding: 0;
	border: 0;

	.no-js & {
		display: none;
	}

	.toggle-icon--close {
		display: none;
	}

	.toggled & {
		color: $button--trans__color--hover;
		.toggle-icon--menu {
			display: none;
		}

		.toggle-icon--close {
			display: block;
		}
	}

	@include bp-md__mq-up {
		display: none;
	}

}

.menu--primary {
	display: none;

	.no-js & {
		display: block;
	}

	.toggled & {
		display: block;
	}

	@include bp-md__mq-up {
		display: block;
	}
}

.site-title {
	font-size: 1em;
	margin-bottom: unitcalc( $base__margin--half );
}

.site-description {
	margin-bottom: unitcalc( $base__margin--half );
}

