// Text overflow
// Requires inline-block or block for proper styling
.text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Hide from everything but screen readers
.text-sr-only() {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	&:hover,
	&:active,
	&:focus {
		clip: auto;
		position: inherit;
	}
}

// Font size. line-height and margin calculations, to be used in base.less
.font-size-emcalc(@size: @base-font-size; @default: @base-font-size) when not (@size = @default) {
	font-size: unit((@size / @default), em);
}
.font-family(@font-family; @base-font-family; @default: @base-font-family) when not (@font-family = @default) {
  font-family: @font-family;
}
.line-height(@line-height: @base-line-height; @default: @base-line-height) when not (@line-height = @default) {
  line-height: @line-height;
}

// Optional hyphenation
.hyphens(@mode: auto) {
	word-wrap: break-word;
	hyphens: @mode;
}

// Remove bullets/numbers and padding
.list-unstyled() {
	padding-left: 0;
	list-style: none;
}
// Inline turns list items into inline-block
.list-inline() {
	.list-unstyled();
	> li {
		display: inline-block;
		padding-left: .5em;
		padding-right: .5em;
	}
}

// Headings
// -------------------------
.heading() {
	font-family: @headings-font-family;
	line-height: @headings-line-height;
	font-weight: @headings-font-weight;
	color: @headings-color;
	margin-top: 0;
	a {
		color: @headings-link-color;
		&:hover,
		&:focus {
			color: @headings-link-hover-color;
			text-decoration: none;
		}
	}
}
.heading-mq-resize(@font-size: @base-font-size; @font-size-mq: @base-font-size; @margin-top: 0; @margin-bottom: @base-margin; @mq: @tablet) when not (@font-size-mq = @font-size) {
  .font-size-emcalc(@font-size-mq);
  .margin-top-emcalc(@margin-top; @font-size-mq);
  .margin-bottom-emcalc(@margin-bottom; @font-size-mq);
}
.heading-size(@font-size: @base-font-size; @font-size-lg: @base-font-size; @line-height: @headings-line-height; @margin-top: 0; @margin-bottom: @base-margin; @breakpoint-lg: @tablet) {
  .font-size-emcalc(@font-size);
  .line-height(@line-height; @headings-line-height);
  .heading-margin-top(@margin-top; @font-size) when (@margin-top > 0) {
    .margin-top-emcalc(@margin-top; @font-size)
  }
  .margin-bottom-emcalc(@margin-bottom; @font-size);
  .heading-mq-resize(@font-size; @font-size-lg; @margin-top; @margin-bottom; @breakpoint-lg);
}
.h1() {
  .heading-size(@h1-font-size; @h1-font-size-lg; @h1-line-height; @h1-margin-top; @h1-margin-bottom; @tablet);
}
.h2() {
  .heading-size(@h2-font-size; @h2-font-size-lg; @h2-line-height; @h2-margin-top; @h2-margin-bottom; @tablet);
}
.h3() {
  .heading-size(@h3-font-size; @h3-font-size-lg; @h3-line-height; @h3-margin-top; @h3-margin-bottom; @tablet);
}
.h4() {
  .heading-size(@h4-font-size; @h4-font-size-lg; @h4-line-height; @h4-margin-top; @h4-margin-bottom; @tablet);
}
.h5() {
  .heading-size(@h5-font-size; @h5-font-size-lg; @h5-line-height; @h5-margin-top; @h5-margin-bottom; @tablet);
}
.h6() {
  .heading-size(@h6-font-size; @h6-font-size-lg; @h6-line-height; @h6-margin-top; @h6-margin-bottom; @tablet);
}
