@use 'abstracts' as *;
@use 'utility' as *;
@use 'layout' as *;

// comment list
.comments-list {
	@include list-unstyled;

	.children {
		@include list-unstyled;
		// margin-inline-start: cssvar('spacing');
		margin-inline-start: cssvar('spacing');
	}

	.comment {
		margin-block-end: 1em;
		border-bottom: 1px solid cssvar('border-color');
	}

	.comment .comment {
		padding-block-start: 1em;
		border-top: 1px solid cssvar('border-color');
		border-bottom: 0;
	}

	p {
		margin-block-end: cssvar('spacing--sm');
	}
}

// comment
.comment-meta {
	@extend .entry-meta;
}

.comment-header {
	margin-block-end: cssvar('spacing--sm');
}

// comment-form
.comment-main {
	display: inline-block;
}

.form-allowed-tags {
	clear: both;
	width: 95%;
	@extend %visually-hidden;
}

.form-allowed-tags code {
	display: block;
}

.bypostauthor {
	//font-weight: bold;
}

// .submit {
// 	@extend .button;
// }
