// comment list
.comments-list {
	@include list-unstyled;

	.children {
		@include list-unstyled;
		margin-left: var(--#{$prefix}spacing);
	}

	.comment {
		margin-bottom: 1em;
		border-bottom: 1px solid var(--#{$prefix}border-color);
	}

	.comment .comment {
		padding-top: 1em;
		border-top: 1px solid var(--#{$prefix}border-color);
		border-bottom: 0;
	}

	p {
		margin-bottom: var(--#{$prefix}spacing--s);
	}
}

// comment
.comment-meta {
	@extend .entry-meta;
}

.comment-header {
	margin-bottom: var(--#{$prefix}spacing--s);
}

// comment-form
.comment-main {
	display: inline-block;
}

.form-allowed-tags {
	clear: both;
	width: 95%;
	@extend .sr-only;
}

.form-allowed-tags code {
	display: block;
}

.bypostauthor {
	//font-weight: bold;
}

.submit {
	@extend .button;
}
