@use 'abstracts' as *;
@use 'layout' as *;
@use 'icons' as *;

// RESETS
button,
input,
optgroup,
select,
textarea,
label,
legend {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
	word-wrap: normal;
	appearance: none;

	&:disabled {
		opacity: 1;
	}
}

input[type="search"] {
	box-sizing: border-box;
}

option {
	color: cssvar('color');
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;

	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&::-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	box-sizing: border-box;
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
// THEME
label {
	display: block;
	font-size: cssvar('font-size--sm');
	margin: 0 0 cssvar('spacing--xs');

	input:required &,
	input.required & {

	}

	input:invalid &,
	input.invalid & {
		color: cssvar('color-danger');
	}
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	// reset styles
	display: block;
	width: 100%;
	max-width: 100%;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	color: inherit;
	white-space: normal;
	display: block;
	font-size: cssvar('font-size--sm');
	color: cssvar('color--alt');
	margin-block-end: cssvar('spacing--xs');
}

.helper-text {
	font-size: cssvar('font-size--sm');
	color: cssvar('color--alt');
	margin-block-start: cssvar('spacing--xs');

	input.invalid & {
		color: cssvar('color-danger');
	}
}

textarea {
	width: 100%;
	resize: vertical;
}

// BUTTONS
// ---------------------------
.btn {
	@include btn;
}


// .button,
// button,
// input[type="submit"],
// input[type="button"],
// input[type="reset"],
// a[role="button"],
.wp-block-button__link,
.wp-block-file__button, {
	@extend .btn;
}

.btn--lg {
	@include set-cssvar('btn__font-size', cssvar('font-size--lg'));
}

.btn--sm {
	@include set-cssvar('btn__font-size', cssvar('font-size--sm'));
}

.btn--xs {
	@include set-cssvar('btn__font-size', cssvar('font-size--xs'));
}

//	Alternate button states
.btn--secondary {
	@include set-cssvars(
		(
			btn__background-color: cssvar('color-secondary'),
			btn__border-color: cssvar('color-secondary'),
			btn--focus__background-color: cssvar('color-secondary--focus'),
			btn--focus__border-color: cssvar('color-secondary--focus'),
			btn--focus__box-shadow-color: cssvar('color-secondary--subtle'),
		)
	);
}

.btn--success {
	@include set-cssvars(
		(
			btn__background-color: cssvar('color-success'),
			btn__border-color: cssvar('color-success'),
			btn--focus__background-color: cssvar('color-success--focus'),
			btn--focus__border-color: cssvar('color-success--focus'),
			btn--focus__box-shadow-color: cssvar('color-success--subtle'),
		)
	);
}

.btn--warning {
	@include set-cssvars(
		(
			btn__background-color: cssvar('color-warning'),
			btn__border-color: cssvar('color-warning'),
			btn--focus__background-color: cssvar('color-warning--focus'),
			btn--focus__border-color: cssvar('color-warning--focus'),
			btn--focus__box-shadow-color: cssvar('color-warning--subtle'),
		)
	);
}

.btn--info {
	@include set-cssvars(
		(
			btn__background-color: cssvar('color-info'),
			btn__border-color: cssvar('color-info'),
			btn--focus__background-color: cssvar('color-info--focus'),
			btn--focus__border-color: cssvar('color-info--focus'),
			btn--focus__box-shadow-color: cssvar('color-info--subtle'),
		)
	);
}

.btn--danger {
	@include set-cssvars(
		(
			btn__background-color: cssvar('color-danger'),
			btn__border-color: cssvar('color-danger'),
			btn--focus__background-color: cssvar('color-danger--focus'),
			btn--focus__border-color: cssvar('color-danger--focus'),
			btn--focus__box-shadow-color: cssvar('color-danger--subtle'),
		)
	);
}

.btn--outline {
	@include set-cssvars(
		(
			btn__color: cssvar('color-primary'),
			btn__background-color: transparent,
			btn__border-color: cssvar('color-primary'),
			btn--focus__color: cssvar('background-color'),
			btn--focus__background-color: cssvar('color-primary--focus'),
			btn--focus__border-color: cssvar('color-primary--focus')
		)
	);
}

.btn--trans {
	@include set-cssvars(
		(
			btn__color: cssvar('color-primary'),
			btn__background-color: transparent,
			btn__border-color: transparent,
			btn--focus__color: cssvar('color-primary--focus'),
			btn--focus__background-color: transparent,
			btn--focus__border-color: transparent
		)
	);
}

.btn--unstyled {
	@include btn--unstyled;
}

.btn--link {
	@include btn--link;
}

.btn--block {
	@include btn--block;
}

.btn--icon {
	svg {
		display: block;
		width: 1em;
		height: 1em;
	}
}

// FORM CONTROLS
// ---------------------------
.input {
	@include input;
}

.form-control,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
optgroup {
	@extend .input;
}

select,
select.input {
	@include select-input;
}

.input--constrained {
	max-width: cssvar('input--constrained__max-width');
}

.input--lg {
	@include set-cssvar('input__font-size', cssvar('font-size--lg'));
}

.input--sm {
	@include set-cssvar('input__font-size', cssvar('font-size--sm'));
}

.input--xs {
	@include set-cssvar('input__font-size', cssvar('font-size-xs'));
}

// FORM GROUPS
// -------------------------
.form-group {
	margin-block: cssvar('margin-block-start') cssvar('margin-block-end');
}

.form-check {
	input,
	label {
		display: inline-block;
		margin-inline-end: .25em;
	}
}

.form-group--validate {
	display: flex;
	flex-direction: column;

	label {
		order: -1;
	}

	label,
	.helper-text {
		display: none;
	}

	label,
	.helper-text {
		opacity: 0;
		transition: opacity .15s ease-in-out;
	}

	.input {
		&.invalid {
			~ .helper-text {
				display: block;
				opacity: 1;
			}
		}
	}

	input:focus {
		& + label,
		& ~ .helper-text {
			display: block;
			opacity: 1;
		}
	}
}
