// RESETS
button,
input,
optgroup,
select,
textarea,
label,
legend {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
	word-wrap: normal;
	appearance: none;

	&:disabled {
		opacity: 1;
	}
}

option {
	color: var(--#{$prefix}color);
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;

	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&::-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
// THEME
label {
	display: block;
	font-size: var(--#{$prefix}font-size--s);
	margin: 0 0 var(--#{$prefix}spacing--xs);

	input:required ~ &,
	input.required ~ & {

	}

	input:invalid ~ &,
	input.invalid ~ & {
		color: var(--#{$prefix}color-danger);
	}
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	// reset styles
	display: block;
	width: 100%;
	max-width: 100%;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	color: inherit;
	white-space: normal;
	display: block;
	font-size: var(--#{$prefix}font-size--s);
	color: var(--#{$prefix}color--alt);
	margin: 0 0 var(--#{$prefix}spacing--xs);
}

.helper-text {
	font-size: var(--#{$prefix}font-size--s);
	color: var(--#{$prefix}color--alt);
	margin: var(--#{$prefix}spacing--xs) 0 0 0;

	input.invalid ~ & {
		color: var(--#{$prefix}color-danger);
	}
}

textarea {
	width: 100%;
	resize: vertical;
}

// FORM GROUPS
// -------------------------
.form-group {
	margin: 0 0 var(--#{$prefix}spacing);
}

.form-check {
	input,
	label {
		display: inline-block;
		margin-right: .25em;
	}
}

.form-group--validate {
	display: flex;
	flex-direction: column;

	label {
		order: -1;
	}

	label,
	.helper-text {
		display: none;
	}

	label,
	.helper-text {
		opacity: 0;
		transition: opacity .15s ease-in-out;
	}

	.input {
		&.invalid {
			~ .helper-text {
				display: block;
				opacity: 1;
			}
		}
	}

	input:focus {
		& + label,
		& ~ .helper-text {
			display: block;
			opacity: 1;
		}
	}
}

.form-row--inline {
	& > * {
		@include col--auto;
		//margin: 0 0 var(--#{$prefix}spacing);
	}
}

// BUTTONS
// ---------------------------
.btn {
	@include cssvars(
		(
			btn__font-size: var(--#{$prefix}font-size),
			btn__color: #{$white},
			btn__background-color: var(--#{$prefix}color-primary),
			btn__border-color: var(--#{$prefix}color-primary),
			btn--hover__color: #{$white},
			btn--hover__background-color: var(--#{$prefix}color-primary--hover),
			btn--hover__border-color: var(--#{$prefix}color-primary--hover),
			btn--focus__box-shadow-color: var(--#{$prefix}color-primary--subtle)
		)
	);
	font-family: var(--#{$prefix}font-family--sans-serif);
	font-size: var(--#{$prefix}btn__font-size);
	line-height: var(--#{$prefix}line-height);
	padding: .5em 1.125em;
	color: var(--#{$prefix}btn__color);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 0;
	background-color: var(--#{$prefix}btn__background-color);
	border: 1px solid var(--#{$prefix}btn__border-color);
	border-radius: .25rem;
	white-space: nowrap;
	outline: none;
	transition: var(--#{$prefix}transition);
	box-shadow: none;

	&:not(:disabled) {
		cursor: pointer;
	}

	&:hover,
	&:focus {
		color: var(--#{$prefix}btn--hover__color);
		text-decoration: none;
		background-color: var(--#{$prefix}btn--hover__background-color);
		border-color: var(--#{$prefix}btn--hover__border-color);
	}

	&:focus-visible {
		box-shadow: 0 0 0 .25rem var(--#{$prefix}btn--focus__box-shadow-color); // safari-style focus
	}

	&.disabled,
	&:disabled {
		cursor: not-allowed;
		pointer-events: none;
		opacity: 0.5;
	}
}

// button,
// input[type="submit"],
// input[type="button"],
// input[type="reset"],
// a[role="button"] {
// 	@extend .btn;
// }

.btn--l {
	@include cssvars(
		(
			btn__font-size: var(--#{$prefix}font-size--l)
		)
	);
}

.btn--s {
	@include cssvars(
		(
			btn__font-size: var(--#{$prefix}font-size--s)
		)
	);
}

.btn--xs {
	@include cssvars(
		(
			btn__font-size: var(--#{$prefix}font-size--xs)
		)
	);
}

//	Alternate button states
.btn--secondary {
	@include cssvars(
		(
			// btn__color: #{$white},
			btn__background-color: var(--#{$prefix}color-secondary),
			btn__border-color: var(--#{$prefix}color-secondary),
			// btn--hover__color: #{$white},
			btn--hover__background-color: var(--#{$prefix}color-secondary--hover),
			btn--hover__border-color: var(--#{$prefix}color-secondary--hover),
			btn--focus__box-shadow-color: var(--#{$prefix}color-secondary--subtle)
		)
	);
}

.btn--success {
	@include cssvars(
		(
			// btn__color: #{$white},
			btn__background-color: var(--#{$prefix}color-success),
			btn__border-color: var(--#{$prefix}color-success),
			// btn--hover__color: #{$white},
			btn--hover__background-color: var(--#{$prefix}color-success--hover),
			btn--hover__border-color: var(--#{$prefix}color-success--hover),
			btn--focus__box-shadow-color: var(--#{$prefix}color-success--subtle)
		)
	);
}

.btn--warning {
	@include cssvars(
		(
			// btn__color: #{$white},
			btn__background-color: var(--#{$prefix}color-warning),
			btn__border-color: var(--#{$prefix}color-warning),
			// btn--hover__color: #{$white},
			btn--hover__background-color: var(--#{$prefix}color-warning--hover),
			btn--hover__border-color: var(--#{$prefix}color-warning--hover),
			btn--focus__box-shadow-color: var(--#{$prefix}color-warning--subtle)
		)
	);
}

.btn--info {
	@include cssvars(
		(
			// btn__color: #{$white},
			btn__background-color: var(--#{$prefix}color-info),
			btn__border-color: var(--#{$prefix}color-info),
			// btn--hover__color: #{$white},
			btn--hover__background-color: var(--#{$prefix}color-info--hover),
			btn--hover__border-color: var(--#{$prefix}color-info--hover),
			btn--focus__box-shadow-color: var(--#{$prefix}color-info--subtle)
		)
	);
}

.btn--danger {
	@include cssvars(
		(
			// btn__color: #{$white},
			btn__background-color: var(--#{$prefix}color-danger),
			btn__border-color: var(--#{$prefix}color-danger),
			// btn--hover__color: #{$white},
			btn--hover__background-color: var(--#{$prefix}color-danger--hover),
			btn--hover__border-color: var(--#{$prefix}color-danger--hover),
			btn--focus__box-shadow-color: var(--#{$prefix}color-danger--subtle)
		)
	);
}

.btn--outline {
	@include cssvars(
		(
			btn__color: var(--#{$prefix}color-primary),
			btn__background-color: transparent,
			btn__border-color: var(--#{$prefix}color-primary),
			btn--hover__color: #{$white},
			btn--hover__background-color: var(--#{$prefix}color-primary--hover),
			btn--hover__border-color: var(--#{$prefix}color-primary--hover)
		)
	);
}

.btn--trans {
	@include cssvars(
		(
			btn__color: var(--#{$prefix}color-primary),
			btn__background-color: transparent,
			btn__border-color: transparent,
			btn--hover__color: var(--#{$prefix}color-primary--hover),
			btn--hover__background-color: transparent,
			btn--hover__border-color: transparent
		)
	);
}

.btn--link {
	@include btn--unstyled();
	color: $link__color;
	text-decoration: $link__text-decoration;

	&:hover,
	&:focus {
		color: $link--hover__color;
		text-decoration: $link--hover__text-decoration;
	}
}

.btn--block {
	display: block;
	text-align: center;
}

.btn--icon {
	svg {
		display: block;
		width: 1em;
		height: 1em;
	}
}

// FORM CONTROLS
// ---------------------------
.input {
	@include cssvars(
		(
			input__font-size: var(--#{$prefix}font-size)
		)
	);
	font-family: var(--#{$prefix}font-family--sans-serif);
	font-size: var(--#{$prefix}input__font-size);
	display: block;
	width: 100%;
	padding: 0.5em 0.75em;
	margin: 0;
	color: var(--#{$prefix}color);
	border: 1px solid var(--#{$prefix}border-color);
	border-radius: .25rem;
	outline: none;
	background-color: var(--#{$prefix}background-color);
	box-shadow: none;

	&:focus {
		background-color: var(--#{$prefix}background-color);
		border-color: var(--#{$prefix}border-color);
		box-shadow: 0 0 0 .25rem var(--#{$prefix}color--subtle);
	}

	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}

	&::placeholder {
		opacity: 1;
		color: var(--#{$prefix}color--alt2);
	}

	&.invalid,
	&:invalid {
		border-color: var(--#{$prefix}color-danger);
	}

	&.disabled,
	&:disabled {
		opacity: 0.5;
	}
}

// textarea,
// input[type="text"],
// input[type="password"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="date"],
// input[type="time"],
// input[type="week"],
// input[type="month"],
// input[type="number"],
// input[type="email"],
// input[type="url"],
// input[type="search"],
// input[type="tel"],
// input[type="color"],
// select,
// optgroup {
// 	@extend .input;
// }

select {
	padding-right: 1.5em;
	background-image: var(--#{$prefix}select-icon);
	background-repeat: no-repeat;
	background-position: right .375em top 50%;
	background-size: 1em auto;
}

input[type="search"] {
	box-sizing: border-box;
}

.input--l {
	font-size: var(--#{$prefix}font-size--l);
}

.input--s {
	font-size: var(--#{$prefix}font-size--s);
}

.input--xs {
	font-size: var(--#{$prefix}font-size--xs);
}
