.site-nav__toggle {
	margin-bottom: var(--#{$prefix}spacing--s);

	.no-js & {
		display: none;
	}

	&[aria-expanded="true"] {

	}

	// @include bp-m__mq-up {
	// 	display: none;
	// }

}

.menu--primary[aria-hidden] {
	display: none;

	.no-js & {
		display: block;
	}

	// [aria-expanded="true"] & {
	// 	display: block;
	// }

	// @include bp-m__mq-up {
	// 	display: block;
	// }
}

.site-title {
	font-size: 1em;
	margin-bottom: var(--#{$prefix}spacing--s);
}

.site-description {
	margin-bottom:var(--#{$prefix}spacing--s);
}

