
.icon {
	display: inline-block;
	vertical-align: middle;
	mask-image: url(../img/icon-sprite.svg?v=7.1.226);
	mask-size: 100% auto;
	width: 1em;
	height: 1em;
	mask-repeat: no-repeat;
	background-color: currentColor;
}
[class*="icon"] {
	@extend .icon;
}
.icon--add {
	mask-position: 0 0;
}
.icon--arrow_back_ios {
	mask-position: 0 -1em;
}
.icon--arrow_drop_down {
	mask-position: 0 -2em;
}
.icon--arrow_drop_up {
	mask-position: 0 -3em;
}
.icon--arrow_forward_ios {
	mask-position: 0 -4em;
}
.icon--bluesky {
	mask-position: 0 -5em;
}
.icon--chevron_left {
	mask-position: 0 -6em;
}
.icon--chevron_right {
	mask-position: 0 -7em;
}
.icon--close {
	mask-position: 0 -8em;
}
.icon--digg {
	mask-position: 0 -9em;
}
.icon--expand_less {
	mask-position: 0 -10em;
}
.icon--expand_more {
	mask-position: 0 -11em;
}
.icon--facebook {
	mask-position: 0 -12em;
}
.icon--file_download {
	mask-position: 0 -13em;
}
.icon--github {
	mask-position: 0 -14em;
}
.icon--insert_drive_file {
	mask-position: 0 -15em;
}
.icon--instagram {
	mask-position: 0 -16em;
}
.icon--launch {
	mask-position: 0 -17em;
}
.icon--linkedin {
	mask-position: 0 -18em;
}
.icon--mail {
	mask-position: 0 -19em;
}
.icon--mastodon {
	mask-position: 0 -20em;
}
.icon--menu {
	mask-position: 0 -21em;
}
.icon--pinterest {
	mask-position: 0 -22em;
}
.icon--pocket {
	mask-position: 0 -23em;
}
.icon--reddit {
	mask-position: 0 -24em;
}
.icon--threads {
	mask-position: 0 -25em;
}
.icon--tumblr {
	mask-position: 0 -26em;
}
.icon--twitter {
	mask-position: 0 -27em;
}
.icon--vimeo {
	mask-position: 0 -28em;
}
.icon--x {
	mask-position: 0 -29em;
}
.icon--youtube {
	mask-position: 0 -30em;
}