@use 'abstracts' as *;
@use 'layout' as *;

.doc-main,
.entry,
.widget {
	margin-block: cssvar('margin-block-start') cssvar('margin-block-end');
}

// SINGLE POSTS
.share-link {
	display: inline-block;
	margin-inline: .375em;
}

// Uncomment below to output social network colors
//@each $name, $value in $share-colors {
//	.share-link--#{$name} {
//		color: $value;
//
//		&:hover,
//		&:focus {
//			color: tint($value, 25%);
//		}
//	}
//}



// ARCHIVES
