.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.doc-main {
	padding-top: var(--spacing--l);
	margin: 0 0 var(--spacing);
}

.entry {
	margin: 0 0 var(--spacing--l);
}

.widget {
	margin: 0 0 var(--spacing);
}

.entry-figure {
	margin: 0 0 var(--spacing--l);
}

//.sticky {
//}

.entry-header {
	margin-bottom: var(--spacing);
}

// SINGLE POSTS
.share-link {
	display: inline-block;
	margin-right: 1em;
}

// Uncomment below to output social network colors
//@each $name, $value in $share-colors {
//	.share-link--#{$name} {
//		color: $value;
//
//		&:hover,
//		&:focus {
//			color: tint($value, 25%);
//		}
//	}
//}

.share-link-icon {
	display: inline-block;
	margin-left: .5em;
	vertical-align: middle;
}


// ARCHIVES
