@use 'abstracts' as *;
@use 'layout' as *;

img,
picture,
video,
audio,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

svg:not([fill]) {
	fill: currentColor;
}

video,
picture,
canvas,
.wp-video {
	margin-block: cssvar('margin-block-start') cssvar('margin-block-end');
}

.aligncenter {
	display: block;
	margin-inline: auto;
}

.wp-caption {
	display: table;
	max-width: 100%;

	figcaption {
		display: table-caption;
		caption-side: bottom;
	}
}

// NON-BLOCK THEMES
// .gallery  {
// 	@extend .gallery-row;
// 	margin-block: cssvar('margin-block-start') cssvar('margin-block-end');
// }
//
// .gallery-item {
// 	@extend %default-margins;
//
// 	figure {
// 		margin: 0;
// 	}
//
// 	img {
// 		display: block;
// 	}
// }
//
// @include generate-block-grid-classes(6, '.gallery', '.gallery-columns', '.gallery-item');

.svg-defs {
	display: none;
}
