img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	height: auto;
}

audio,
canvas,
video {
	display: inline-block;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

svg:not([fill]) {
	fill: currentColor;
}

figure,
.figure,
.wp-video {
	margin: 0 0 var(--#{$prefix}spacing--l);
}

// wordpress-specific - old styles
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img,
.wp-caption {
	&.alignleft,
	&.alignright,
	&.aligncenter {
		margin: 0 0 var(--#{$prefix}spacing--l);
	}

	&.alignleft {
		margin-left: 0;
		margin-right: $spacing;
		clear: left;
	}

	&.alignright {
		margin-left: $spacing;
		margin-right: 0;
		clear: right;
	}
}

.wp-caption {
	display: table;
	max-width: 100%;

	img {
		display: block;
	}

	figcaption {
		display: table-caption;
		caption-side: bottom;
	}
}

// NON-BLOCK THEMES
// .gallery  {
// 	@extend .gallery-row;
// 	margin: 0 0 $figure__margin;
// }
//
// .gallery-item {
// 	margin: 0 0 $figure__margin-bottom;
//
// 	figure {
// 		margin: 0;
// 	}
//
// 	img {
// 		display: block;
// 	}
// }
//
// @include generate-block-grid-classes(6, '.gallery', '.gallery-columns', '.gallery-item');

.svg-defs {
	display: none;
}
