@use 'abstracts' as *;

// GENERAL NAV STYLES
// -------------------------
.menu {
	a,
	.btn--link {
		@include set-cssvars(
			(
				link__color: cssvar('color'),
				link__text-decoration: none,
				link--focus__color: cssvar('color-primary'),
				link--focus__text-decoration: cssvar('link__text-decoration'),
			)
		);
	}

	@include list-unstyled;

	ul {
		@include list-unstyled;
		margin: 0;
	}

	ul,
	li {
		margin: 0;
	}

	.current-menu-item,
	.current_page_item,
	.current-cat,
	.current-page-ancestor,
	.current-menu-ancestor,
	.current-cat-parent,
	.current-category-ancestor,
	.current-post-ancestor {
		& > a,
		& >  {
			color: cssvar('link--focus__color');
		}
	}
}

// POST NAVIGATION STYLES
// ---------------------------
.postnav {
	clear: both;
	@include row;

	.postnav__link {
		@include cols(6);
	}

	.postnav__link--older {
		order: 2;
		text-align: right;
	}
}

// SOCIAL NAV
// ---------------------------
.menu--social {
	.menu-item {
		display: inline-block;
		margin: 0 1em 1em 0;
	}

	.social-link-icon {
		display: inline-block;
		margin-inline-end: .5em;
		vertical-align: middle;
	}
}

// uncomment to output brand colors instead of general link colors
//@each $name, $value in $social-colors {
//	.social-link-icon--#{$name} {
//		color: $value;
//
//		&:hover,
//		&:focus {
//			color: tint($value, 25%);
//		}
//	}
//}

