// GENERAL NAV STYLES
// -------------------------
.menu {
	@include text-style(
		$menu__font-family,
		$menu__font-size,
		$menu__line-height,
		$menu__font-weight,
		$menu__text-align,
		$menu__color,
		$menu__font-style,
		$menu__text-transform,
		$menu__letter-spacing,
		$menu__text-decoration,
		$menu__margin-top,
		$menu__margin-right,
		$menu__margin-bottom,
		$menu__margin-left,
		$menu__font-size--bp-lg,
		$menu__line-height--bp-lg,
		$menu__letter-spacing--bp-lg,
		$menu__breakpoint,
		$menu-link__color,
		$menu-link__text-decoration,
		$menu-link__color--hover,
		$menu-link__text-decoration--hover
	);

	a:focus {
		outline: red;
	}

	@include list-unstyled;

	ul {
		@include list-unstyled;
		margin: 0;
	}

	ul,
	li {
		margin: 0;
	}

	.current-menu-item,
	.current_page_item,
	.current-cat,
	.current-page-ancestor,
	.current-menu-ancestor,
	.current-cat-parent,
	.current-category-ancestor,
	.current-post-ancestor {
		& > a {
			color: $menu-link__color--current;
		}
	}
}

// POST NAVIGATION STYLES
// ---------------------------
.postnav {
	@include font-size-change($postnav__font-size);
	@include line-height-change($postnav__line-height);
	@include font-family-change($postnav__font-family);
	@include font-weight-change($postnav__font-weight);
	@include text-transform-change($postnav__text-transform);
	@include clearfix;
	clear: both;
	margin-bottom: $postnav__margin-bottom;

	.postnav__link {
		width: 50%;
	}

	.postnav__link--older {
		float: right;
		text-align: right;
		padding-left: 1em;
	}

	.postnav__link--newer {
		float: left;
		padding-right: 1em;
	}
}

// SOCIAL NAV
// ---------------------------
.menu--social {
	.menu-item {
		display: inline-block;
		margin: 0 1em 1em 0;
	}

	.social-link-icon {
		display: inline-block;
		margin-right: .5em;
		vertical-align: middle;
	}
}

// uncomment to output brand colors instead of general link colors
//@each $name, $value in $social-colors {
//	.social-link-icon--#{$name} {
//		color: $value;
//
//		&:hover,
//		&:focus {
//			color: tint($value, 25%);
//		}
//	}
//}

