// GENERAL NAV STYLES
// -------------------------
.menu {
	@include list-unstyled;

	a {
		color: var(--color-primary);

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	ul {
		@include list-unstyled;
		margin: 0;
	}

	ul,
	li {
		margin: 0;
	}

	.current-menu-item,
	.current_page_item,
	.current-cat,
	.current-page-ancestor,
	.current-menu-ancestor,
	.current-cat-parent,
	.current-category-ancestor,
	.current-post-ancestor {
		& > a {
			color: var(--color-primary--hover);
		}
	}
}

// POST NAVIGATION STYLES
// ---------------------------
.postnav {
	clear: both;
	@include row;

	.postnav__link {
		@include cols(6);
	}

	.postnav__link--older {
		order: 2;
		text-align: right;
	}
}

// SOCIAL NAV
// ---------------------------
.menu--social {
	.menu-item {
		display: inline-block;
		margin: 0 1em 1em 0;
	}

	.social-link-icon {
		display: inline-block;
		margin-right: .5em;
		vertical-align: middle;
	}
}

// uncomment to output brand colors instead of general link colors
//@each $name, $value in $social-colors {
//	.social-link-icon--#{$name} {
//		color: $value;
//
//		&:hover,
//		&:focus {
//			color: tint($value, 25%);
//		}
//	}
//}

