:root {
	@each $key, $value in $root-font-families {
		@if $key == '' {
			--font-family: #{$value};
		} @else {
			--font-family--#{$key}: #{$value};
		}
	}

	@each $key, $value in $root-font-sizes {
		@if $key == '' {
			--font-size: #{$value};
		} @else {
			--font-size--#{$key}: #{$value};
		}
	}

	@each $key, $value in $root-spacings {
		@if $key == '' {
			--spacing: #{$value};
		} @else {
			--spacing--#{$key}: #{$value};
		}
	}
}

:root,
[data-color-scheme="#{$color-scheme}"] {
	@each $key, $value in $root-colors {
		--#{$key}: #{$value};
	}
}

@if $has-alt-scheme {
	[data-color-scheme="#{$color-scheme--alt}"] {
		@each $key, $value in $root-colors--alt {
			--#{$key}: #{$value};
		}
	}
}


