@use 'abstracts' as *;
@use 'properties' as *;
@use 'layout' as *;

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-color-highlight: rgba(0,0,0,0);
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: block;
}

template {
	display: none;
}

.hidden,
[hidden] {
	display: none;
}

body {
	font-size: cssvar('font-size');
	line-height: cssvar('line-height');
	letter-spacing: cssvar('letter-spacing');
	font-family: cssvar('font-family');
	font-weight: cssvar('font-weight');
	text-align: left;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
}

body,
[class*="theme-"] {
	color: cssvar('color');
	background-color: cssvar('background-color');
}

p,
ul,
ol,
dl,
pre,
address,
hr,
table,
figure,
form,
article,
blockquote,
dl,
li,
h1,
h2,
h3,
h4,
h5,
h6,
.block,
.wp-block,
.section {
	@include block-margins;
}

p {
	text-wrap: pretty;
	overflow-wrap: break-word;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

abbr,
acronym {
	text-decoration: underline dotted cssvar('color');
	cursor: help;
}

mark,
ins {
	background: cssvar('color-highlight');
	text-decoration: none;
	color: cssvar('color');
}

ul {
	list-style: disc outside;

	ul {
		list-style-type: circle;

		ul {
			list-style-type: square;
		}
	}
}

ol {
	list-style: decimal outside;
}

ul,
ol {
	padding-block: 0;
	padding-inline: cssvar('spacing') 0;

	ul,
	ol {
		padding-block-start: cssvar('spacing--xs');
		@include set-cssvar('margin-block-end', 0);
	}
}

li {
	@include set-cssvar('margin-block-end', cssar('spacing--xs'));
}

a,
.btn--link {
	@include set-cssvars(
		(
			link__color: cssvar('color-primary'),
			link__text-decoration: underline,
			link--focus__color: cssvar('color-primary--focus'),
			link--focus__text-decoration: cssvar('link__text-decoration'),
		)
	);
	background-color: transparent; // reset
	color: cssvar('link__color');
	text-decoration: cssvar('link__text-decoration');
	outline: 0;

	&:hover,
	&:focus {
		color: cssvar('link--focus__color');
		text-decoration: cssvar('link--focus__text-decoration');
	}

	&:focus {
		@include tab-focus;
		outline: 0;
	}
}

b,
strong {
	font-weight: cssvar('font-weight--bold');
	color: cssvar('color--emphasis');
}

dt,
dd {
	line-height: cssvar('line-height');
}

dt {
	font-weight: cssvar('font-weight--bold');
}

dd {
	margin-inline-start: 0; // reset
	margin-block-end: cssvar('spacing--xs');
}

hr {
	height: 0; // reset
	overflow: visible; // reset
	border: 0;
	border-bottom: 1px solid cssvar('border-color');
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: '';
}

address {
	display: block;
	font: inherit;
}

table {
	border: 0;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

tr:nth-child(odd) {
	background-color: cssvar('background-color--alt');
}

th,
td {
	padding: 0.5em;
	border: 1px solid cssvar('border-color');
}

th {
	font-weight: cssvar('font-weight--bold');
}

code,
kbd,
pre,
samp {
	font-family: cssvar('font-family--monospace');
	font-size: cssvar('font-size--sm');
	color: cssvar('color');
}

code,
kbd {
	// padding: .2em .4em;
	padding-block: .2em;
	padding-inline: .4em;
	border-radius: .25em;
}

code {
	background: cssvar('background-color--alt');
	display: inline-block;
	word-wrap: break-word;
}

kbd {
	color: cssvar('background-color');
	background-color: cssvar('color');

	kbd {
		padding: 0;
		font-size: inherit;
		font-weight: bold;
	}
}

pre {
	background: cssvar('background-color--alt');
	padding: 1em;
	display: block;
	max-width: 100%;
	overflow: auto;
	border-radius: .25em;

	code {
		padding: 0;
		font-size: inherit;
		color: inherit;
		background-color: transparent;
		border-radius: 0;
	}
}

.pre-scrollable {
	max-height: 34rem;
	overflow-y: scroll;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

details {
	display: block;
}

summary {
	display: list-item;
}

// HEADINGS
// -------------------------
%heading {
	font-family: cssvar('heading__font-family');
	font-weight: cssvar('heading__font-weight');
	font-size: cssvar('heading__font-size');
	line-height: cssvar('heading__line-height');
	letter-spacing: cssvar('heading__letter-spacing');
	text-transform: cssvar('heading__text-transform');
	color: cssvar('heading__color');
	text-wrap: balance;
	overflow-wrap: break-word;

	a {
		color: cssvar('heading-link__color');
		text-decoration: cssvar('heading-link__text-decoration');

		&:hover,
		&:focus {
			color: cssvar('heading-link--focus__color');
			text-decoration: cssvar('heading-link--focus__text-decoration');
		}
	}
}

// .entry-subtitle,
h1,
h2,
h3,
h4,
h5,
h6 {
	@include set-cssvars(
		(
			heading__font-family: cssvar('font-family'),
			heading__font-size: cssvar('font-size'),
			heading__font-weight: cssvar('font-weight--bold'),
			heading__line-height: cssvar('line-height'),
			heading__letter-spacing: normal,
			heading-link__color: cssvar('color-primary'),
			heading-link__text-decoration: none,
			heading-link--focus__color: cssvar('color-primary--focus'),
			heading-link--focus__text-decoration: underline,
		)
	);
	font-family: cssvar('heading__font-family');
	font-size: cssvar('heading__font-size');
	font-weight: cssvar('heading__font-weight');
	line-height: cssvar('heading__line-height');
	letter-spacing: cssvar('heading__letter-spacing');
	text-transform: cssvar('heading__text-transform');
	color: cssvar('heading__color');
	text-wrap: balance;
	overflow-wrap: break-word;

	a {
		color: cssvar('heading-link__color');
		text-decoration: cssvar('heading-link__text-decoration');

		&:hover,
		&:focus {
			color: cssvar('heading-link--focus__color');
			text-decoration: cssvar('heading-link--focus__text-decoration');
		}
	}
}

h1 {
	@include set-cssvars(
		(
			heading__font-size: cssvar('font-size--4xl'),
			heading__line-height: cssvar('line-height--2xs'),
		)
	);
}

h2 {
	@include set-cssvars(
		(
			heading__font-size: cssvar('font-size--3xl'),
			heading__line-height: cssvar('line-height--2xs'),
			margin-block-end: cssvar('spacing--sm'),
		)
	);
}

h3 {
	@include set-cssvars(
		(
			heading__font-size: cssvar('font-size--2xl'),
			heading__line-height: cssvar('line-height--xs'),
			margin-block-end: cssvar('spacing--sm'),
		)
	);
}

h4 {
	@include set-cssvars(
		(
			heading__font-size: cssvar('font-size--xl'),
			heading__line-height: cssvar('line-height--xs'),
			margin-block-end: cssvar('spacing--sm'),
		)
	);
}

h5 {
	@include set-cssvars(
		(
			heading__font-size: cssvar('font-size--lg'),
			heading__line-height: cssvar('line-height--sm'),
			margin-block-end: cssvar('spacing--sm'),
		)
	);
}

h6 {
	@include set-cssvars(
		(
			heading__font-size: cssvar('font-size'),
			heading__line-height: cssvar('line-height'),
			margin-block-end: cssvar('spacing--sm'),
		)
	);
}

// THEME ELEMENTS
// -------------------------
.entry-title {
}

.doc-title {
}

.widget-title {
}

.section-title {
}

.nav-title {
}

.entry-subtitle,
.wp-block-subhead {
}

.entry-lede {
}

.entry-flag {
}

blockquote {
	font-style: italic;
	padding: 0;
}

.pullquote,
.wp-block-pullquote blockquote {
}

cite {
	font-style: normal;
	font-size: cssvar('font-size');
	font-weight: cssvar('font-weight');

	&:before {
		content: '\2014';
		display: inline-block;
	}
}

// META
// -------------------------
.entry-meta {
	font-size: cssvar('font-size--sm');
	color: cssvar('color--alt');
}

figcaption,
.figcaption {
	margin-block-start: cssvar('spacing--xs');
	font-size: cssvar('font-size--sm');
	color: cssvar('color--alt');
	word-break: break-word;
}
