// GENERAL TYPE STYLES
// -------------------------
* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	//font-size: 62.5%;
	font-size: 100%;
	-webkit-tap-color-highlight: rgba(0,0,0,0);
}

body {
	font-size: $body__font-size;
	line-height: $body__line-height;
	font-family: $body__font-family;
	font-weight: $body__font-weight;
	text-align: $body__text-align;
	color: $body__color;
	background-color: $body__background-color;
	width: 100%;
	@extend .clearfix;
	@include bp-font-size-change($body__font-size--bp-lg, $body__font-size);
	margin: 0;
}

main {
	display: block;
}

p,
ul,
ol,
dl,
pre,
address,
hr,
table,
figure,
form,
article,
blockquote,
dl {
	margin: 0 0 $spacing--base;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

abbr,
acronym {
	text-decoration: underline dotted $body__color;
	cursor: help;
}

mark,
ins {
	background: $highlight__background-color;
	text-decoration: none;
	color: $highlight__color;
}

ul {
	list-style: disc outside;

	ul {
		list-style-type: circle;

		ul {
			list-style-type: square;
		}
	}
}

ol {
	list-style: decimal outside;
}

ul,
ol {
	padding: 0 0 0 $spacing--base;

	ul,
	ol {
		padding-top: $spacing--xs;
		margin-bottom: 0;
	}
}

li {
	margin-bottom: $spacing--xs;
}

a {
	background-color: transparent; // reset
	color: $link__color;
	text-decoration: $link__text-decoration;
	outline: 0;

	&:hover,
	&:focus {
		color: $link__color--hover;
		@include text-decoration-change($link__text-decoration--hover, $link__text-decoration);
	}

	&:focus {
		@include tab-focus;
		outline: 0;
	}

	&:visited {
		@include color-change($link__color--visited, $link__color);
	}
}

b,
strong {
	font-weight: $strong__font-weight;
}

dt,
dd {
	line-height: $body__line-height;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0; // Undo browser default
	margin-bottom: $spacing--sm;
}

hr {
	height: 0; // reset
	overflow: visible; // reset
	border: 0;
	border-bottom: 1px solid $border__color;
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: '';
}

address {
	display: block;
	font: inherit;
}

// Emphasis & misc
small {
	font-size: 1.4rem;
}

table {
	@include font-family-change($table__font-family);
	@include font-size-change($table__font-size);
	@include line-height-change($table__line-height);
	@include font-weight-change($table__font-weight);
	@include text-align-change($table__text-align);
	@include color-change($table__color);
	@include margin-change(0, 0, $spacing--base, 0, $table__margin-top, 0, $table__margin-bottom, 0);
	width: 100%;
	max-width: 100%;
	//word-break: break-all;
	border-collapse: collapse;
	border-spacing: 0;
}

tr:nth-child(odd) {
	background-color: var(--color-background-alt);
}

th,
td {
	padding: $td__padding-y $td__padding-x;
	border: $td__border;
	@include text-align-change($td__text-align);
	vertical-align: $table__vertical-align;
}

th {
	@include font-weight-change($th__font-weight);
	@include text-align-change($th__text-align);
}

code,
kbd,
pre,
samp {
	font-family: $pre__font-family;
	font-size: $pre__font-size;
	color: $pre__color;
}

code,
kbd {
	padding: $kbd__padding-y $kbd__padding-x;
	border-radius: $pre__border-radius;
}

code {
	@include color-change($code__color, $pre__color);
	background-color: $code__background-color;
	display: inline-block;
	word-wrap: break-word;
}

kbd {
	@include color-change($kbd__color, $pre__color);
	background-color: $kbd__background-color;

	kbd {
		padding: 0;
		font-size: inherit;
		font-weight: bold;
	}
}

pre {
	display: block;
	background-color: $pre__background-color;
	@include padding-change(0, 0, 0, 0, $pre__padding-y, $pre__padding-x);
	margin: $pre__margin-top 0 $pre__margin-bottom;
	border-radius: $pre__border-radius;
	max-width: 100%;
	overflow: auto;

	code {
		padding: 0;
		font-size: inherit;
		color: inherit;
		background-color: transparent;
		border-radius: 0;
	}
}

.pre-scrollable {
	max-height: $pre--scrollable__max-height;
	overflow-y: scroll;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

details {
	display: block;
}

summary {
	display: list-item;
}

// HEADINGS
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headings__font-family;
	font-size: $headings__font-size;
	font-weight: $headings__font-weight;
	line-height: $headings__line-height;

	@include text-style(
		$headings__font-family,
		$headings__font-size,
		$headings__line-height,
		$headings__font-weight,
		$headings__text-align,
		$headings__color,
		$headings__font-style,
		$headings__text-transform,
		$headings__letter-spacing,
		$headings__text-decoration,
		$headings__margin-top,
		$headings__margin-right,
		$headings__margin-bottom,
		$headings__margin-left,
		$headings__font-size--bp-lg,
		$headings__line-height--bp-lg,
		$headings__letter-spacing--bp-lg,
		$headings__breakpoint,
		$headings__link-color,
		$headings__link-text-decoration,
		$headings__link-color--hover,
		$headings__link-text-decoration--hover
	);
}

h1 {
	@include heading-style(
		$h1__font-family,
		$h1__font-size,
		$h1__line-height,
		$h1__font-weight,
		$h1__text-align,
		$h1__color,
		$h1__font-style,
		$h1__text-transform,
		$h1__letter-spacing,
		$h1__text-decoration,
		$h1__margin-top,
		$h1__margin-right,
		$h1__margin-bottom,
		$h1__margin-left,
		$h1__font-size--bp-lg,
		$h1__line-height--bp-lg,
		$h1__letter-spacing--bp-lg,
		$h1__breakpoint,
		$h1__link-color,
		$h1__link-text-decoration,
		$h1__link-color--hover,
		$h1__link-text-decoration--hover
	);
}

h2 {
	@include heading-style(
		$h2__font-family,
		$h2__font-size,
		$h2__line-height,
		$h2__font-weight,
		$h2__text-align,
		$h2__color,
		$h2__font-style,
		$h2__text-transform,
		$h2__letter-spacing,
		$h2__text-decoration,
		$h2__margin-top,
		$h2__margin-right,
		$h2__margin-bottom,
		$h2__margin-left,
		$h2__font-size--bp-lg,
		$h2__line-height--bp-lg,
		$h2__letter-spacing--bp-lg,
		$h2__breakpoint,
		$h2__link-color,
		$h2__link-text-decoration,
		$h2__link-color--hover,
		$h2__link-text-decoration--hover
	);
}

h3 {
	@include heading-style(
		$h3__font-family,
		$h3__font-size,
		$h3__line-height,
		$h3__font-weight,
		$h3__text-align,
		$h3__color,
		$h3__font-style,
		$h3__text-transform,
		$h3__letter-spacing,
		$h3__text-decoration,
		$h3__margin-top,
		$h3__margin-right,
		$h3__margin-bottom,
		$h3__margin-left,
		$h3__font-size--bp-lg,
		$h3__line-height--bp-lg,
		$h3__letter-spacing--bp-lg,
		$h3__breakpoint,
		$h3__link-color,
		$h3__link-text-decoration,
		$h3__link-color--hover,
		$h3__link-text-decoration--hover
	);
}

h4 {
	@include heading-style(
		$h4__font-family,
		$h4__font-size,
		$h4__line-height,
		$h4__font-weight,
		$h4__text-align,
		$h4__color,
		$h4__font-style,
		$h4__text-transform,
		$h4__letter-spacing,
		$h4__text-decoration,
		$h4__margin-top,
		$h4__margin-right,
		$h4__margin-bottom,
		$h4__margin-left,
		$h4__font-size--bp-lg,
		$h4__line-height--bp-lg,
		$h4__letter-spacing--bp-lg,
		$h4__breakpoint,
		$h4__link-color,
		$h4__link-text-decoration,
		$h4__link-color--hover,
		$h4__link-text-decoration--hover
	);
}

h5 {
	@include heading-style(
		$h5__font-family,
		$h5__font-size,
		$h5__line-height,
		$h5__font-weight,
		$h5__text-align,
		$h5__color,
		$h5__font-style,
		$h5__text-transform,
		$h5__letter-spacing,
		$h5__text-decoration,
		$h5__margin-top,
		$h5__margin-right,
		$h5__margin-bottom,
		$h5__margin-left,
		$h5__font-size--bp-lg,
		$h5__line-height--bp-lg,
		$h5__letter-spacing--bp-lg,
		$h5__breakpoint,
		$h5__link-color,
		$h5__link-text-decoration,
		$h5__link-color--hover,
		$h5__link-text-decoration--hover
	);
}

h6 {
	@include heading-style(
		$h6__font-family,
		$h6__font-size,
		$h6__line-height,
		$h6__font-weight,
		$h6__text-align,
		$h6__color,
		$h6__font-style,
		$h6__text-transform,
		$h6__letter-spacing,
		$h6__text-decoration,
		$h6__margin-top,
		$h6__margin-right,
		$h6__margin-bottom,
		$h6__margin-left,
		$h6__font-size--bp-lg,
		$h6__line-height--bp-lg,
		$h6__letter-spacing--bp-lg,
		$h6__breakpoint,
		$h6__link-color,
		$h6__link-text-decoration,
		$h6__link-color--hover,
		$h6__link-text-decoration--hover
	);
}

// THEME ELEMENTS
// -------------------------
.entry-title {
	@include text-style(
		$entry-title__font-family,
		$entry-title__font-size,
		$entry-title__line-height,
		$entry-title__font-weight,
		$entry-title__text-align,
		$entry-title__color,
		$entry-title__font-style,
		$entry-title__text-transform,
		$entry-title__letter-spacing,
		$entry-title__text-decoration,
		$entry-title__margin-top,
		$entry-title__margin-right,
		$entry-title__margin-bottom,
		$entry-title__margin-left,
		$entry-title__font-size--bp-lg,
		$entry-title__line-height--bp-lg,
		$entry-title__letter-spacing--bp-lg,
		$entry-title__breakpoint,
		$entry-title__link-color,
		$entry-title__link-text-decoration,
		$entry-title__link-color--hover,
		$entry-title__link-text-decoration--hover,
		$h2__font-family,
		$h2__font-size,
		$h2__line-height,
		$h2__font-weight,
		$h2__text-align,
		$h2__color,
		$h2__font-style,
		$h2__text-transform,
		$h2__letter-spacing,
		$h2__text-decoration,
		$h2__margin-top,
		$h2__margin-right,
		$h2__margin-bottom,
		$h2__margin-left,
		$h2__font-size--bp-lg,
		$h2__line-height--bp-lg,
		$h2__letter-spacing--bp-lg,
		$h2__link-color,
		$h2__link-text-decoration,
		$h2__link-color--hover,
		$h2__link-text-decoration--hover
	);
}

.doc-title {
	@include text-style(
		$doc-title__font-family,
		$doc-title__font-size,
		$doc-title__line-height,
		$doc-title__font-weight,
		$doc-title__text-align,
		$doc-title__color,
		$doc-title__font-style,
		$doc-title__text-transform,
		$doc-title__letter-spacing,
		$doc-title__text-decoration,
		$doc-title__margin-top,
		$doc-title__margin-right,
		$doc-title__margin-bottom,
		$doc-title__margin-left,
		$doc-title__font-size--bp-lg,
		$doc-title__line-height--bp-lg,
		$doc-title__letter-spacing--bp-lg,
		$doc-title__breakpoint,
		$doc-title__link-color,
		$doc-title__link-text-decoration,
		$doc-title__link-color--hover,
		$doc-title__link-text-decoration--hover,
		$h1__font-family,
		$h1__font-size,
		$h1__line-height,
		$h1__font-weight,
		$h1__text-align,
		$h1__color,
		$h1__font-style,
		$h1__text-transform,
		$h1__letter-spacing,
		$h1__text-decoration,
		$h1__margin-top,
		$h1__margin-right,
		$h1__margin-bottom,
		$h1__margin-left,
		$h1__font-size--bp-lg,
		$h1__line-height--bp-lg,
		$h1__letter-spacing--bp-lg,
		$h1__link-color,
		$h1__link-text-decoration,
		$h1__link-color--hover,
		$h1__link-text-decoration--hover
	);
}

.widget-title {
	@include text-style(
		$widget-title__font-family,
		$widget-title__font-size,
		$widget-title__line-height,
		$widget-title__font-weight,
		$widget-title__text-align,
		$widget-title__color,
		$widget-title__font-style,
		$widget-title__text-transform,
		$widget-title__letter-spacing,
		$widget-title__text-decoration,
		$widget-title__margin-top,
		$widget-title__margin-right,
		$widget-title__margin-bottom,
		$widget-title__margin-left,
		$widget-title__font-size--bp-lg,
		$widget-title__line-height--bp-lg,
		$widget-title__letter-spacing--bp-lg,
		$widget-title__breakpoint,
		$widget-title__link-color,
		$widget-title__link-text-decoration,
		$widget-title__link-color--hover,
		$widget-title__link-text-decoration--hover,
		$h2__font-family,
		$h2__font-size,
		$h2__line-height,
		$h2__font-weight,
		$h2__text-align,
		$h2__color,
		$h2__font-style,
		$h2__text-transform,
		$h2__letter-spacing,
		$h2__text-decoration,
		$h2__margin-top,
		$h2__margin-right,
		$h2__margin-bottom,
		$h2__margin-left,
		$h2__font-size--bp-lg,
		$h2__line-height--bp-lg,
		$h2__letter-spacing--bp-lg,
		$h2__link-color,
		$h2__link-text-decoration,
		$h2__link-color--hover,
		$h2__link-text-decoration--hover
	);
}

.section-title {
	@include text-style(
		$section-title__font-family,
		$section-title__font-size,
		$section-title__line-height,
		$section-title__font-weight,
		$section-title__text-align,
		$section-title__color,
		$section-title__font-style,
		$section-title__text-transform,
		$section-title__letter-spacing,
		$section-title__text-decoration,
		$section-title__margin-top,
		$section-title__margin-right,
		$section-title__margin-bottom,
		$section-title__margin-left,
		$section-title__font-size--bp-lg,
		$section-title__line-height--bp-lg,
		$section-title__letter-spacing--bp-lg,
		$section-title__breakpoint,
		$section-title__link-color,
		$section-title__link-text-decoration,
		$section-title__link-color--hover,
		$section-title__link-text-decoration--hover,
		$h2__font-family,
		$h2__font-size,
		$h2__line-height,
		$h2__font-weight,
		$h2__text-align,
		$h2__color,
		$h2__font-style,
		$h2__text-transform,
		$h2__letter-spacing,
		$h2__text-decoration,
		$h2__margin-top,
		$h2__margin-right,
		$h2__margin-bottom,
		$h2__margin-left,
		$h2__font-size--bp-lg,
		$h2__line-height--bp-lg,
		$h2__letter-spacing--bp-lg,
		$h2__link-color,
		$h2__link-text-decoration,
		$h2__link-color--hover,
		$h2__link-text-decoration--hover
	);
}

.nav-title {
	@include text-style(
		$nav-title__font-family,
		$nav-title__font-size,
		$nav-title__line-height,
		$nav-title__font-weight,
		$nav-title__text-align,
		$nav-title__color,
		$nav-title__font-style,
		$nav-title__text-transform,
		$nav-title__letter-spacing,
		$nav-title__text-decoration,
		$nav-title__margin-top,
		$nav-title__margin-right,
		$nav-title__margin-bottom,
		$nav-title__margin-left,
		$nav-title__font-size--bp-lg,
		$nav-title__line-height--bp-lg,
		$nav-title__letter-spacing--bp-lg,
		$nav-title__breakpoint,
		$nav-title__link-color,
		$nav-title__link-text-decoration,
		$nav-title__link-color--hover,
		$nav-title__link-text-decoration--hover,
		$h2__font-family,
		$h2__font-size,
		$h2__line-height,
		$h2__font-weight,
		$h2__text-align,
		$h2__color,
		$h2__font-style,
		$h2__text-transform,
		$h2__letter-spacing,
		$h2__text-decoration,
		$h2__margin-top,
		$h2__margin-right,
		$h2__margin-bottom,
		$h2__margin-left,
		$h2__font-size--bp-lg,
		$h2__line-height--bp-lg,
		$h2__letter-spacing--bp-lg,
		$h2__link-color,
		$h2__link-text-decoration,
		$h2__link-color--hover,
		$h2__link-text-decoration--hover
	);
}

.entry-subtitle {
	@include text-style(
		$subtitle__font-family,
		$subtitle__font-size,
		$subtitle__line-height,
		$subtitle__font-weight,
		$subtitle__text-align,
		$subtitle__color,
		$subtitle__font-style,
		$subtitle__text-transform,
		$subtitle__letter-spacing,
		$subtitle__text-decoration,
		$subtitle__margin-top,
		$subtitle__margin-right,
		$subtitle__margin-bottom,
		$subtitle__margin-left,
		$subtitle__font-size--bp-lg,
		$subtitle__breakpoint
	);
}

.entry-lede {
	@include text-style(
		$lede__font-family,
		$lede__font-size,
		$lede__line-height,
		$lede__font-weight,
		$lede__text-align,
		$lede__color,
		$lede__font-style,
		$lede__text-transform,
		$lede__letter-spacing,
		$lede__text-decoration,
		$lede__margin-top,
		$lede__margin-right,
		$lede__margin-bottom,
		$lede__margin-left,
		$lede__font-size--bp-lg,
		$lede__breakpoint
	);
}

.entry-content-flag {
	@include text-style(
		$content-flag__font-family,
		$content-flag__font-size,
		$content-flag__line-height,
		$content-flag__font-weight,
		$content-flag__text-align,
		$content-flag__color,
		$content-flag__font-style,
		$content-flag__text-transform,
		$content-flag__letter-spacing,
		$content-flag__text-decoration,
		$content-flag__margin-top,
		$content-flag__margin-right,
		$content-flag__margin-bottom,
		$content-flag__margin-left,
		$content-flag__font-size--bp-lg,
		$content-flag__breakpoint
	);
}

blockquote {
	@include text-style(
		$blockquote__font-family,
		$blockquote__font-size,
		$blockquote__line-height,
		$blockquote__font-weight,
		$blockquote__text-align,
		$blockquote__color,
		$blockquote__font-style,
		$blockquote__text-transform,
		$blockquote__letter-spacing,
		$blockquote__text-decoration,
		$blockquote__margin-top,
		$blockquote__margin-right,
		$blockquote__margin-bottom,
		$blockquote__margin-left,
		$blockquote__font-size--bp-lg,
		$blockquote__line-height--bp-lg,
		$blockquote__letter-spacing--bp-lg,
		$blockquote__breakpoint
	);
}

.pullquote {
	@include text-style(
		$pullquote__font-family,
		$pullquote__font-size,
		$pullquote__line-height,
		$pullquote__font-weight,
		$pullquote__text-align,
		$pullquote__color,
		$pullquote__font-style,
		$pullquote__text-transform,
		$pullquote__letter-spacing,
		$pullquote__text-decoration,
		$pullquote__margin-top,
		$pullquote__margin-right,
		$pullquote__margin-bottom,
		$pullquote__margin-left,
		$pullquote__font-size--bp-lg,
		$pullquote__line-height--bp-lg,
		$pullquote__letter-spacing--bp-lg,
		$pullquote__breakpoint,
		$blockquote__font-family,
		$blockquote__font-size,
		$blockquote__line-height,
		$blockquote__font-weight,
		$blockquote__text-align,
		$blockquote__color,
		$blockquote__font-style,
		$blockquote__text-transform,
		$blockquote__letter-spacing,
		$blockquote__text-decoration,
		$blockquote__margin-top,
		$blockquote__margin-right,
		$blockquote__margin-bottom,
		$blockquote__margin-left,
		$pullquote__font-size--bp-lg,
		$pullquote__line-height--bp-lg,
		$pullquote__letter-spacing--bp-lg
	);
}

cite {
	@include text-style(
		$cite__font-family,
		$cite__font-size,
		$cite__line-height,
		$cite__font-weight,
		$cite__text-align,
		$cite__color,
		$cite__font-style,
		$cite__text-transform,
		$cite__letter-spacing,
		$cite__text-decoration,
		$cite__margin-top,
		$cite__margin-right,
		$cite__margin-bottom,
		$cite__margin-left,
		$cite__font-size--bp-lg,
		$cite__line-height--bp-lg,
		$cite__letter-spacing--bp-lg,
		$cite__breakpoint
	);
}

// META
// -------------------------
.entry-meta {
	@include text-style(
		$meta__font-family,
		$meta__font-size,
		$meta__line-height,
		$meta__font-weight,
		$meta__text-align,
		$meta__color,
		$meta__font-style,
		$meta__text-transform,
		$meta__letter-spacing,
		$meta__text-decoration,
		$meta__margin-top,
		$meta__margin-right,
		$meta__margin-bottom,
		$meta__margin-left,
		$meta__font-size--bp-lg,
		$meta__line-height--bp-lg,
		$meta__letter-spacing--bp-lg,
		$meta__breakpoint
	);
	clear: both;
}

figcaption,
.figcaption {
	@include text-style(
		$figcaption__font-family,
		$figcaption__font-size,
		$figcaption__line-height,
		$figcaption__font-weight,
		$figcaption__text-align,
		$figcaption__color,
		$figcaption__font-style,
		$figcaption__text-transform,
		$figcaption__letter-spacing,
		$figcaption__text-decoration,
		$figcaption__margin-top,
		$figcaption__margin-right,
		$figcaption__margin-bottom,
		$figcaption__margin-left,
		$figcaption__font-size--bp-lg,
		$figcaption__line-height--bp-lg,
		$figcaption__letter-spacing--bp-lg,
		$figcaption__breakpoint
	);
	word-break: break-word;
}
