@use 'abstracts' as *;

.clearfix {
	@include clearfix;
}

.ir {
	@include ir;
}

.sr-only,
.visually-hidden,
.screen-reader-text {
	@include visually-hidden;
}

[data-expand-target] {
	&[aria-hidden] {
		display: none;
	}

	.no-js & {
		&[aria-hidden] {
			display: block;
		}
	}
}

