// BASE TYPE STYLES
// -------------------------

// BASE LAYOUT
// -------------------------
.site {
  .container;
  .container-centered;
}
// SITE-HEADER
// -------------------------
.menu-toggle {
	font-size: 1em;
}

// SITE-MAIN
// -------------------------

// COMMENTS

// comment form
.comment-form {
	textarea {
		display: block;
		width: 100%;
	}
}

// comment list
.comment-list {
	.list-unstyled;
	.children {
		.list-unstyled;
		margin-left: @base-margin-emcalc;
	}
	.comment {
		margin-bottom: 1em;
		border-bottom: 1px solid @base-border-color;
	}
	.comment .comment {
		padding-top: 1em;
		border-top: 1px solid @base-border-color;
		border-bottom: 0;
		//border-bottom: 1px solid @base-border-color;
	}

	p {
  	margin-bottom: @base-margin-half-emcalc;
	}
}

// comment
.comment-meta {
	.entry-meta;
}
// comment-form
.comment-main {
	display: inline-block;
}
.form-allowed-tags {
	clear: both;
	width: 95%;
	.sr-only;
}
.form-allowed-tags code {
	display: block;
}
.bypostauthor {
	font-weight: bold;
}

// SPECIFIC PAGES AND SECTIONS
// -------------------------

// DOC-SIDE
// -------------------------

// SITE-FOOTER
// -------------------------
.copyright,
.credits {
	.entry-meta;
}
