	// COLORS
// --------------------------------------------------
// Grayscale
@black:	#000;
@gray-darkest: darken(@white, 87.5%);
@gray-darker: darken(@white, 75%);
@gray-dark: darken(@white, 62.5%);
@gray: darken(@white, 50%);
@gray-light: darken(@white, 37.5%);
@gray-lighter: darken(@white, 25%);
@gray-lightest: darken(@white, 12.5%);
@white: #fff;

// Standard Colors
@red: #f00;
@orange: #f90;
@yellow: #ff0;
@green: #0f0;
@blue: #00f;
@magenta: #f0f;
@aqua: #0ff;
@purple: #800080;
@cyan: #00ADF2;
@navy: #000080;
@silver: #C0C0C0;

// Identity Colors

// Background-color
@base-background-color: @white;
@base-background-color-dark: @gray-light;
@base-background-color-light: @gray-lightest;

// Base color and complementary color
@base-color: @gray-dark;
@base-color-alt: @gray-light;
@base-color-comp: spin(@base-color, 180);
@base-border-color: @gray-lightest;

@accent-color: @cyan;
@accent-color-alt: @magenta;

// Links
@link-color: @accent-color;
@link-hover-color: @accent-color-alt;
@link-active-color: @accent-color-alt;
@link-text-decoration: none;
@link-hover-text-decoration: none;

// TYPE
// --------------------------------------------------
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Cambria, Georgia, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

@font-weight-light: 200;
@font-weight-normal: 400;
@font-weight-bold: 700;

// Base
@base-font-family: @font-family-sans-serif;
@base-font-size: 16;
@base-font-size-small: 14;
@base-font-weight: @font-weight-normal;
@base-margin: 26;
@base-margin-half: @base-margin / 2;
@base-margin-quarter: @base-margin / 4;
@base-margin-emcalc: @base-margin / @base-font-size * 1em;
@base-margin-half-emcalc: @base-margin-half / @base-font-size * 1em;
@base-margin-quarter-emcalc: @base-margin-quarter / @base-font-size * 1em;
@base-line-height: @base-margin / @base-font-size;
@base-line-height-md: (@base-font-size + ((@base-margin - @base-font-size) / 2)) / @base-font-size;
@base-line-height-sm: (@base-font-size + ((@base-margin - @base-font-size) / 4)) / @base-font-size;
@base-line-height-xs: 1;
@base-line-height-half: (@base-margin * .75) / @base-font-size;

// Headings
@headings-line-height: @base-line-height-md;
@headings-font-family: @font-family-sans-serif;
@headings-font-weight: @font-weight-normal;
@headings-color: @base-color;
@headings-small-color: inherit;
@headings-link-color: @link-color;
@headings-link-hover-color: @link-hover-color;

@h1-font-size: 32;
@h1-font-size-large: @h1-font-size;
@h1-line-height: @base-line-height-sm;
@h1-font-family: @headings-font-family;
@h1-font-style: italic;
@h1-margin-bottom: @base-margin;
@h1-margin-top: 0;

@h2-font-size: 28;
@h2-font-size-large: @h2-font-size;
@h2-line-height: @base-line-height-md;
@h2-margin-bottom: @base-margin-half;
@h2-margin-top: 0;

@h3-font-size: 24;
@h3-font-size-large: @h3-font-size;
@h3-line-height: @base-line-height-md;
@h3-margin-bottom: @base-margin-half;
@h3-margin-top: 0;

@h4-font-size: 20;
@h4-font-size-large: @h4-font-size;
@h4-line-height: @base-line-height-md;
@h4-margin-bottom: @base-margin-half;
@h4-margin-top: 0;

@h5-font-size: 16;
@h5-font-size-large: @h5-font-size;
@h5-line-height: @base-line-height;
@h5-margin-bottom: @base-margin-quarter;
@h5-margin-top: 0;

@h6-font-size: 14;
@h6-font-size-large: @h6-font-size;
@h6-line-height: @base-line-height;
@h6-margin-bottom: @base-margin-quarter;
@h6-margin-top: 0;

@page-title-font-size: 30;

// Meta
@meta-font-family: @font-family-sans-serif;
@meta-font-weight: @base-font-weight;
@meta-color: @gray-light;
@meta-font-size: @base-font-size-small;
@meta-line-height: @base-line-height-md;
@meta-margin-bottom: @base-margin-quarter;

// Navs
@nav-font-family: @font-family-sans-serif;
@nav-font-weight: @font-weight-bold;
@nav-link-color: @link-color;
@nav-link-hover-color: @link-hover-color;
@nav-link-active-color: @link-active-color;

// Subnavs
@subnav-font-family: @font-family-sans-serif;
@subnav-font-weight: @font-weight-bold;
@subnav-link-color: @link-color;
@subnav-link-hover-color: @link-hover-color;
@subnav-link-active-color: @link-active-color;

// Post Navs
@postnav-link-color: @link-color;
@postnav-link-hover-color: @link-hover-color;
@postnav-font-family: @font-family-sans-serif;
@postnav-font-size: 13;

// Tables
@table-bg-color: @base-background-color;
@table-border-color: @base-border-color;
@td-border-top-width: 1px;
@td-border-right-width: 1px;
@td-border-bottom-width: 1px;
@td-border-left-width: 1px;
@td-padding-vertical: 6;
@td-padding-horizontal: 6;
@td-padding-emcalc: unit((@td-padding-vertical / @base-font-size), em) unit((@td-padding-horizontal / @base-font-size), em);

// Blockquotes
@blockquote-font-size: 20;
@blockquote-font-family: @base-font-family;
@blockquote-line-height: @base-line-height;
@blockquote-font-weight: @base-font-weight;
@blockquote-font-style: italic;
@blockquote-margin-left: @base-margin;
@blockquote-margin-right: 0;
@blockquote-margin-top: 0;
@blockquote-margin-bottom: @base-margin;

// Ledes
@lede-font-size: 20;
@lede-font-family: @base-font-family;
@lede-line-height: @base-line-height;
@lede-font-weight: @font-weight-light;
@lede-font-style: normal;
@lede-margin-left: 0;
@lede-margin-right: 0;
@lede-margin-top: 0;
@lede-margin-bottom: @base-margin;

// Figures
@figure-margin-bottom: @base-margin-half;

// Document Main
@doc-margin-bottom: @base-margin;

// Entries
@hentry-margin-bottom: @base-margin * 1.5;

// Widgets
@widget-margin-bottom: @base-margin;

// Sticky Posts
@sticky-bg-color: @gray-darkest;
@sticky-padding: 1em;

// Button and form field padding
@form-padding-vertical: 7;
@form-padding-horizontal: 9;

@form-padding-vertical-lg: 9;
@form-padding-horizontal-lg: 16;

@form-padding-vertical-sm: 3;
@form-padding-horizontal-sm: 6;

@form-padding-vertical-xs: 2;
@form-padding-horizontal-xs: 4;


@form-border-radius: 4;
//@form-border-radius-lg: 7;
//@form-border-radius-sm: 4;
//@form-border-radius-xs: 3;

// Buttons
@btn-font-size: 14;
@btn-font-family: @base-font-family;
@btn-color: @white;
@btn-bg-color: @link-color;
@btn-border-color: @btn-bg-color;
@btn-hover-color: @white;
@btn-hover-bg-color: @link-hover-color;
@btn-hover-border-color: @btn-hover-bg-color;
@btn-font-weight: normal;
@btn-link-disabled-color: @base-border-color;
@btn-text-transform: uppercase;
@btn-line-height: @base-line-height;

// alternate sizes
@btn-font-size-lg: 18;
@btn-font-size-sm: 13;
@btn-font-size-xs: 11;

// Alternate buttons
@btn-default-color: @btn-color;
@btn-default-bg-color: @btn-bg-color;
@btn-default-border-color: @btn-border-color;

@btn-primary-color: @btn-color;
@btn-primary-bg-color: @btn-bg-color;
@btn-primary-border-color: @btn-border-color;

@btn-success-color: @btn-color;
@btn-success-bg-color: @green;
@btn-success-border-color: @green;

@btn-info-color: @btn-color;
@btn-info-bg-color: @btn-bg-color;
@btn-info-border-color: @btn-border-color;

@btn-warning-color: @btn-color;
@btn-warning-bg-color: @red;
@btn-warning-border-color: @red;

@btn-danger-color: @btn-color;
@btn-danger-bg-color: @red;
@btn-danger-border-color: @red;

// Inputs
@input-font-size: 14;
@input-font-size-lg: 18;
@input-font-size-sm: 13;
@input-font-size-xs: 11;
@input-width: 210;
@input-font-family: @base-font-family;
@input-color: @base-color;
@input-placeholder-color: @meta-color;
@input-border-color: @accent-color;
@input-placeholder-border-color: @base-border-color;
@input-bg-color: @base-background-color;
@input-disabled-bg-color: @gray-lighter;
@input-border-radius: @form-border-radius;

// GRID SYSTEM
// Semantic.gs - http://semantic.gs/
// --------------------------------------------------
@column-width: 60;
@gutter-width: 30;
@columns: 12;

@gutter-width-calc: unit((@gutter-width / @base-font-size), em);

// Utility variable — you should never need to modify this
@gridsystem-width: (@column-width * @columns) + (@gutter-width * @columns);
@gridsystem-width-calc: unit((@gridsystem-width / @base-font-size), em);

// Set @total-width to 100% for a fluid layout or @gridsystem-width for fixed layout
@total-width: 100%;


// RESPONSIVE
// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
@mobile: (480 / @base-font-size * 1em);

// Small screen / tablet
@tablet: (768 / @base-font-size * 1em);

// Medium screen / desktop
@desktop: (992 / @base-font-size * 1em);

// Large screen / wide desktop
@desktop-lg: (1200 / @base-font-size * 1em);

@grid-float-breakpoint: @tablet;
