.wp-block-video {
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.wp-block-video video {
	max-width: 100%;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
	.wp-block-video [poster] {
		object-fit: cover;
	}
}

.wp-block-video.aligncenter {
	text-align: center;
}

//.wp-block-video figcaption {
//	margin-top: 0.5em;
//	margin-block-end: 1em;
//	margin-top: $figcaption__margin-top;
//	margin-block-end: $figcaption__margin-bottom;
//}
