// GRID SYSTEM
$grid__gutter-width: 30;
$grid__columns: 12;

// default grid witdh
$grid__width: 1152;

// Set $grid__total-width to 100% for a fluid layout or $gridsystem-width for fixed layout
$grid__total-width: 100%;

