// Figures
@figure-margin-bottom: @base-margin-half;

// Document Main
@doc-margin-bottom: @base-margin;

// Entries
@hentry-margin-bottom: @base-margin * 1.5;

// Widgets
@widget-margin-bottom: @base-margin;

// Sticky Posts
@sticky-bg-color: @gray-darkest;
@sticky-padding: 1em;