//@function strip-unit( $value ) {
//	@if type-of( $value ) == 'number' and not unitless( $value ) {
//		@return $value / ( $value * 0 + 1 );
//	}
//
//	@return $value;
//}

@function strip-unit( $value ) {
	@return $value / ( $value * 0 + 1 );
}

@function unitcalc( $value, $default: $base__font-size, $unit: $base__unit, $return: 0 ) {
	@if ( $value != 0 ) {

		@if ( $unit ==	px ) {
			$return: strip-unit( $value ) + px;

		} @else if ( $unit == em ) {
			$return: strip-unit( $value ) / strip-unit( $default ) * 1em;

		} @else if ( $unit == rem ) {
			$return: strip-unit( $value ) / strip-unit( $base__font-size ) * 1rem;

		} @else if ( $unit == percentage ) {
			$return: percentage( strip-unit( $value ) / $default );
		}
	}

	@return $return;
}

@function pxcalc( $value ) {
	@return unitcalc( $value, $unit: 'px' );
}

@function emcalc( $value, $default: $base__font-size ) {
	@return unitcalc( $value, $default, 'em' );
}

@function remcalc( $value ) {
	@return unitcalc( $value, $unit: 'rem' );
}

// Add percentage of white to a color
@function tint( $color, $percent ) {
	@return mix( white, $color, $percent );
}

// Add percentage of black to a color
@function shade( $color, $percent ) {
	@return mix( black, $color, $percent );
}
