// FUNCTIONS
// ---------------------------
@import "functions";

// VARIABLES
// ---------------------------
@import "variables/variables-base";
@import "variables/variables-layout";
@import "variables/variables-color";
@import "variables/variables-type";
@import "variables/variables-forms";
@import "variables/variables-grid";

$woocommerce__color-error: #e2401c;
$woocommerce__color-success: #0f834d;
$woocommerce__color-info: #3D9CD2;

// MIXINS
// ---------------------------
@import "mixins/mixins-utility";
@import "mixins/mixins-layout";
@import "mixins/mixins-type";
@import "mixins/mixins-media";
@import "mixins/mixins-forms";
@import "mixins/mixins-grid";
@import "mixins/mixins-ib-grid";
@import "mixins/mixins-flex";
@import "mixins/mixins-breakpoints";

// WOOCOMMERCE
// ---------------------------
@import "wc/wc-tables";
@import "wc/wc-products";
@import "wc/wc-single-product";
@import "wc/wc-checkout";
@import "wc/wc-components";
@import "wc/wc-widgets";
