// GENERAL NAV STYLES
// -------------------------
.menu {
	@include menu;
}

// POST NAVIGATION STYLES
// ---------------------------
.postnav {
  @include font-size-change( $postnav__font-size );
  @include line-height-change( $postnav__line-height );
  @include font-family-change( $postnav__font-family );
  @include font-weight-change( $postnav__font-weight );
  @include text-transform-change( $postnav__text-transform );
	@include clearfix;
  clear: both;
	@include margin-bottom-unitcalc( $postnav__margin-bottom );

	.postnav__link {
		width: 50%;
	}

	.postnav__link--older {
		float: right;
		text-align: right;
		padding-left: 1em;
	}

	.postnav__link--newer {
		float: left;
		padding-right: 1em;
	}
}

