* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.site {
  padding-top: $base__margin-emcalc;
}

.inner {
	padding: 0 1em;

	@media(min-width: $breakpoint--lg) {
		@include container;
		@include container--centered;
	}
}



