// comment form
.comment-form {
	textarea {
		display: block;
		width: 100%;
	}
}

// comment list
.comments-list {
	@include list-unstyled;

	.children {
		@include list-unstyled;
		margin-left: unitcalc( $base__margin );
	}

	.comment {
		margin-bottom: 1em;
		border-bottom: 1px solid $base__border-color;
	}

	.comment .comment {
		padding-top: 1em;
		border-top: 1px solid $base__border-color;
		border-bottom: 0;
		//border-bottom: 1px solid @base-border-color;
	}

	p {
  	margin-bottom: unitcalc( $base__margin--half );
	}
}

// comment
.comment-meta {
	@include meta;
}

.comment-header {
	margin-bottom: unitcalc( $base__margin--half, $meta__font-size );
}

// comment-form
.comment-main {
	display: inline-block;
}

.form-allowed-tags {
	clear: both;
	width: 95%;
	@extend .sr-only;
}

.form-allowed-tags code {
	display: block;
}

.bypostauthor {
	//font-weight: bold;
}

.comment-form-comment textarea,
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
	@extend .form-control;
}

.submit {
	@extend .button;
}
