// infinite scroll
#infinite-handle {
	margin-bottom: $base__margin-emcalc;
	text-align: center;

	span {
		@extend .button;
		// DEFAULT STYLES
		//background: #333;
		//border-radius: 1px;
		//color: #eee;
		//cursor: pointer;
		//font-size: 13px;
		//padding: 6px 16px;
	}

	button,
	button:hover,
	button:focus {
		display: inline;
		position: static;
		padding: 0;
		margin: 0;
		border: none;
		line-height: inherit;
		background: transparent;
		color: inherit;
		cursor: inherit;
		font-size: inherit;
		font-weight: inherit;
		font-family: inherit;
	}

	button::-moz-focus-inner {
		margin: 0;
		padding: 0;
		border: none;
	}
}

.infinite-loader {
	color: #000;
	display: block;
	height: 28px;
	text-indent: -9999px;
	margin-bottom: $base__margin-emcalc;
}

.spinner {
	margin: 0 auto;
}

.infinite-scroll {
	.postnav--archive {
		display: none;
	}
}

