@use '../abstracts' as *;
@use '../layout' as *;

.has-text-align-center {
	text-align: center;
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-right {
	text-align: right;
}

// .wp-block {
// 	max-width: $block__max-width;
// }

// content-grid layout

// .blocks,
// .block-editor-block-list__layout,
// .wp-block-post-content
.is-layout-flow:not(.wp-block, .block) {
	@extend .content-grid;

	& > :not(.alignwide, [data-align="wide"], .alignfull, [data-align="full"], .alignleft, [data-align="left"], .alignright, [data-align="right"]) {
		@extend %bp-lg__content-colstart-2;
		@extend %bp-lg__colspan-8;
	}

	& > .alignwide,
	// & > [data-align="wide"],
	& > .acf-block-preview:has(> .alignwide) {
		@extend %bp-lg__content-colstart-1;
		@extend %bp-lg__colspan-12;
	}

	& > .alignfull,
	// & > [data-align="full"],
	& > .acf-block-preview:has(> .alignfull) {
		@extend %bp-lg__colspan-full;
	}

	& > .alignleft,
	& > [data-align="left"],
	& > .alignright,
	& > [data-align="right"] {
		@extend %bp-lg__colspan-6;
	}

	& > .alignleft,
	& > [data-align="left"] {
		@extend %bp-lg__content-colstart-1;
	}

	& > .alignright,
	& > [data-align="right"] {
		@extend %bp-lg__content-colstart-7;
	}
}

// .is-layout-flow {
// 	& > :not(.alignwide, .alignfull) {
// 		@extend %container--cols-6;
// 	}
//
// 	& > .alignwide,
// 	& > [data-align="wide"] {
// 		@extend %container;
// 	}
//
// 	& > .alignfull,
// 	& > [data-align="full"] {
// 		@extend %container-fluid;
// 	}
//
// 	& > .full-bleed {
// 		@extend %break-full--bleed;
// 	}
//
// 	& > .alignleft,
// 	& > [data-align="left"] {
// 		@include bp-lg__mq-up {
// 			@include shift-x(-3, 6);
// 		}
// 	}
//
// 	& > .alignright,
// 	& > [data-align="right"] {
// 		@include bp-lg__mq-up {
// 			@include shift-x(3, 6);
// 		}
// 	}
// }
