@use '../abstracts' as *;
@use '../forms' as *;

.wp-block-file {
	margin-block-end: cssvar('spacing');

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}
}

.wp-block-file__button {
	// @extend .btn;
}

.wp-block-file * + .wp-block-file__button {
	margin-inline-start: $form-grid__column-gap;
}

// .wp-block-file {
// 	margin-block-end: 1.5em;
//
// 	&.aligncenter {
// 		text-align: center;
// 	}
//
// 	&.alignright {
// 		/*rtl:ignore*/
// 		text-align: right;
// 	}
//
// 	.wp-block-file__embed {
// 		margin-block-end: 1em;
// 	}
//
// 	.wp-block-file__button {
// 		background: #32373c;
// 		border-radius: 2em;
// 		color: $white;
// 		font-size: 0.8em;
// 		padding: 0.5em 1em;
// 	}
//
// 	a.wp-block-file__button {
// 		text-decoration: none;
//
// 		&:hover,
// 		&:visited,
// 		&:focus,
// 		&:active {
// 			box-shadow: none;
// 			color: $white;
// 			opacity: 0.85;
// 			text-decoration: none;
// 		}
// 	}
//
// 	* + .wp-block-file__button {
// 		margin-inline-start: 0.75em;
// 	}
// }
