@use '../abstracts' as *;
// @use '../forms' as *;
// @use '../type' as *;
// @use '../layout' as *;

body {
	width: auto;

	.block-editor-block-list__layout.is-root-container {
		// .wp-block-gallery {
		// 	gap: 0 !important;
		// }

		// .wp-block-button__link {
		// 	@extend .btn;
		// }
	}
}

// .editor-styles-wrapper {
// 	@extend %container-fluid;
// }

.editor-visual-editor__post-title-wrapper {
	@include container;
}

.wp-block-post-title {
	// @extend .doc-title;
	// max-width: cssvar('block__max-width');
	// margin-inline: auto;
	// padding-inline: cssvar('block__padding-inline');
	// text-align: center;
}

// :root .is-root-container {
// 	display: initial;
// }

// body .is-layout-flow {
	// display: grid;
// }
//
// .is-layout-flow {
// 	& > :not([data-align="wide"], [data-align="full"], [data-align="left"], [data-align="right"]) {
// 		@extend %bp-lg__content-colstart-4;
// 		@extend %bp-lg__colspan-6;
// 	}
//
// 	& > [data-align="wide"] {
// 		@extend %bp-lg__content-colstart-1;
// 		@extend %bp-lg__colspan-12;
// 	}
//
// 	& > [data-align="full"] {
// 		@extend %bp-lg__content-grid__alignfull;
// 	}
//
// 	& > [data-align="left"],
// 	& > [data-align="right"] {
// 		@extend %bp-lg__colspan-6;
// 	}
//
// 	& > [data-align="left"] {
// 		@extend %bp-lg__content-colstart-1;
// 	}
//
// 	& > [data-align="right"] {
// 		@extend %bp-lg__content-colstart-7;
// 	}
// }

// body .is-layout-flow {
// 	@include bp-lg__mq-up {
// 		display: grid;
// 	}
// }

.is-layout-flow {
	& > .alignleft,
	& > .alignright {
		float: none;
		margin-inline: 0;
	}
// 	& > :not([data-align="wide"], [data-align="full"], [data-align="left"], [data-align="right"]) {
// 		@extend %bp-lg__content-colstart-4;
// 		@extend %bp-lg__colspan-6;
// 	}
//
// 	& > [data-align="wide"] {
// 		@extend %bp-lg__content-colstart-1;
// 		@extend %bp-lg__colspan-12;
// 	}
//
// 	& > [data-align="full"] {
// 		@extend %bp-lg__content-grid__alignfull;
// 	}
//
// 	& > [data-align="left"],
// 	& > [data-align="right"] {
// 		@extend %bp-lg__colspan-6;
// 	}
//
// 	& > [data-align="left"] {
// 		@extend %bp-lg__content-colstart-1;
// 	}
//
// 	& > [data-align="right"] {
// 		@extend %bp-lg__content-colstart-7;
// 	}
}
