	// COMMON FORM ELEMENTS
// ---------------------------
$form__font-size: $base__font-size;
$form__line-height: $base__line-height;
$form__margin-bottom: $base__margin;

$form__font-size--lg: $base__font-size--lg;
$form__font-size--sm: $base__font-size--sm;
$form__font-size--xs: $base__font-size--xs;

$form__padding-vertical: 8;
$form__padding-vertical--lg: $form__padding-vertical * $form__font-size--lg / $form__font-size;
$form__padding-vertical--sm: $form__padding-vertical * $form__font-size--sm / $form__font-size;
$form__padding-vertical--xs: $form__padding-vertical * $form__font-size--xs / $form__font-size;

$form__padding-horizontal: 10;
$form__padding-horizontal--lg: $form__padding-horizontal * $form__font-size--lg / $form__font-size;
$form__padding-horizontal--sm: $form__padding-horizontal * $form__font-size--sm / $form__font-size;
$form__padding-horizontal--xs: $form__padding-horizontal * $form__font-size--xs / $form__font-size;

$form__border-width: 1;
$form__border-radius: $form__font-size / 4;

// accent colors
$form__color--primary: $accent__color;
$form__color--disabled: $gray--light;
$form__color--secondary: $gray;
$form__color--success: $green;
$form__color--warning: $orange;
$form__color--danger: $red;

// FORM GROUPS
// ---------------------------
$form-group__margin-top: 0;
$form-group__margin-bottom: $base__margin;

// BUTTONS
// ---------------------------
$button__font-size: $form__font-size;
$button__font-family: $base__font-family;
$button__line-height: $form__line-height;
$button__font-weight: $base__font-weight;
$button__text-transform: none;
$button__padding-vertical: $form__padding-vertical;
$button__padding-horizontal: $form__padding-horizontal;
$button__border-width: $form__border-width;
$button__border-radius: $form__border-radius;

// BUTTON SIZES
$button__font-size--xs: $form__font-size--xs;
$button__padding-vertical--xs: $form__padding-vertical--xs;
$button__padding-horizontal--xs: $form__padding-horizontal--xs;

$button__font-size--sm: $form__font-size--sm;
$button__padding-vertical--sm: $form__padding-vertical--sm;
$button__padding-horizontal--sm: $form__padding-horizontal--sm;

$button__font-size--lg: $form__font-size--lg;
$button__padding-vertical--lg: $form__padding-vertical--lg;
$button__padding-horizontal--lg: $form__padding-horizontal--lg;

// BUTTON COLORS

// button
$button__color: $white;
$button__background-color: $accent__color;
$button__border-color: $button__background-color;
$button__box-shadow: none;

$button__color--hover: $white;
$button__background-color--hover: tint($button__background-color, 25%);
$button__border-color--hover: tint($button__border-color, 25%);
$button__box-shadow--hover: none;

$button__opacity--disabled: .25;
$button__color--disabled: $button__color;
$button__background-color--disabled: $button__background-color;
$button__border-color--disabled: $button__border-color;
$button__box-shadow--disabled: none;

// secondary
$button--secondary__color: $button__color;
$button--secondary__background-color: $form__color--secondary;
$button--secondary__border-color: $form__color--secondary;

$button--secondary__color--hover: $button--secondary__color;
$button--secondary__background-color--hover: tint($button--secondary__background-color, 25%);
$button--secondary__border-color--hover: tint($button--secondary__border-color, 25%);

$button--secondary__opacity--disabled: $button__opacity--disabled;
$button--secondary__color--disabled: $button--secondary__color;
$button--secondary__background-color--disabled: $button--secondary__background-color;
$button--secondary__border-color--disabled: $button--secondary__border-color;

// success
$button--success__color: $button__color;
$button--success__background-color: $form__color--success;
$button--success__border-color: $form__color--success;

$button--success__color--hover: $button--success__color;
$button--success__background-color--hover: tint($button--success__background-color, 25%);
$button--success__border-color--hover: tint($button--success__border-color, 25%);

$button--success__opacity--disabled: $button__opacity--disabled;
$button--success__color--disabled: $button--success__color;
$button--success__background-color--disabled: $button--success__background-color;
$button--success__border-color--disabled: $button--success__border-color;

// warning
$button--warning__color: $button__color;
$button--warning__background-color: $form__color--warning;
$button--warning__border-color: $form__color--warning;

$button--warning__color--hover: $button--warning__color;
$button--warning__background-color--hover: tint($button--warning__background-color, 25%);
$button--warning__border-color--hover: tint($button--warning__border-color, 25%);

$button--warning__opacity--disabled: $button__opacity--disabled;
$button--warning__color--disabled: $button--warning__color;
$button--warning__background-color--disabled: $button--warning__background-color;
$button--warning__border-color--disabled: $button--warning__border-color;

// danger
$button--danger__color: $button__color;
$button--danger__background-color: $form__color--danger;
$button--danger__border-color: $form__color--danger;

$button--danger__color--hover: $button--danger__color;
$button--danger__background-color--hover: tint($button--danger__background-color, 25%);
$button--danger__border-color--hover: tint($button--danger__border-color, 25%);

$button--danger__opacity--disabled: $button__opacity--disabled;
$button--danger__color--disabled: $button--danger__color;
$button--danger__background-color--disabled: $button--danger__background-color;
$button--danger__border-color--disabled: $button--danger__border-color;

//light
$button--light__color: $button__background-color;
$button--light__background-color: $white;
$button--light__border-color: $white;

$button--light__color--hover: $button--light__color;
$button--light__background-color--hover: $base__background-color--alt;
$button--light__border-color--hover: $base__background-color--alt;

$button--light__opacity--disabled: $button__opacity--disabled;
$button--light__color--disabled: $button--light__color;
$button--light__background-color--disabled: $button--light__background-color;
$button--light__border-color--disabled: $button--light__border-color;

//outline
$button--outline__color: $button__background-color;
$button--outline__background-color: transparent;
$button--outline__border-color: $button--outline__color;

$button--outline__color--hover: $white;
$button--outline__background-color--hover: $button__background-color;
$button--outline__border-color--hover: $button--outline__background-color--hover;

$button--outline__opacity--disabled: $button__opacity--disabled;
$button--outline__color--disabled: $button--outline__color;
$button--outline__background-color--disabled: $button--outline__background-color;
$button--outline__border-color--disabled: $button--outline__border-color;

//trans
$button--trans__color: $button__background-color;
$button--trans__background-color: transparent;
$button--trans__border-color: transparent;

$button--trans__color--hover: $link__color--hover;
$button--trans__background-color--hover: $button--trans__background-color;
$button--trans__border-color--hover: $button--trans__border-color;

$button--trans__opacity--disabled: $button__opacity--disabled;
$button--trans__color--disabled: $button--trans__color;
$button--trans__background-color--disabled: $button--trans__background-color;
$button--trans__border-color--disabled: $button--trans__border-color;

// INPUTS
// ---------------------------
$form-control__font-size: $form__font-size;
$form-control__line-height: $form__line-height;
$form-control__font-family: $base__font-family;
$form-control__color: $base__color;
$form-control__padding-vertical: $form__padding-vertical;
$form-control__padding-horizontal: $form__padding-horizontal;
$form-control__border-width: $form__border-width;
$form-control__border-color: $base__border-color;
$form-control__border-radius: $form__border-radius;
$form-control__background-color: transparent;
$form-control__box-shadow: none;

$form-control__color--placeholder: $meta__color;

$form-control__border-color--focus: $form__color--primary;
$form-control__background-color--focus: $form-control__background-color;
$form-control__box-shadow--focus: none;

$form-control__color--invalid: $form-control__color;
$form-control__background-color--invalid: $form-control__background-color;
$form-control__border-color--invalid: $form__color--danger;

// Alternate input sizes
$form-control__font-size--lg: $form__font-size--lg;
$form-control__padding-vertical--lg: $form__padding-vertical--lg;
$form-control__padding-horizontal--lg: $form__padding-horizontal--lg;

$form-control__font-size--sm: $form__font-size--sm;
$form-control__padding-vertical--sm: $form__padding-vertical--sm;
$form-control__padding-horizontal--sm: $form__padding-horizontal--sm;

$form-control__font-size--xs: $form__font-size--xs;
$form-control__padding-vertical--xs: $form__padding-vertical--xs;
$form-control__padding-horizontal--xs: $form__padding-horizontal--xs;

// LABELS
// ---------------------------
$label__display: block;
$label__font-size: $base__font-size--sm;
$label__line-height: $base__line-height;
$label__font-family: $base__font-family;
$label__font-style: normal;
$label__color: $meta__color;
$label__font-weight: $base__font-weight;
$label__text-transform: none;
$label__margin-top: 0;
$label__margin-right: 0;
$label__margin-bottom: $base__margin--quarter;
$label__margin-left: 0;

$label__color--required: $label__color;
$label__font-weight--required: $label__font-weight;

$label__color--invalid: $form__color--danger;

// LEGEND
// ---------------------------
$legend__display: block;
$legend__font-size: $base__font-size--sm;
$legend__line-height: $base__line-height;
$legend__font-family: $base__font-family;
$legend__font-style: normal;
$legend__color: $meta__color;
$legend__font-weight: $base__font-weight;
$legend__text-transform: none;
$legend__margin-top: 0;
$legend__margin-right: 0;
$legend__margin-bottom: $base__margin--quarter;
$legend__margin-left: 0;

$legend__color--required: $legend__color;
$legend__font-weight--required: $legend__font-weight;

$legend__color--invalid: $form__color--danger;

// HELPER TEXT
// ---------------------------
$helper-text__font-size: $base__font-size--sm;
$helper-text__line-height: $base__line-height;
$helper-text__font-family: $base__font-family;
$helper-text__font-style: normal;
$helper-text__color: $meta__color;
$helper-text__font-weight: $base__font-weight;
$helper-text__text-transform: none;
$helper-text__margin-top: $base__margin--quarter;
$helper-text__margin-right: 0;
$helper-text__margin-bottom: 0;
$helper-text__margin-left: 0;

$helper-text__color--invalid: $form__color--danger;
