// Figures
$figure__margin-bottom: $base__margin;

// Document Main
$doc__margin-bottom: $base__margin;

// Entries
$entry__margin-bottom: $base__margin;

// Widgets
$widget__margin-bottom: $base__margin;

// Blocks
$block__margin-bottom: $base__margin;

// MEDIA QUERY BREAKPOINTS
// ---------------------------

// Extra small screen / phone
$bp-xs: 480;

// Tablet small
$bp-sm: 600;

// Small screen / tablet
$bp-md: 768;

// Medium screen / desktop
$bp-lg: 992;

// Large screen / wide desktop
$bp-xl: 1200;

// Base breakpoint
$breakpoints: (
	bp-none: 0, // do not remove or comment out
	bp-xs: $bp-xs,
	bp-sm: $bp-sm,
	bp-md: $bp-md,
	bp-lg: $bp-lg,
	bp-xl: $bp-xl,
);

$base__breakpoint: $bp-lg;

// IMAGE SIZES - should match image sizes set in theme, which are usually based on grid column widths
// ---------------------------
$image-size--th: 356;
$image-size--md: 546;
$image-size--ml: 926;
$image-size--lg: 1116;
$image-size--xl: 1440;
