// LINK COLORS
// ---------------------------
$link__color: $accent__color;
$link__color--hover: $accent__color--alt;
$link__color--active: $link__color--hover;
$link__color--visited: $link__color;
$link__text-decoration: none;
$link__text-decoration--hover: $link__text-decoration;

// HEADINGS
// ---------------------------
$headings__font-family: $base__font-family;
$headings__font-size: $base__font-size;
$headings__line-height: $base__line-height;
$headings__font-weight: $base__font-weight--bold;
$headings__text-align: $base__text-align;
$headings__color: $base__color;
$headings__font-style: normal;
$headings__text-transform: none;
$headings__letter-spacing: normal;
$headings__text-decoration: none;
$headings__margin-top: 0;
$headings__margin-right: 0;
$headings__margin-bottom: $base__margin;
$headings__margin-left: 0;
$headings__font-size--lg: $headings__font-size;
$headings__breakpoint: $bp-lg;
$headings-link__color: $link__color;
$headings-link__text-decoration: $link__text-decoration;
$headings-link__color--hover: $link__color--hover;
$headings-link__text-decoration--hover: $link__text-decoration--hover;

$h1__font-family: $headings__font-family;
$h1__font-size: 36;
$h1__line-height: $headings__line-height;
$h1__font-weight: $headings__font-weight;
$h1__text-align: $headings__text-align;
$h1__color: $headings__color;
$h1__font-style: $headings__font-style;
$h1__text-transform: $headings__text-transform;
$h1__letter-spacing: $headings__letter-spacing;
$h1__text-decoration: $headings__text-decoration;
$h1__margin-top: $headings__margin-top;
$h1__margin-right: $headings__margin-right;
$h1__margin-bottom: $headings__margin-bottom;
$h1__margin-left: $headings__margin-left;
$h1__font-size--lg: $h1__font-size;
$h1__breakpoint: $headings__breakpoint;

$h2__font-family: $headings__font-family;
$h2__font-size: 24;
$h2__line-height: $headings__line-height;
$h2__font-weight: $headings__font-weight;
$h2__text-align: $headings__text-align;
$h2__color: $headings__color;
$h2__font-style: $headings__font-style;
$h2__text-transform: $headings__text-transform;
$h2__letter-spacing: $headings__letter-spacing;
$h2__text-decoration: $headings__text-decoration;
$h2__margin-top: $headings__margin-top;
$h2__margin-right: $headings__margin-right;
$h2__margin-bottom: $headings__margin-bottom;
$h2__margin-left: $headings__margin-left;
$h2__font-size--lg: $h2__font-size;
$h2__breakpoint: $headings__breakpoint;

$h3__font-family: $headings__font-family;
$h3__font-size: 21;
$h3__line-height: $headings__line-height;
$h3__font-weight: $headings__font-weight;
$h3__text-align: $headings__text-align;
$h3__color: $headings__color;
$h3__font-style: $headings__font-style;
$h3__text-transform: $headings__text-transform;
$h3__letter-spacing: $headings__letter-spacing;
$h3__text-decoration: $headings__text-decoration;
$h3__margin-top: $headings__margin-top;
$h3__margin-right: $headings__margin-right;
$h3__margin-bottom: $headings__margin-bottom;
$h3__margin-left: $headings__margin-left;
$h3__font-size--lg: $h3__font-size;
$h3__breakpoint: $headings__breakpoint;

$h4__font-family: $headings__font-family;
$h4__font-size: 18;
$h4__line-height: $headings__line-height;
$h4__font-weight: $headings__font-weight;
$h4__text-align: $headings__text-align;
$h4__color: $headings__color;
$h4__font-style: $headings__font-style;
$h4__text-transform: $headings__text-transform;
$h4__letter-spacing: $headings__letter-spacing;
$h4__text-decoration: $headings__text-decoration;
$h4__margin-top: $headings__margin-top;
$h4__margin-right: $headings__margin-right;
$h4__margin-bottom: $headings__margin-bottom;
$h4__margin-left: $headings__margin-left;
$h4__font-size--lg: $h4__font-size;
$h4__breakpoint: $headings__breakpoint;

$h5__font-family: $headings__font-family;
$h5__font-size: 16;
$h5__line-height: $headings__line-height;
$h5__font-weight: $headings__font-weight;
$h5__text-align: $headings__text-align;
$h5__color: $headings__color;
$h5__font-style: $headings__font-style;
$h5__text-transform: $headings__text-transform;
$h5__letter-spacing: $headings__letter-spacing;
$h5__text-decoration: $headings__text-decoration;
$h5__margin-top: $headings__margin-top;
$h5__margin-right: $headings__margin-right;
$h5__margin-bottom: $headings__margin-bottom;
$h5__margin-left: $headings__margin-left;
$h5__font-size--lg: $h5__font-size;
$h5__breakpoint: $headings__breakpoint;

$h6__font-family: $headings__font-family;
$h6__font-size: 14;
$h6__line-height: $headings__line-height;
$h6__font-weight: $headings__font-weight;
$h6__text-align: $headings__text-align;
$h6__color: $headings__color;
$h6__font-style: $headings__font-style;
$h6__text-transform: $headings__text-transform;
$h6__letter-spacing: $headings__letter-spacing;
$h6__text-decoration: $headings__text-decoration;
$h6__margin-top: $headings__margin-top;
$h6__margin-right: $headings__margin-right;
$h6__margin-bottom: $headings__margin-bottom;
$h6__margin-left: $headings__margin-left;
$h6__font-size--lg: $h6__font-size;
$h6__breakpoint: $headings__breakpoint;

$entry-title__font-family: $h2__font-family;
$entry-title__font-size: $h2__font-size;
$entry-title__line-height: $h2__line-height;
$entry-title__font-weight: $h2__font-weight;
$entry-title__text-align: $h2__text-align;
$entry-title__color: $h2__color;
$entry-title__font-style: $h2__font-style;
$entry-title__text-transform: $h2__text-transform;
$entry-title__letter-spacing: $h2__letter-spacing;
$entry-title__text-decoration: $h2__text-decoration;
$entry-title__margin-top: $h2__margin-top;
$entry-title__margin-right: $h2__margin-right;
$entry-title__margin-bottom: $h2__margin-bottom;
$entry-title__margin-left: $h2__margin-left;
$entry-title__font-size--lg: $entry-title__font-size;
$entry-title__breakpoint: $h2__breakpoint;

$doc-title__font-family: $h1__font-family;
$doc-title__font-size: $h1__font-size;
$doc-title__line-height: $h1__line-height;
$doc-title__font-weight: $h1__font-weight;
$doc-title__text-align: $h1__text-align;
$doc-title__color: $h1__color;
$doc-title__font-style: $h1__font-style;
$doc-title__text-transform: $h1__text-transform;
$doc-title__letter-spacing: $h1__letter-spacing;
$doc-title__text-decoration: $h1__text-decoration;
$doc-title__margin-top: $h1__margin-top;
$doc-title__margin-right: $h1__margin-right;
$doc-title__margin-bottom: $h1__margin-bottom;
$doc-title__margin-left: $h1__margin-left;
$doc-title__font-size--lg: $doc-title__font-size;
$doc-title__breakpoint: $h1__breakpoint;

$widget-title__font-family: $h2__font-family;
$widget-title__font-size: $h2__font-size;
$widget-title__line-height: $h2__line-height;
$widget-title__font-weight: $h2__font-weight;
$widget-title__text-align: $h2__text-align;
$widget-title__color: $h2__color;
$widget-title__font-style: $h2__font-style;
$widget-title__text-transform: $h2__text-transform;
$widget-title__letter-spacing: $h2__letter-spacing;
$widget-title__text-decoration: $h2__text-decoration;
$widget-title__margin-top: $h2__margin-top;
$widget-title__margin-right: $h2__margin-right;
$widget-title__margin-bottom: $h2__margin-bottom;
$widget-title__margin-left: $h2__margin-left;
$widget-title__font-size--lg: $widget-title__font-size;
$widget-title__breakpoint: $h2__breakpoint;

$section-title__font-family: $h2__font-family;
$section-title__font-size: $h2__font-size;
$section-title__line-height: $h2__line-height;
$section-title__font-weight: $h2__font-weight;
$section-title__text-align: $h2__text-align;
$section-title__color: $h2__color;
$section-title__font-style: $h2__font-style;
$section-title__text-transform: $h2__text-transform;
$section-title__letter-spacing: $h2__letter-spacing;
$section-title__text-decoration: $h2__text-decoration;
$section-title__margin-top: $h2__margin-top;
$section-title__margin-right: $h2__margin-right;
$section-title__margin-bottom: $h2__margin-bottom;
$section-title__margin-left: $h2__margin-left;
$section-title__font-size--lg: $section-title__font-size;
$section-title__breakpoint: $h2__breakpoint;

$nav-title__font-family: $h2__font-family;
$nav-title__font-size: $h2__font-size;
$nav-title__line-height: $h2__line-height;
$nav-title__font-weight: $h2__font-weight;
$nav-title__text-align: $h2__text-align;
$nav-title__color: $h2__color;
$nav-title__font-style: $h2__font-style;
$nav-title__text-transform: $h2__text-transform;
$nav-title__letter-spacing: $h2__letter-spacing;
$nav-title__text-decoration: $h2__text-decoration;
$nav-title__margin-top: $h2__margin-top;
$nav-title__margin-right: $h2__margin-right;
$nav-title__margin-bottom: $h2__margin-bottom;
$nav-title__margin-left: $h2__margin-left;
$nav-title__font-size--lg: $nav-title__font-size;
$nav-title__breakpoint: $h2__breakpoint;

// NAVS
// ---------------------------
$menu__font-family: $base__font-family;
$menu__font-size: $base__font-size;
$menu__line-height: $base__line-height;
$menu__font-weight: $base__font-weight--bold;
$menu__text-align: $base__text-align;
$menu__color: $base__color;
$menu__font-style: normal;
$menu__text-transform: none;
$menu__letter-spacing: normal;
$menu__text-decoration: none;
$menu__margin-top: 0;
$menu__margin-right: 0;
$menu__margin-bottom: $base__margin;
$menu__margin-left: 0;
$menu__font-size--lg: $menu__font-size;
$menu__breakpoint: $bp-lg;
$menu-link__color: $link__color;
$menu-link__text-decoration: $link__text-decoration;
$menu-link__color--hover: $link__color--hover;
$menu-link__text-decoration--hover: $link__text-decoration--hover;

// Subnavs
$subnav__font-family: $base__font-family;
$subnav__font-weight: $base__font-weight;
$subnav__link-color: $link__color;
$subnav__link-color--hover: $link__color--hover;
$subnav__link-color--active: $link__color--active;

// Post Navs
$postnav__font-size: $base__font-size;
$postnav__font-family: $base__font-family;
$postnav__line-height: $base__line-height;
$postnav__font-weight: $base__font-weight;
$postnav__text-transform: none;
$postnav__link-color: $link__color;
$postnav__link-color--hover: $link__color--hover;
$postnav__margin-bottom: $base__margin;

// TABLES
// ---------------------------
$table__font-size: $base__font-size;
$table__font-family: $base__font-family;
$table__line-height: $base__line-height;
$table__font-weight: $base__font-weight;
$table__color: $base__color;
$table__text-align: left;
$table__background-color: $base__background-color;
$table__border-color: $base__border-color;
$table__border-style: solid;
$table__margin-top: 0;
$table__margin-bottom: $base__margin;
$table__vertical-align: top;

$th__font-weight: $base__font-weight--bold;
$th__text-align: $table__text-align;

$td__text-align: $table__text-align;
$td__border-top-width: 1;
$td__border-right-width: 1;
$td__border-bottom-width: 1;
$td__border-left-width: 1;
$td__padding-vertical: $base__font-size / 2;
$td__padding-horizontal: $base__font-size / 2;

// PREFORMATTED - used for code, pre, and kbd elements
// ---------------------------
$preformatted__font-family: $font-family--monospace;
$preformatted__font-size: $base__font-size--sm;
$preformatted__padding-vertical: ( $base__margin - $preformatted__font-size ) / 2;
$preformatted__padding-horizontal: $base__margin - $preformatted__font-size;
$preformatted__color: $base__color--dark;
$preformatted__background-color: $base__background-color--alt;
$preformatted__border-radius: 3;

$code__color: $preformatted__color;
$code__background-color: $preformatted__background-color;

$kbd__color: $base__background-color;
$kbd__background-color: $base__color;

$pre__font-family: $preformatted__font-family;
$pre__color: $preformatted__color;
$pre__background-color: $preformatted__background-color;
$pre__padding-vertical: $base__font-size;
$pre__padding-horizontal: $base__font-size;
$pre__margin-top: 0;
$pre__margin-bottom: $base__margin;

// HIGHLIGHT - used for mark and ins elements
// ---------------------------
$highlight__color: $base__color;
$highlight__background-color: $yellow;

// BLOCKQUOTE
// ---------------------------
$blockquote__font-family: $base__font-family;
$blockquote__font-size: $base__font-size;
$blockquote__line-height: $base__line-height;
$blockquote__font-weight: $base__font-weight;
$blockquote__text-align: $base__text-align;
$blockquote__color: $base__color;
$blockquote__font-style: normal;
$blockquote__text-transform: none;
$blockquote__letter-spacing: normal;
$blockquote__text-decoration: none;
$blockquote__margin-top: 0;
$blockquote__margin-right: 0;
$blockquote__margin-bottom: $base__margin;
$blockquote__margin-left: 0;
$blockquote__font-size--lg: $blockquote__font-size;
$blockquote__breakpoint: $bp-lg;

// CITE
// ---------------------------
$cite__font-family: $base__font-family;
$cite__font-size: $base__font-size;
$cite__line-height: $base__line-height;
$cite__font-weight: $base__font-weight;
$cite__text-align: $base__text-align;
$cite__color: $base__color;
$cite__font-style: normal;
$cite__text-transform: none;
$cite__letter-spacing: normal;
$cite__text-decoration: none;
$cite__margin-top: 0;
$cite__margin-right: 0;
$cite__margin-bottom: $base__margin;
$cite__margin-left: 0;
$cite__font-size--lg: $cite__font-size;
$cite__breakpoint: $bp-lg;

// PULLQUOTE
// ---------------------------
$pullquote__font-family: $base__font-family;
$pullquote__font-size: $base__font-size;
$pullquote__line-height: $base__line-height;
$pullquote__font-weight: $base__font-weight;
$pullquote__text-align: $base__text-align;
$pullquote__color: $base__color;
$pullquote__font-style: normal;
$pullquote__text-transform: none;
$pullquote__letter-spacing: normal;
$pullquote__text-decoration: none;
$pullquote__margin-top: 0;
$pullquote__margin-right: 0;
$pullquote__margin-bottom: $base__margin;
$pullquote__margin-left: 0;
$pullquote__font-size--lg: $pullquote__font-size;
$pullquote__breakpoint: $bp-lg;

// LEDE
// ---------------------------
$lede__font-family: $base__font-family;
$lede__font-size: $base__font-size;
$lede__line-height: $base__line-height;
$lede__font-weight: $base__font-weight;
$lede__text-align: $base__text-align;
$lede__color: $base__color;
$lede__font-style: normal;
$lede__text-transform: none;
$lede__letter-spacing: normal;
$lede__text-decoration: none;
$lede__margin-top: 0;
$lede__margin-right: 0;
$lede__margin-bottom: $base__margin;
$lede__margin-left: 0;
$lede__font-size--lg: $lede__font-size;
$lede__breakpoint: $bp-lg;

// META
// ---------------------------
$entry-meta__font-family: $base__font-family;
$entry-meta__font-size: $base__font-size--sm;
$entry-meta__line-height: $base__line-height;
$entry-meta__font-weight: $base__font-weight;
$entry-meta__text-align: $base__text-align;
$entry-meta__color: $base__color--secondary;
$entry-meta__font-style: normal;
$entry-meta__text-transform: none;
$entry-meta__letter-spacing: normal;
$entry-meta__text-decoration: none;
$entry-meta__margin-top: 0;
$entry-meta__margin-right: 0;
$entry-meta__margin-bottom: $base__margin;
$entry-meta__margin-left: 0;
$entry-meta__font-size--lg: $entry-meta__font-size;
$entry-meta__breakpoint: $bp-lg;

// FIGCAPTION
// ---------------------------
$figcaption__font-family: $base__font-family;
$figcaption__font-size: $base__font-size--sm;
$figcaption__line-height: $base__line-height;
$figcaption__font-weight: $base__font-weight;
$figcaption__text-align: $base__text-align;
$figcaption__color: $base__color--secondary;
$figcaption__font-style: normal;
$figcaption__text-transform: none;
$figcaption__letter-spacing: normal;
$figcaption__text-decoration: none;
$figcaption__margin-top: $base__margin--quarter;
$figcaption__margin-right: 0;
$figcaption__margin-bottom: 0;
$figcaption__margin-left: 0;
$figcaption__font-size--lg: $figcaption__font-size;
$figcaption__breakpoint: $bp-lg;
