// BASE TYPE STYLES
// ---------------------------
$font-family--helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--georgia: Georgia, "Times New Roman", Times, serif;
$font-family--menlo: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family--system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-family--sans-serif:  $font-family--helvetica;
$font-family--serif: $font-family--georgia;
$font-family--monospace: $font-family--menlo;

$font-weight--extra-light: 100;
$font-weight--light: 200;
$font-weight--book: 300;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--semibold: 600;
$font-weight--bold: 700;
$font-weight--black: 800;
$font-weight--extra-black: 900;

// BASE
$base__font-family: $font-family--sans-serif;
$base__unit: 'rem';
$base__font-size: 16;
$base__font-size--md: 18;
$base__font-size--lg: 21;
$base__font-size--sm: 14;
$base__font-size--xs: 12;
$base__font-weight: $font-weight--normal;
$base__font-weight--bold: $font-weight--bold;
$base__margin: 24;
$base__margin--half: $base__margin / 2;
$base__margin--quarter: $base__margin / 4;
$base__line-height--xl: ($base__font-size + (($base__margin - $base__font-size) * 1.5)) / $base__font-size;
$base__line-height--lg: ($base__font-size + (($base__margin - $base__font-size) * 1.25)) / $base__font-size;
$base__line-height: $base__margin / $base__font-size;
$base__line-height--sm: ($base__font-size + (($base__margin - $base__font-size) / 2)) / $base__font-size;
$base__line-height--xs: ($base__font-size + (($base__margin - $base__font-size) / 4)) / $base__font-size;
$base__text-align: left;