.wp-block-button {
	color: inherit;
}

//.wp-block-button.aligncenter {
//	text-align: center;
//}
//
//.wp-block-button.alignright {
//	/*rtl:ignore*/
//	text-align: right;
//}

.wp-block-button__link {
//	background-color: #32373c;
//	border: none;
//	border-radius: 28px;
//	box-shadow: none;
//	color: inherit;
//	cursor: pointer;
//	display: inline-block;
//	font-size: 18px;
//	margin: 0;
//	padding: 12px 24px;
//	text-align: center;
//	text-decoration: none;
//	overflow-wrap: break-word;
	@extend .button;
}

//.wp-block-button__link:hover, .wp-block-button__link:focus, .wp-block-button__link:active, .wp-block-button__link:visited {
//	color: inherit;
//}
//
//.is-style-squared .wp-block-button__link {
//	border-radius: 0;
//}
//
//.no-border-radius.wp-block-button__link {
//	border-radius: 0 !important;
//}

//.is-style-outline {
//	color: #32373c;
//	color: inherit;
//}

.is-style-outline .wp-block-button__link {
//	background-color: transparent;
//	border: 2px solid;
	@extend .button--outline;
}
