// Increased specificity to override blocks default margin.
.wp-block-buttons {
	.wp-block-button {
		display: inline-block;
	//	margin-right: $grid-unit-10;
	//	margin-bottom: $grid-unit-10;
		margin-right: unitcalc( $form-grid__gutter-width );
	}

	.is-style-block,
	.is-style-outline-block {
		display: block;
		margin-right: 0;
	}
}

.wp-block-buttons.alignright .wp-block-button {
	margin-right: 0;
//	margin-left: $grid-unit-10;
	margin-left: unitcalc( $form-grid__gutter-width );

	.is-style-block {
		margin-left: 0;
	}
}

.wp-block-buttons.aligncenter {
	text-align: center;
}
