//:root .has-pale-pink-background-color {
//	background-color: #f78da7;
//}
//
//:root .has-vivid-red-background-color {
//	background-color: #cf2e2e;
//}
//
//:root .has-luminous-vivid-orange-background-color {
//	background-color: #ff6900;
//}
//
//:root .has-luminous-vivid-amber-background-color {
//	background-color: #fcb900;
//}
//
//:root .has-light-green-cyan-background-color {
//	background-color: #7bdcb5;
//}
//
//:root .has-vivid-green-cyan-background-color {
//	background-color: #00d084;
//}
//
//:root .has-pale-cyan-blue-background-color {
//	background-color: #8ed1fc;
//}
//
//:root .has-vivid-cyan-blue-background-color {
//	background-color: #0693e3;
//}
//
//:root .has-vivid-purple-background-color {
//	background-color: #9b51e0;
//}
//
//:root .has-very-light-gray-background-color {
//	background-color: #eee;
//}
//
//:root .has-cyan-bluish-gray-background-color {
//	background-color: #abb8c3;
//}
//
//:root .has-very-dark-gray-background-color {
//	background-color: #313131;
//}
//
//:root .has-pale-pink-color {
//	color: #f78da7;
//}
//
//:root .has-vivid-red-color {
//	color: #cf2e2e;
//}
//
//:root .has-luminous-vivid-orange-color {
//	color: #ff6900;
//}
//
//:root .has-luminous-vivid-amber-color {
//	color: #fcb900;
//}
//
//:root .has-light-green-cyan-color {
//	color: #7bdcb5;
//}
//
//:root .has-vivid-green-cyan-color {
//	color: #00d084;
//}
//
//:root .has-pale-cyan-blue-color {
//	color: #8ed1fc;
//}
//
//:root .has-vivid-cyan-blue-color {
//	color: #0693e3;
//}
//
//:root .has-vivid-purple-color {
//	color: #9b51e0;
//}
//
//:root .has-very-light-gray-color {
//	color: #eee;
//}
//
//:root .has-cyan-bluish-gray-color {
//	color: #abb8c3;
//}
//
//:root .has-very-dark-gray-color {
//	color: #313131;
//}
//
.has-small-font-size {
//	font-size: 13px;
	font-size: unitcalc($base__font-size--sm);
}

.has-regular-font-size,
.has-normal-font-size {
//	font-size: 16px;
	font-size: unitcalc($base__font-size);
}

.has-medium-font-size {
//	font-size: 20px;
	font-size: unitcalc($base__font-size--md);
}

.has-large-font-size {
//	font-size: 36px;
	font-size: unitcalc($base__font-size--lg);
}

.has-larger-font-size,
.has-huge-font-size {
//	font-size: 42px;
	font-size: unitcalc($base__font-size--xl);
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-left {
	/*rtl:ignore*/
	text-align: left;
}

.has-text-align-right {
	/*rtl:ignore*/
	text-align: right;
}
