//.wp-block-image {
//	max-width: 100%;
//	margin-bottom: 1em;
//	margin-bottom: unitcalc( $figure__margin-bottom );
//}

//.wp-block-image img {
//	max-width: 100%;
//}
//
//.wp-block-image.aligncenter {
//	text-align: center;
//}
//
//.wp-block-image.alignfull img,
//.wp-block-image.alignwide img {
//	width: 100%;
//}
//
//.wp-block-image .alignleft,
//.wp-block-image .alignright,
//.wp-block-image .aligncenter, .wp-block-image.is-resized {
//	display: table;
//	margin-left: 0;
//	margin-right: 0;
//}
//
//.wp-block-image .alignleft > figcaption,
//.wp-block-image .alignright > figcaption,
//.wp-block-image .aligncenter > figcaption, .wp-block-image.is-resized > figcaption {
//	display: table-caption;
//	caption-side: bottom;
//}
//
//.wp-block-image .alignleft {
//	/*rtl:ignore*/
//	float: left;
//	/*rtl:ignore*/
//	margin-right: 1em;
//}
//
//.wp-block-image .alignright {
//	/*rtl:ignore*/
//	float: right;
//	/*rtl:ignore*/
//	margin-left: 1em;
//}
//
//.wp-block-image .aligncenter {
//	margin-left: auto;
//	margin-right: auto;
//}
//
//.wp-block-image figcaption {
//	margin-top: 0.5em;
//	margin-bottom: 1em;
//}
//
//.is-style-circle-mask img {
//	border-radius: 9999px;
//}
//
//@supports ((-webkit-mask-image: none) or (mask-image: none)) or (-webkit-mask-image: none) {
//	.is-style-circle-mask img {
//		/* stylelint-disable */
//		-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
//						mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
//		/* stylelint-enable */
//		mask-mode: alpha;
//		-webkit-mask-repeat: no-repeat;
//						mask-repeat: no-repeat;
//		-webkit-mask-size: contain;
//						mask-size: contain;
//		-webkit-mask-position: center;
//						mask-position: center;
//		border-radius: none;
//	}
//}
