.is-small-text {
//	font-size: 14px;
	font-size: unitcalc( $base__font-size--sm );
}

.is-regular-text {
//	font-size: 16px;
	font-size: unitcalc( $base__font-size );
}

.is-large-text {
//	font-size: 36px;
	font-size: unitcalc( $base__font-size--lg );
}

.is-larger-text {
//	font-size: 48px;
	font-size: unitcalc( $base__font-size--xl );
}

//.has-drop-cap:not(:focus)::first-letter {
//	float: left;
//	font-size: 8.4em;
//	line-height: 0.68;
//	font-weight: 100;
//	margin: 0.05em 0.1em 0 0;
//	text-transform: uppercase;
//	font-style: normal;
//}
//
//.has-drop-cap:not(:focus)::after {
//	content: "";
//	display: table;
//	clear: both;
//	padding-top: 14px;
//}

p.has-background {
//	padding: 20px 30px;
	padding: unitcalc( $base__margin );
}

//p.has-text-color a {
//	color: inherit;
//}
