// BUTTONS
// ---------------------------
//button,
//input[type='submit'],
.button {
	@include button;
}

.button-lg {
	@include button-lg;
}

.button-sm {
	@include button-sm;
}

.button-xs {
	@include button-xs;
}

// Alternate button states
.button-disabled {
  @include button-disabled;
}

.button-primary {
  @include button-primary;
}

.button-success {
  @include button-success;
}

.button-info {
  @include button-info;
}

.button-warning {
  @include button-warning;
}

.button-danger {
  @include button-danger;
}

// FORM CONTROLS
// ---------------------------
$form__controls: 'textarea',
'input[type="text"]',
'input[type="password"]',
'input[type="datetime"]',
'input[type="datetime-local"]',
'input[type="date"]',
'input[type="month"]',
'input[type="time"]',
'input[type="week"]',
'input[type="number"]',
'input[type="email"]',
'input[type="url"]',
'input[type="search"]',
'input[type="tel"]',
'input[type="color"]',
'.form-control';

// class only
.form-control {
  @include form-control;
}

//all inputs with class
//#{$form__controls} {
//	@include form-control;
//}

input[type="search"] {
  box-sizing: border-box;
}

textarea,
textarea.form-control {
	width: 100%;
}

select {
	padding: .25em 0;
	line-height: 2;
}

legend {
  @include h3;
}

input[type="checkbox"] {
	display: inline-block;
	margin-right: .5em;
}

.required {
	color: $input__color--required;
	font-weight: $input__font-weight--required;
}

// class only
.form-control-disabled {
  @include form-control-disabled;
}

// all inputs with class
//#{$form__controls} {
//  &.form-control-disabled {
//    @include form-control-disabled;
//  }
//}

// class only
.form-control-success {
  @include form-control-success;
}

// all inputs with class
//#{$form__controls} {
//  &.form-control-success {
//    @include form-control-success;
//  }
//}

// class only
.form-control-warning {
  @include form-control-warning;
}

// all inputs with class
//#{$form__controls} {
//  &.form-control-warning {
//    @include form-control-warning;
//  }
//}

// class only
.form-control-danger {
  @include form-control-danger;
}

// all inputs with class
//#{$form__controls} {
//  &.form-control-danger {
//    @include form-control-danger;
//  }
//}
