* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.site {
  @include container;
  @include container--centered;
  padding-top: $base__margin-emcalc;
}



