// GENERAL TYPE STYLES
// -------------------------
body {
	font-size: percentage($base__font-size/16);
	line-height: $base__line-height;
	font-family: $base__font-family;
	font-weight: $base__font-weight;
	text-align: $base__text-align;
	color: $base__color;
	background-color: $base__background-color;
	width: 100%;
	@extend .clearfix;
}

p,
ul,
ol,
dl,
pre,
address,
hr {
	@include margin-emcalc($margin-bottom: $base__margin);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

abbr,
acronym {
	border-bottom: emcalc(1) dotted $base__border-color;
	cursor: help;
}

mark,
ins {
	background: $yellow;
	text-decoration: none;
	color: #000;
}

ul {
	list-style: disc outside;

	ul {
		list-style-type: circle;

		ul {
			list-style-type: square;
		}
	}
}

ol {
	list-style: decimal outside;
}

ul,
ol {
	padding: 0 0 0 $base__margin-emcalc;

	ul,
	ol {
		padding-top: $base__margin-emcalc--quarter;
		margin-bottom: 0;
		font-size: 1em;
	}
}

li {
	margin-bottom: $base__margin-emcalc--quarter;
}

a {
	color: $link__color;
	text-decoration: $link__text-decoration;
	outline: 0;

	&:hover,
	&:focus {
		color: $link__color--hover;
		text-decoration: $link__text-decoration--hover;
	}

	&:focus {
		@include tab-focus;
		outline: 0;
	}

	&:visited {
		color: $link__color--visited;
	}
}

b,
strong {
	font-weight: $font-weight--bold;
}

dt,
dd {
	line-height: $base__line-height;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0; // Undo browser default
	margin-bottom: $base__margin-emcalc--half;
}

hr {
	border: 0;
	border-top: 1px solid $base__border-color;
}

// Abbreviations and acronyms
abbr[title],
// Added data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted $base__border-color;
}

abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

cite {
  font-style: normal;
  @include cite;
}

// Blockquotes
blockquote {
  @include blockquote;
}

// Ledes
.lede {
  @include lede;
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

// Addresses
address {
	display: block;
	font-style: normal;
	line-height: $base__line-height;
}

// Emphasis & misc
small {
	@include small;
}

table {
  @include font-family($table__font-family);
	@include font-size-emcalc($table__font-size);
	@include line-height($table__line-height);
	@include font-weight($table__font-weight);
	@include text-align($table__text-align);
	@include color($table__color);
	@include margin-top-emcalc($table__margin-top, $table__font-size);
	@include margin-bottom-emcalc($table__margin-bottom, $table__font-size);
	width: 100%;
	max-width: 100%;
}

th,
td {
  @include padding-emcalc($td__padding-vertical, $td__padding-horizontal, $td__padding-vertical, $td__padding-horizontal, $table__font-size);
	border-style: $table__border-style;
	border-color: $table__border-color;
	@include border-width($td__border-top-width, $td__border-right-width, $td__border-bottom-width, $td__border-left-width);
	text-align: left;
	vertical-align: top;
}

th {
	font-weight: bold;
}

// HEADINGS
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	@include heading;
}

h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

h4 {
	@include h4;
}

h5 {
	@include h5;
}

h6 {
	@include h6;
}

.entry__title {
	@include entry__title;
}

.doc__title {
	@include doc__title;
}

.widget__title {
	@include widget__title;
}

.section__title {
	@include section__title;
}

// META
// -------------------------
.entry__meta {
  @include meta;
	clear: both;
}

// TYPEKIT
// -------------------------
.wf-loading {

	body {
		visibility: hidden;
	}
}
