@mixin style($property, $value: 0) {
  #{$property}: $value;
}
@mixin style-emcalc($property, $value: 0, $font-size: $base-font-size) {
  #{$property}: emcalc($value, $font-size);
}
@mixin style-change($property, $value, $default-value) {
  @if $value != $default-value {
    #{$property}: $value;
  }
}

// shorthand rules
@mixin style-shorthand($property, $value-top: 0, $value-right: $value-top, $value-bottom: $value-top, $value-left: $value-right) {
  @if $value-left != $value-right {
    #{$property}: $value-top $value-right $value-bottom $value-left;
  } @else if $value-top != $value-bottom {
    #{$property}: $value-top $value-right $value-bottom;
  } @else if $value-top != $value-right {
    #{$property}: $value-top $value-right;
  } @else {
    #{$property}: $value-top;
  }
}
@mixin style-shorthand-emcalc($property, $value-top: 0, $value-right: $value-top, $value-bottom: $value-top, $value-left: $value-right, $font-size: $base-font-size) {
  @if $value-left != $value-right {
    #{$property}: emcalc($value-top, $font-size) emcalc($value-right, $font-size) emcalc($value-bottom, $font-size) emcalc($value-left, $font-size);
  } @else if $value-top != $value-bottom {
    #{$property}: emcalc($value-top, $font-size) emcalc($value-right, $font-size) emcalc($value-bottom, $font-size);
  } @else if $value-top != $value-right {
    #{$property}: emcalc($value-top, $font-size) emcalc($value-right, $font-size);
  } @else {
    #{$property}: emcalc($value-top, $font-size);
  }
}

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Hide text completely
@mixin text-hide() {
	font: "0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

@mixin sr-only() {
  position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

// or, if we have problems with that
@mixin ir() {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

// Webkit-style focus
@mixin tab-focus() {
	// Default
	outline: thin dotted #333;
	// Webkit
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}
@mixin square($size) {
	@include size($size, $size);
}
@mixin circle() {
	border-radius: 50%;
}

// Single side border-radius
@mixin border-top-radius($radius) {
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	 border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

// CSS3 Content Columns
@mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
	column-count: $column-count;
	column-gap: $column-gap;
}

// Responsive utilities
@mixin responsive-visibility() {
	display: block !important;
	tr& { display: table-row !important; }
	th&,
	td& { display: table-cell !important; }
}

@mixin responsive-invisibility() {
	display: none !important;
	tr& { display: none !important; }
	th&,
	td& { display: none !important; }
}
