// BUTTONS
// -------------------------
@mixin button {
	font-family: $button-font-family;
	font-weight: $button-font-weight;
	@include font-size-emcalc($button-font-size);
	line-height: $button-line-height;
	@include padding-emcalc($padding-top: $form-padding-vertical, $padding-right: $form-padding-horizontal, $font-size: $button-font-size);
	color: $button-color;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 0;
	background-color: $button-background-color;
	border: 1px solid $button-border-color;
	border-radius: ($form-border-radius / $button-font-size * 1em);
	white-space: nowrap;
	cursor: pointer;
	@include text-transform($button-text-transform);
	&:hover,
	&:focus {
		color: $button-hover-color;
		background-color: $button-hover-background-color;
		text-decoration: none;
		border-color: $button-hover-border-color;
	}
	&:focus {
		@include tab-focus;
	}
	&:active {
		outline: 0;
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none; // Future-proof disabling of clicks
		opacity: .65;
		box-shadow: none;
	}
}

@mixin button-lg {
	@include font-size-emcalc($button-font-size-lg);
}
@mixin button-sm {
	@include font-size-emcalc($button-font-size-sm);
}
@mixin button-xs {
	@include font-size-emcalc($button-font-size-xs);
}

@mixin button-variant(
  $color: $button-color,
  $background-color: $button-background-color,
  $border-color: $button-border-color,

  $hover-color: $button-hover-color,
  $hover-background-color: $button-hover-background-color,
  $hover-border-color: $button-hover-border-color
) {
  @include color($color, $button-color);
  @include background-color-change($background-color, $button-background-color);
  @include border-color-change($border-color, $button-border-color);
  @if ($hover-color != $button-hover-color) or ($hover-background-color != $button-hover-background-color) or ($hover-border-color != $button-hover-border-color) {
    &:hover,
    &:focus {
      @include color($hover-color, $button-hover-color);
      @include background-color-change($hover-background-color, $button-hover-background-color);
      @include border-color-change($hover-border-color, $button-hover-border-color);
    }
  }
}

// Alternate button states
@mixin button-disabled() {
  @include button-variant($button-disabled-color, $button-disabled-background-color, $button-disabled-border-color, $button-disabled-hover-color, $button-disabled-hover-background-color, $button-disabled-hover-border-color);
}
@mixin button-primary() {
  @include button-variant($button-primary-color, $button-primary-background-color, $button-primary-border-color, $button-primary-hover-color, $button-primary-hover-background-color, $button-primary-hover-border-color);
}
@mixin button-success() {
  @include button-variant($button-success-color, $button-success-background-color, $button-success-border-color, $button-success-hover-color, $button-success-hover-background-color, $button-success-hover-background-color);
}
@mixin button-info() {
  @include button-variant($button-info-color, $button-info-background-color, $button-info-border-color, $button-info-hover-color, $button-info-hover-background-color, $button-info-hover-background-color);
}
@mixin button-warning() {
  @include button-variant($button-warning-color, $button-warning-background-color, $button-warning-border-color, $button-warning-hover-color, $button-warning-hover-background-color, $button-warning-hover-background-color);
}
@mixin button-danger() {
  @include button-variant($button-danger-color, $button-danger-background-color, $button-danger-border-color, $button-danger-hover-color, $button-danger-hover-background-color, $button-danger-hover-background-color);
}

// Form controls
@mixin form-control {
	font-family: $input-font-family;
	@include font-size-emcalc($input-font-size);
	line-height: $form-line-height;
	color: $input-placeholder-color;
	@include border($form-border-width, solid, $input-border-color);
	@include border(1, solid, $input-border-color);
	border-radius: ($input-border-radius / $input-font-size * 1em);
	outline: none;
	@include padding-emcalc($padding-top: $form-padding-vertical, $padding-right: $form-padding-horizontal, $font-size: $input-font-size);
	display: inline-block;
	width: ($input-width / $input-font-size * 1em);
	vertical-align: middle;
	margin-bottom: 0;
	max-width: 100%;
	background-color: $input-background-color;
	@include box-shadow($input-box-shadow);
	&:focus {
		color: $input-focus-color;
    background-color: $input-focus-background-color;
		border-color: $input-focus-border-color;
		box-shadow: $input-focus-box-shadow;
	}
}

@mixin form-control-variant(
  $color: $input-color,
  $background-color: $input-background-color,
  $border-color: $input-border-color,
  $focus-color: $input-focus-color,
  $focus-background-color: $input-focus-background-color,
  $focus-border-color: $input-focus-border-color,
  $focus-box-shadow: $input-focus-box-shadow,
  $default-color: $input-color,
  $default-background-color: $input-background-color,
  $default-border-color: $input-border-color,
  $default-focus-color: $input-focus-color,
  $default-focus-background-color: $input-focus-background-color,
  $default-focus-border-color: $input-focus-border-color,
  $default-focus-box-shadow: $input-focus-box-shadow
) {
  @include color($color, $default-color);
  @include background-color-change($background-color, $default-background-color);
  @include border-color-change($border-color, $default-border-color);
  @if ($focus-color != $default-focus-color) or ($focus-background-color != $default-focus-background-color) or ($focus-border-color != $default-focus-border-color) or ($focus-box-shadow != $default-focus-box-shadow) {
  	&:focus {
    	@include color($focus-color, $default-focus-color);
    	@include background-color-change($focus-background-color, $default-focus-background-color);
    	@include border-color-change($focus-border-color, $default-focus-border-color);
    	@include box-shadow-change($focus-box-shadow, $default-focus-box-shadow);
  	}
	}
}

@mixin form-control-disabled {
  @include form-control-variant($input-disabled-color, $input-disabled-background-color, $input-disabled-border-color);
}
@mixin form-control-success {
   @include form-control-variant($input-success-color, $input-success-background-color, $input-success-border-color);
}
@mixin form-control-warning {
   @include form-control-variant($input-warning-color, $input-warning-background-color, $input-warning-border-color);
}
@mixin form-control-danger {
   @include form-control-variant($input-danger-color, $input-danger-background-color, $input-danger-border-color);
}

@mixin placeholder($color: $input-color-placeholder) {
	&:-moz-placeholder						{ color: $color; } // Firefox 4-18
	&::-moz-placeholder					 { color: $color; } // Firefox 19+
	&:-ms-input-placeholder			 { color: $color; } // Internet Explorer 10+
	&::-webkit-input-placeholder	{ color: $color; } // Safari and Chrome
}