html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clearfix:before, body:before, .clearfix:after, body:after {
  content: " ";
  display: table;
}

.clearfix:after, body:after {
  clear: both;
}

.ir {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.sr-only, .form-allowed-tags,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 100%;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #606060;
  background-color: #fff;
  width: 100%;
}

p,
ul,
ol,
dl,
pre,
address,
hr,
table {
  margin: 0 0 24px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

abbr,
acronym {
  border: 1px dotted #e0e0e0;
  cursor: help;
}

mark,
ins {
  background: #ff0;
  text-decoration: none;
  color: #606060;
}

ul {
  list-style: disc outside;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ol {
  list-style: decimal outside;
}

ul,
ol {
  padding: 0 0 0 24px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  padding-top: 6px;
  margin-bottom: 0;
}

li {
  margin-bottom: 6px;
}

a {
  color: #00ADF2;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #f0f;
  text-decoration: none;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 12px;
}

hr {
  border: 0;
  border: 1px solid #e0e0e0;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border: 1px dotted #e0e0e0;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

cite {
  font-style: normal;
}

blockquote {
  font-size: 21px;
  font-style: italic;
  margin: 0 0 24px 24px;
}

blockquote em {
  font-style: normal;
}

blockquote cite {
  font-size: 16px;
  font-style: normal;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  font-style: normal;
  line-height: 1.5;
}

small {
  font-family: 14;
}

table {
  width: 100%;
  max-width: 100%;
}

th,
td {
  padding: 8px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  vertical-align: top;
}

th {
  font-weight: 700;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  color: #474646;
}

code,
kbd {
  padding: 5px 10px;
  border-radius: 3px;
}

code {
  background-color: #e0e0e0;
  display: inline-block;
  word-wrap: break-word;
}

kbd {
  color: #fff;
  background-color: #606060;
}

kbd kbd {
  padding: 0;
  font-size: inherit;
  font-weight: bold;
}

pre {
  display: block;
  background-color: #e0e0e0;
  padding: 16px;
  margin-top: 0;
  margin-bottom: 24px;
  border-radius: 3px;
  max-width: 100%;
  overflow: auto;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 700;
  color: #606060;
  margin: 0 0 24px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #00ADF2;
}

h1 a:hover, h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus,
h4 a:hover,
h4 a:focus,
h5 a:hover,
h5 a:focus,
h6 a:hover,
h6 a:focus {
  color: #f0f;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.entry-title {
  font-size: 24px;
}

.doc-title {
  font-size: 38px;
}

.widget__title {
  font-size: 21px;
}

.section__title {
  font-size: 21px;
}

.lede {
  font-size: 21px;
  text-align: center;
  margin: 0 0 24px;
}

.lede em {
  font-style: italic;
}

.entry-meta {
  font-size: 14px;
  line-height: 1.125;
  color: #a0a0a0;
  margin: 0 0 24px;
  clear: both;
}

.wf-loading body {
  visibility: hidden;
}

.site {
  padding-top: 24px;
}

.container {
  padding: 0 1em;
}

form {
  margin: 0 0 24px;
}

.button, .submit {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 10px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0;
  background-color: #00ADF2;
  border: 1px solid #00ADF2;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover, .submit:hover, .button:focus, .submit:focus {
  color: #fff;
  background-color: #f0f;
  text-decoration: none;
  border-color: #f0f;
}

.button:focus, .submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button:active, .submit:active {
  outline: 0;
  background-image: none;
}

.button.disabled, .disabled.submit, .button[disabled], .submit[disabled],
fieldset[disabled] .button,
fieldset[disabled] .submit {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--lg {
  font-size: 21px;
  padding: 10.5px 13.125px;
}

.button--sm {
  font-size: 14px;
  padding: 7px 8.75px;
}

.button--xs {
  font-size: 12px;
  padding: 6px 7.5px;
}

.button--disabled {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
}

.button--disabled:hover, .button--disabled:focus {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
}

.button--primary {
  background-color: #800080;
  border-color: #800080;
}

.button--success {
  background-color: #0f0;
  border-color: #0f0;
}

.button--info {
  background-color: #0ff;
  border-color: #0ff;
}

.button--warning {
  background-color: #f90;
  border-color: #f90;
}

.button--danger {
  background-color: #f00;
  border-color: #f00;
}

.form-control, .comment-form-comment textarea,
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #a0a0a0;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  outline: none;
  padding: 8px 10px;
  display: inline-block;
  width: 210px;
  vertical-align: middle;
  margin-bottom: 0;
  max-width: 100%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus, .comment-form-comment textarea:focus,
.comment-form-author input:focus,
.comment-form-email input:focus,
.comment-form-url input:focus {
  color: #606060;
  background-color: transparent;
  border-color: #00ADF2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea,
textarea.form-control,
.comment-form-comment textarea {
  width: 100%;
}

select {
  padding: .25em 0;
  line-height: 2;
}

legend {
  font-size: 21px;
}

input[type="checkbox"] {
  display: inline-block;
  margin-right: .5em;
}

.required {
  color: #606060;
  font-weight: 700;
}

.form-control--lg {
  font-size: 21px;
  padding: 10.5px 13.125px;
}

.form-control--sm {
  font-size: 14px;
  padding: 7px 8.75px;
}

.form-control--xs {
  font-size: 12px;
  padding: 6px 7.5px;
}

.form-control--disabled {
  color: #a0a0a0;
  border-color: #c0c0c0;
}

.form-control--success {
  border-color: #0f0;
}

.form-control--warning {
  border-color: #f90;
}

.form-control--danger {
  border-color: #f00;
}

label {
  display: block;
  font-size: 14px;
  margin: 0 0 6px;
}

.search-form label {
  display: inline-block;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 0 24px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.alignleft, img.alignright,
.wp-caption.alignleft,
.wp-caption.alignright {
  display: inline;
}

img.alignleft,
.wp-caption.alignleft {
  margin-right: 24px;
  clear: left;
}

img.alignright,
.wp-caption.alignright {
  margin-left: 24px;
  clear: right;
}

img.alignleft, img.alignright, img.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
  margin-bottom: 12px;
}

.wp-caption {
  max-width: 100%;
}

.entry-figure--size-thumbnail {
  width: 356px;
}

.entry-figure--size-medium {
  width: 546px;
}

.entry-figure--size-large {
  width: 1116px;
}

.entry-figure--size--x-large {
  width: 1440px;
}

.wp-caption-text,
.gallery-caption {
  font-size: 14px;
  line-height: 1.125;
  color: #a0a0a0;
  margin: 0 0 24px;
  margin-top: 6px;
}

.gallery,
.wp-block-gallery {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
  padding-top: 12px;
}

.gallery:before, .gallery:after,
.wp-block-gallery:before,
.wp-block-gallery:after {
  content: " ";
  display: table;
}

.gallery:after,
.wp-block-gallery:after {
  clear: both;
}

.wp-block-gallery {
  padding-left: 0;
  list-style: none;
}

.gallery-item,
.blocks-gallery-item {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 24px;
}

.gallery-item img,
.blocks-gallery-item img {
  display: block;
}

.gallery-columns-1 > .gallery-item {
  width: 100%;
}

@supports (display: flex) {
  .gallery-columns-1 > .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.gallery-columns-1 > .gallery-item:nth-of-type(n) {
  clear: none;
}

.gallery-columns-1 > .gallery-item:nth-of-type(1n+1) {
  clear: both;
}

.gallery-columns-2 > .gallery-item {
  width: 50%;
}

@supports (display: flex) {
  .gallery-columns-2 > .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.gallery-columns-2 > .gallery-item:nth-of-type(n) {
  clear: none;
}

.gallery-columns-2 > .gallery-item:nth-of-type(2n+1) {
  clear: both;
}

.gallery-columns-3 > .gallery-item {
  width: 33.3333333333%;
}

@supports (display: flex) {
  .gallery-columns-3 > .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
}

.gallery-columns-3 > .gallery-item:nth-of-type(n) {
  clear: none;
}

.gallery-columns-3 > .gallery-item:nth-of-type(3n+1) {
  clear: both;
}

.gallery-columns-4 > .gallery-item {
  width: 25%;
}

@supports (display: flex) {
  .gallery-columns-4 > .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.gallery-columns-4 > .gallery-item:nth-of-type(n) {
  clear: none;
}

.gallery-columns-4 > .gallery-item:nth-of-type(4n+1) {
  clear: both;
}

.gallery-columns-5 > .gallery-item {
  width: 20%;
}

@supports (display: flex) {
  .gallery-columns-5 > .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

.gallery-columns-5 > .gallery-item:nth-of-type(n) {
  clear: none;
}

.gallery-columns-5 > .gallery-item:nth-of-type(5n+1) {
  clear: both;
}

.gallery-columns-6 > .gallery-item {
  width: 16.6666666667%;
}

@supports (display: flex) {
  .gallery-columns-6 > .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
}

.gallery-columns-6 > .gallery-item:nth-of-type(n) {
  clear: none;
}

.gallery-columns-6 > .gallery-item:nth-of-type(6n+1) {
  clear: both;
}

.svg-defs {
  display: none;
}

.menu {
  padding-left: 0;
  list-style: none;
}

.menu ul {
  padding-left: 0;
  list-style: none;
}

.menu a {
  color: #00ADF2;
  text-decoration: none;
}

.menu a:hover, .menu a:active {
  color: #f0f;
}

.menu a:focus {
  outline: 0;
}

.menu .current-menu-item > a,
.menu .current_page_item > a,
.menu .current-cat > a,
.menu .current-page-ancestor > a,
.menu .current-menu-ancestor > a,
.menu .current-cat-parent > a,
.menu .current-category-ancestor > a,
.menu .current-post-ancestor > a {
  color: #f0f;
}

.postnav {
  clear: both;
  margin-bottom: 24px;
}

.postnav:before, .postnav:after {
  content: " ";
  display: table;
}

.postnav:after {
  clear: both;
}

.postnav .postnav__link {
  width: 50%;
}

.postnav .postnav__link--older {
  float: right;
  text-align: right;
  padding-left: 1em;
}

.postnav .postnav__link--newer {
  float: left;
  padding-right: 1em;
}

.site-nav__toggle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 10px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0;
  background-color: #00ADF2;
  border: 1px solid #00ADF2;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.site-nav__toggle:hover, .site-nav__toggle:focus {
  color: #fff;
  background-color: #f0f;
  text-decoration: none;
  border-color: #f0f;
}

.site-nav__toggle:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.site-nav__toggle:active {
  outline: 0;
  background-image: none;
}

.site-nav__toggle.disabled, .site-nav__toggle[disabled],
fieldset[disabled] .site-nav__toggle {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.no-js .site-nav__toggle {
  display: none;
}

.toggled .site-nav__toggle {
  color: #fff;
  background-color: #f0f;
  border-color: #f0f;
}

.menu--primary {
  display: none;
}

.no-js .menu--primary {
  display: block;
}

.toggled .menu--primary {
  display: block;
}

.site-title {
  font-size: 1em;
  margin-bottom: 12px;
}

.site-description {
  margin-bottom: 12px;
}

.doc-main {
  margin-bottom: 24px;
}

.hentry {
  margin-bottom: 24px;
}

.widget {
  margin-bottom: 24px;
}

.entry-figure {
  margin-bottom: 24px;
}

.sticky {
  background-color: #e0e0e0;
  padding: 16px;
}

.entry-header {
  margin-bottom: 24px;
}

.comment-form textarea {
  display: block;
  width: 100%;
}

.comments-list {
  padding-left: 0;
  list-style: none;
}

.comments-list .children {
  padding-left: 0;
  list-style: none;
  margin-left: 24px;
}

.comments-list .comment {
  margin-bottom: 1em;
  border-bottom: 1px solid #e0e0e0;
}

.comments-list .comment .comment {
  padding-top: 1em;
  border-top: 1px solid #e0e0e0;
  border-bottom: 0;
}

.comments-list p {
  margin-bottom: 12px;
}

.comment-meta {
  font-size: 14px;
  line-height: 1.125;
  color: #a0a0a0;
  margin: 0 0 24px;
}

.comment-header {
  margin-bottom: 12px;
}

.comment-main {
  display: inline-block;
}

.form-allowed-tags {
  clear: both;
  width: 95%;
}

.form-allowed-tags code {
  display: block;
}

.site-copyright,
.site-credits {
  font-size: 14px;
  line-height: 1.125;
  color: #a0a0a0;
  margin: 0 0 24px;
}

@media (min-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row:before, .row:after {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }
  .doc-main,
  .doc-side {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .doc-main {
    max-width: 66.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .doc-side {
    max-width: 33.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .site-nav__toggle {
    display: none;
  }
  .menu--primary {
    display: block;
  }
}

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
/*# sourceMappingURL=theme.css.map */