// GRID SYSTEM
$grid-gutter-width: unitcalc(24);
$grid-column-width: unitcalc(78);
$grid-column-total-width: $grid-gutter-width + $grid-column-width;
$grid-columns: 12;
$grid-width: $grid-column-total-width * $grid-columns;
$container-gutter-width: $grid-gutter-width * 2;
$container-width: $grid-width + $grid-gutter-width;

$form-grid-gutter-width: unitcalc(12);
$gallery-grid-gutter-width: unitcalc(24);
