@use '../functions' as *;
@use 'type' as *;

// GRID SYSTEM(S)
$grid__column-width: unitcalc(78);
$grid__column-gap: unitcalc(24);
$grid__row-gap: unitcalc(24);
$grid__column-total-width: $grid__column-gap + $grid__column-width;
$grid__columns: 12;
$grid__max-columns: 1;
$grid-item__min-width: unitcalc(280);
$grid-item__max-width: 100%;

$container__padding-inline: $grid__column-gap;
$container__max-width: get-container-max-width-from-columns($grid__columns, $grid__column-width, $grid__column-gap, $container__padding-inline);

$form-grid__column-gap: $grid__column-gap * .5;
$gallery-grid__column-gap: $grid__column-gap;

// breakpoints
$bp-xs: 480px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-2xl: 1440px;

$breakpoints: (
	// 'none': 0,
	'xs': $bp-xs,
	'sm': $bp-sm,
	'md': $bp-md,
	'lg': $bp-lg,
	'xl': $bp-xl,
	'2xl': $bp-2xl,
);

$type__breakpoint: $bp-lg;
$nav__breakpoint: $bp-lg;

$alignleft__margin-left: 0;
$alignleft__margin-inline-end:  cssvar('spacing');
$alignright__margin-left:  cssvar('spacing');
$alignright__margin-inline-end: 0;
