// modern font stacks - https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#plugins-and-extensions
$font-family--system-ui: system-ui, sans-serif;
$font-family--transitional: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$font-family--old-style: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
$font-family--humanist: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
$font-family--geometric-humanist: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
$font-family--classic-humanist: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
$font-family--neo-grotesque: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
$font-family--monospace-slab-serif: 'Nimbus Mono PS', 'Courier New', monospace;
$font-family--monospace-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$font-family--industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
$font-family--rounded-sans: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
$font-family--slab-serif: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
$font-family--antique: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
$font-family--didone: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
$font-family--handwritten: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

$font-family--sans-serif:  $font-family--system-ui;
$font-family--serif: $font-family--antique;
$font-family--monospace: $font-family--monospace-code;

$font-weight--extra-light: 100;
$font-weight--light: 200;
$font-weight--book: 400;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--semibold: 600;
$font-weight--bold: 700;
$font-weight--black: 800;
$font-weight--extra-black: 900;

$font-size: 1rem;
$line-height: 1.5;

$link__text-decoration: none;
$link--focus__text-decoration: none;
