// BUTTONS
// ---------------------------
.btn,
button,
input[type='submit'] {
	.btn();
}
.btn-lg {
	.font-size-emcalc(@btn-font-size-lg);
}
.btn-sm {
	.font-size-emcalc(@btn-font-size-sm);
}
.btn-xs {
	.font-size-emcalc(@btn-font-size-xs);
}

// Alternate button states
.btn-primary {
  color: @btn-primary-color;
  background-color: @btn-primary-background-color;
  border-color: @btn-primary-border-color;
}
.btn-success {
  color: @btn-success-color;
  background-color: @btn-success-background-color;
  border-color: @btn-success-border-color;
}
.btn-info {
  color: @btn-info-color;
  background-color: @btn-info-background-color;
  border-color: @btn-info-border-color;
}
.btn-warning {
  color: @btn-warning-color;
  background-color: @btn-warning-background-color;
  border-color: @btn-warning-border-color;
}
.btn-danger {
  color: @btn-danger-color;
  background-color: @btn-danger-background-color;
  border-color: @btn-danger-border-color;
}

// FORM CONTROLS
// ---------------------------
.form-control,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	.form-control;
}
textarea {
	//box-sizing: border-box;
	width: 100%;
}
select {
	padding: .25em 0;
	line-height: 2;
}
legend {
  .h3;
}
input[type="checkbox"] {
	display: inline-block;
	margin-right: .5em;
}
.required {
	color: @input-required-color;
	font-weight: @input-required-font-weight;
}

.form-control-disabled {
  color: @input-disabled-color;
  background-color: @input-disabled-background-color;
  border-color: @input-disabled-border-color;
}
.form-control-success {
  color: @input-success-color;
  background-color: @input-success-background-color;
  border-color: @input-success-border-color;
}
.form-control-warning {
  color: @input-warning-color;
  background-color: @input-warning-background-color;
  border-color: @input-warning-border-color;
}
.form-control-danger {
  color: @input-danger-color;
  background-color: @input-danger-background-color;
  border-color: @input-danger-border-color;
}