// BUTTONS
// ---------------------------
button,
input[type='submit'],
.button {
	@include button;
}
.button-lg {
	@include button-lg;
}
.button-sm {
	@include button-sm;
}
.button-xs {
	@include button-xs;
}

// Alternate button states
.button-primary {
  @include button-primary;
}
.button-success {
  @include button-success;
}
.button-info {
  @include button-info;
}
.button-warning {
  @include button-warning;
}
.button-danger {
  @include button-danger;
}

// FORM CONTROLS
// ---------------------------
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
	@include form-control;
}
textarea {
	//box-sizing: border-box;
	width: 100%;
}
select {
	padding: .25em 0;
	line-height: 2;
}
legend {
  @include h3;
}
input[type="checkbox"] {
	display: inline-block;
	margin-right: .5em;
}
.required {
	color: $input-required-color;
	font-weight: $input-required-font-weight;
}

.form-control-disabled {
  @include form-control-disabled;
}
.form-control-success {
   @include form-control-success;
}
.form-control-warning {
   @include form-control-warning;
}
.form-control-danger {
   @include form-control-danger;
}