// BUTTONS
// -------------------------
@mixin btn-variant(
	$color: $button__color,
	$background-color: $button__background-color,
	$border-color: $button__border-color,
	$color--hover: $color,
	$background-color--hover: $background-color,
	$border-color--hover: $border-color,
	$opacity--disabled: $button__opacity--disabled
) {
	@include color-change($color, $button__color);
	@include background-color-change($background-color, $button__background-color);
	@include border-color-change($border-color, $button__border-color);

	&:hover,
	&:focus,
	&:active {
		@include color-change($color--hover, $button__color);
		@include background-color-change($background-color--hover, $button__background-color--hover);
		@include border-color-change($border-color--hover, $button__border-color--hover);
	}

	&.disabled,
	&:disabled {
		@include opacity-change($opacity--disabled, $button__opacity--disabled);
	}
}

@mixin btn--unstyled() {
	border: 0;
	background: none;
	padding: 0;
	color: inherit;
	margin: 0;
	cursor: pointer;
	//display: inline-block;
}

// FORM CONTROLS
// -------------------------
@mixin input-variant(
	$color: $input__color,
	$background-color: $input__background-color,
	$border-color: $input__border-color,
	$background-color--focus: $input__background-color--focus,
	$border-color--focus: $input__border-color--focus,
	$box-shadow--focus: $input__box-shadow--focus,
	$color--placeholder: $input__color--placeholder,
	$default-color: $input__color,
	$default-background-color: $input__background-color,
	$default-border-color: $input__border-color,
	$default-background-color--focus: $input__background-color--focus,
	$default-border-color--focus: $input__border-color--focus,
	$default-box-shadow--focus: $input__box-shadow--focus,
	$default-color--placeholder: $input__color--placeholder
) {
	@include color-change($color, $default-color);
	@include background-color-change($background-color, $default-background-color);
	@include border-color-change($border-color, $default-border-color);

	@if ($color--placeholder != $default-color--placeholder) {
		&::placeholder {
			color: $color--placeholder;
		}
	}

	@if (($background-color--focus != $default-background-color--focus) or ($border-color--focus != $default-border-color--focus) or ($box-shadow--focus != $default-box-shadow--focus)) {
		&:focus {
			@include background-color-change($background-color--focus, $default-background-color--focus);
			@include border-color-change($border-color--focus, $default-border-color--focus);
			@include box-shadow-change($box-shadow--focus, $default-box-shadow--focus);
		}
	}
}

@mixin input--l {
	@include font-size-change($input__font-size--l, $input__font-size);
	@include padding-change($default-top: $input__padding-y, $default-right: $input__padding-x, $value-top: $input__padding-y--l, $value-right: $input__padding-x--l);
}

@mixin input--s {
	@include font-size-change($input__font-size--s, $input__font-size);
	@include padding-change($default-top: $input__padding-y, $default-right: $input__padding-x, $value-top: $input__padding-y--s, $value-right: $input__padding-x--s);
}

@mixin input--xs {
	@include font-size-change($input__font-size--xs, $input__font-size);
	@include padding-change($default-top: $input__padding-y, $default-right: $input__padding-x, $value-top: $input__padding-y--xs, $value-right: $input__padding-x--xs);
}
