// Optional hyphenation
@mixin hyphens($mode: auto) {
	word-wrap: break-word;
	hyphens: $mode;
}

// Remove bullets/numbers and padding
@mixin list-unstyled {
	padding-inline: 0;
	list-style: none;
}

// Inline turns list items into inline-block
@mixin list-inline {
	@include list-unstyled;

	> li {
		display: inline-block;
		padding-inline: 0 1em;
	}
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
