// GRAYSCALE
// ---------------------------
$black:	#000;
$white: #fff;
$gray-darkest: darken($white, 87.5%);
$gray-darker: darken($white, 75%);
$gray-dark: darken($white, 62.5%);
$gray: darken($white, 50%);
$gray-light: darken($white, 37.5%);
$gray-lighter: darken($white, 25%);
$gray-lightest: darken($white, 12.5%);

// STANDARD COLORS
// ---------------------------
$red: #f00;
$orange: #f90;
$yellow: #ff0;
$green: #0f0;
$blue: #00f;
$magenta: #f0f;
$aqua: #0ff;
$purple: #800080;
$cyan: #00ADF2;
$navy: #000080;
$silver: #C0C0C0;

// IDENTITY COLORS
// ---------------------------

// BACKGROUND COLORS
// ---------------------------
$base__background-color: $white;
$base__background-color--alt: $gray-lightest;

// BASE COLORS
// ---------------------------
$base__color: $gray-dark;
$base__color--light: lighten($base__color, 10%);
$base__color--dark: darken($base__color, 10%);
$base__color--alt: $gray-light;
$base__color--comp: spin($base__color, 180);

$accent-color: $cyan;
$accent-color--alt: $magenta;

// BORDER COLOR
// ---------------------------
$base__border-color: $gray-lightest;

// LINK COLORS
// ---------------------------
$link__color: $accent-color;
$link__color--hover: $accent-color--alt;
$link__color--active: $accent-color--alt;
$link__text-decoration: none;
$link__text-decoration--hover: none;
