// Figures
$figure__margin-bottom: $base__margin--half;

// Document Main
$doc__margin-bottom: $base__margin;

// Entries
$hentry__margin-bottom: $base__margin;

// Widgets
$widget__margin-bottom: $base__margin;

// Sticky Posts
$sticky__background-color: $base__background-color--alt;
$sticky__padding: 1em;

// MEDIA QUERY BREAKPOINTS
// ---------------------------

// Extra small screen / phone
$breakpoint__mobile: (480 / $base__font-size * 1em);

// Tablet small
$breakpoint__tablet--sm: (600 / $base__font-size * 1em);

// Small screen / tablet
$breakpoint--tablet: (768 / $base__font-size * 1em);

// Medium screen / desktop
$breakpoint__desktop: (992 / $base__font-size * 1em);

// Large screen / wide desktop
$breakpoint__desktop--lg: (1200 / $base__font-size * 1em);
