// COMMON FORM ELEMENTS
// ---------------------------
$form__font-size: $base__font-size;
$form__line-height: $base__line-height;

$form__font-size--lg: $base__font-size--lg;
$form__font-size--sm: $base__font-size--sm;
$form__font-size--xs: $base__font-size--xs;

$form__padding-vertical: $form__font-size / 2;
$form__padding-horizontal: $form__font-size / 1.5;

$form__border-width: 1;
$form__border-radius: $form__font-size / 4;

$form__color--disabled: $gray-lighter;
$form__color--primary: $purple;
$form__color--success: $green;
$form__color--info: $aqua;
$form__color--warning: $orange;
$form__color--danger: $red;

// BUTTONS
// ---------------------------
$button__font-size: $form__font-size;
$button__font-family: $base__font-family;
$button__line-height: $form__line-height;
$button__font-weight: $base__font-weight;
$button__text-transform: uppercase;
$button__color: $white;
$button__background-color: $link__color;
$button__border-color: $button__background-color;
$button__color--hover: $white;
$button__background-color--hover: $link__color--hover;
$button__border-color--hover: $button__background-color--hover;

// alternate sizes
$button__font-size--lg: $form__font-size--lg;
$button__font-size--sm: $form__font-size--sm;
$button__font-size--xs: $form__font-size--xs;

// Alternate buttons
$button__color--disabled: $button__color;
$button__background-color--disabled: $form__color--disabled;
$button__border-color--disabled: $button__background-color--disabled;
$button__color--disabled--hover: $button__color--disabled;
$button__background-color--disabled--hover: $button__background-color--disabled;
$button__border-color--disabled--hover: $button__border-color--disabled;

$button__color--primary: $button__color;
$button__background-color--primary: $form__color--primary;
$button__border-color--primary: $button__background-color--primary;
$button__color--primary--hover: $button__color--hover;
$button__background-color--primary--hover: $button__background-color--hover;
$button__border-color--primary--hover: $button__border-color--hover;

$button__color--success: $button__color;
$button__background-color--success: $form__color--success;
$button__border-color--success: $button__background-color--success;
$button__color--success--hover: $button__color--hover;
$button__background-color--success--hover: $button__background-color--hover;
$button__border-color--success--hover: $button__border-color--hover;

$button__color--info: $button__color;
$button__background-color--info: $form__color--info;
$button__border-color--info: $button__background-color--info;
$button__color--info--hover: $button__color--hover;
$button__background-color--info--hover: $button__background-color--hover;
$button__border-color--info--hover: $button__border-color--hover;

$button__color--warning: $button__color;
$button__background-color--warning: $form__color--warning;
$button__border-color--warning: $button__background-color--warning;
$button__color--warning--hover: $button__color--hover;
$button__background-color--warning--hover: $button__background-color--hover;
$button__border-color--warning--hover: $button__border-color--hover;

$button__color--danger: $button__color;
$button__background-color--danger: $form__color--danger;
$button__border-color--danger: $button__background-color--danger;
$button__color--danger--hover: $button__color--hover;
$button__background-color--danger--hover: $button__background-color--hover;
$button__border-color--danger--hover: $button__border-color--hover;

// INPUTS
// ---------------------------
$input__font-size: $form__font-size;
$input__line-height: $form__line-height;
$input__font-family: $base__font-family;
$input__color: $base__color;
$input__border-color: $base__border-color;
$input__background-color: transparent;
$input__box-shadow: none;

$input__color--focus: $input__color;
$input__border-color--focus: $accent__color;
$input__background-color--focus: $input__background-color;
$input__box-shadow--focus: none;

$input__width: 210;

$input__border-radius: $form__border-radius;

$input__placeholder-color: $meta__color;

$input__font-size--lg: $form__font-size--lg;
$input__font-size--sm: $form__font-size--sm;
$input__font-size--xs: $form__font-size--xs;

$input__color--required: $input__color;
$input__font-weight--required: $font-weight--bold;

$input__color--disabled: $meta__color;
$input__background-color--disabled: $input__background-color;
$input__border-color--disabled: $form__color--disabled;
$input__color--disabled--focus: $input__color--disabled;
$input__background-color--disabled--focus: $input__background-color--disabled;
$input__border-color--disabled--focus: $input__border-color--disabled;

$input__color--success: $input__color;
$input__background-color--success: $input__background-color;
$input__border-color--success: $form__color--success;
$input__color--success--focus: $input__color--focus;
$input__background-color--success--focus: $input__background-color--focus;
$input__border-color--success--focus: $input__border-color--focus;

$input__color--warning: $input__color;
$input__background-color--warning: $input__background-color;
$input__border-color--warning: $form__color--warning;
$input__color--warning--focus: $input__color--focus;
$input__background-color--warning--focus: $input__background-color--focus;
$input__border-color--warning--focus: $input__border-color--focus;

$input__color--danger: $input__color;
$input__background-color--danger: $input__background-color;
$input__border-color--danger: $form__color--danger;
$input__color--danger--focus: $input__color--focus;
$input__background-color--danger--focus: $input__background-color--focus;
$input__border-color--danger--focus: $input__border-color--focus;
