// BASE TYPE STYLES
// ---------------------------
$font-family--sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--serif: Cambria, Georgia, serif;
$font-family--monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--semibold: 600;
$font-weight--bold: 700;
$font-weight--black: 900;
// Base
$base__font-family: $font-family--sans-serif;
$base__font-size: 16;
$base__font-size--lg: 20;
$base__font-size--sm: 14;
$base__font-size--xs: 12;
$base__font-weight: $font-weight--normal;
$base__font-weight--bold: $font-weight--bold;
$base__margin: 24;
$base__margin--half: $base__margin / 2;
$base__margin--quarter: $base__margin / 4;
$base__margin-emcalc: emcalc($base__margin);
$base__margin-emcalc--half: emcalc($base__margin--half);
$base__margin-emcalc--quarter: emcalc($base__margin--quarter);
$base__line-height--xl: ($base__font-size + (($base__margin - $base__font-size) * 1.5)) / $base__font-size;
$base__line-height--lg: ($base__font-size + (($base__margin - $base__font-size) * 1.25)) / $base__font-size;
$base__line-height: $base__margin / $base__font-size;
$base__line-height--sm: ($base__font-size + (($base__margin - $base__font-size) / 2)) / $base__font-size;
$base__line-height--xs: ($base__font-size + (($base__margin - $base__font-size) / 4)) / $base__font-size;
$base__text-align: left;

// LINK COLORS
// ---------------------------
$link__color: $accent__color;
$link__color--hover: $accent__color--alt;
$link__color--active: $link__color--hover;
$link__color--visited: $link__color;
$link__text-decoration: none;
$link__text-decoration--hover: none;

// HEADINGS
// ---------------------------
$headings__font-size: $base__font-size;
$headings__line-height: $base__line-height--sm;
$headings__font-family: $font-family--sans-serif;
$headings__font-weight: $font-weight--bold;
$headings__font-style: normal;
$headings__color: $base__color;
$headings__margin-top: 0;
$headings__margin-bottom: $base__margin;
$headings__small-color: inherit;
$headings__link-color: $link__color;
$headings__link-color--hover: $link__color--hover;
$headings__link-text-decoration: none;
$headings__link-text-decoration--hover: none;

$h1__font-size: 32;
$h1__line-height: $headings__line-height;
$h1__font-family: $headings__font-family;
$h1__color: $headings__color;
$h1__font-style: $headings__font-style;
$h1__font-weight: $headings__font-weight;
$h1__text-transform: none;
$h1__margin-top: 0;
$h1__margin-bottom: $base__margin;
$h1__font-size--lg: $h1__font-size;

$h2__font-size: 28;
$h2__line-height: $headings__line-height;
$h2__font-family: $headings__font-family;
$h2__color: $headings__color;
$h2__font-style: $headings__font-style;
$h2__font-weight: $headings__font-weight;
$h2__text-transform: none;
$h2__margin-top: 0;
$h2__margin-bottom: $base__margin;
$h2__font-size--lg: $h2__font-size;

$h3__font-size: 24;
$h3__line-height: $headings__line-height;
$h3__font-family: $headings__font-family;
$h3__color: $headings__color;
$h3__font-style: $headings__font-style;
$h3__font-weight: $headings__font-weight;
$h3__text-transform: none;
$h3__margin-top: 0;
$h3__margin-bottom: $base__margin;
$h3__font-size--lg: $h3__font-size;

$h4__font-size: 20;
$h4__line-height: $headings__line-height;
$h4__font-family: $headings__font-family;
$h4__color: $headings__color;
$h4__font-style: $headings__font-style;
$h4__font-weight: $headings__font-weight;
$h4__text-transform: none;
$h4__margin-top: 0;
$h4__margin-bottom: $base__margin;
$h4__font-size--lg: $h4__font-size;

$h5__font-size: 16;
$h5__line-height: $headings__line-height;
$h5__font-family: $headings__font-family;
$h5__color: $headings__color;
$h5__font-style: $headings__font-style;
$h5__font-weight: $headings__font-weight;
$h5__text-transform: none;
$h5__margin-top: 0;
$h5__margin-bottom: $base__margin;
$h5__font-size--lg: $h5__font-size;

$h6__font-size: 14;
$h6__line-height: $headings__line-height;
$h6__font-family: $headings__font-family;
$h6__color: $headings__color;
$h6__font-style: $headings__font-style;
$h6__font-weight: $headings__font-weight;
$h6__text-transform: none;
$h6__margin-top: 0;
$h6__margin-bottom: $base__margin;
$h6__font-size--lg: $h6__font-size;

$entry__title__font-size: 24;
$entry__title__line-height: $headings__line-height;
$entry__title__font-family: $headings__font-family;
$entry__title__color: $headings__color;
$entry__title__font-style: $headings__font-style;
$entry__title__font-weight: $headings__font-weight;
$entry__title__text-transform: none;
$entry__title__margin-top: 0;
$entry__title__margin-bottom: $base__margin--half;
$entry__title__font-size--lg: $entry__title__font-size;

$doc__title__font-size: 38;
$doc__title__line-height: $headings__line-height;
$doc__title__font-family: $headings__font-family;
$doc__title__color: $headings__color;
$doc__title__font-style: $headings__font-style;
$doc__title__font-weight: $headings__font-weight;
$doc__title__text-transform: none;
$doc__title__margin-top: 0;
$doc__title__margin-bottom: $base__margin;
$doc__title__font-size--lg: $doc__title__font-size;

$widget__title__font-size: 22;
$widget__title__line-height: $headings__line-height;
$widget__title__font-family: $headings__font-family;
$widget__title__color: $headings__color;
$widget__title__font-style: $headings__font-style;
$widget__title__font-weight: $headings__font-weight;
$widget__title__text-transform: none;
$widget__title__margin-top: 0;
$widget__title__margin-bottom: $base__margin--half;
$widget__title__font-size--lg: $widget__title__font-size;

$section__title__font-size: 22;
$section__title__line-height: $headings__line-height;
$section__title__font-family: $headings__font-family;
$section__title__color: $headings__color;
$section__title__font-style: $headings__font-style;
$section__title__font-weight: $headings__font-weight;
$section__title__text-transform: none;
$section__title__margin-top: 0;
$section__title__margin-bottom: $base__margin--half;
$section__title__font-size--lg: $section__title__font-size;

// META
// ---------------------------
$meta__font-size: $base__font-size--sm;
$meta__line-height: $base__line-height--xs;
$meta__font-family: $font-family--sans-serif;
$meta__font-style: normal;
$meta__font-weight: $base__font-weight;
$meta__color: $gray--light;
$meta__margin-top: 0;
$meta__margin-bottom: $base__margin--quarter;

// NAVS
// ---------------------------
$nav__font-size: $base__font-size;
$nav__line-height: $base__line-height;
$nav__font-family: $font-family--sans-serif;
$nav__font-weight: $base__font-weight;
$nav__link-color: $link__color;
$nav__link-color--hover: $link__color--hover;
$nav__link-color--active: $link__color--active;
$nav__text-transform: none;

// Subnavs
$subnav__font-family: $font-family--sans-serif;
$subnav__font-weight: $base__font-weight;
$subnav__link-color: $link__color;
$subnav__link-color--hover: $link__color--hover;
$subnav__link-color--active: $link__color--active;

// Post Navs
$postnav__font-size: $base__font-size;
$postnav__font-family: $base__font-family;
$postnav__line-height: $base__line-height;
$postnav__font-weight: $base__font-weight;
$postnav__text-transform: none;
$postnav__link-color: $link__color;
$postnav__link-color--hover: $link__color--hover;
$postnav__margin-bottom: $base__margin;

// TABLES
// ---------------------------
$table__font-size: $base__font-size;
$table__font-family: $base__font-family;
$table__line-height: $base__line-height;
$table__font-weight: $base__font-weight;
$table__color: $base__color;
$table__text-align: left;
$table__background-color: $base__background-color;
$table__border-color: $base__border-color;
$table__border-style: solid;
$table__margin-top: 0;
$table__margin-bottom: $base__margin;

$th__font-weight: $font-weight--bold;
$th__text-align: $table__text-align;

$td__text-align: $table__text-align;
$td__border-top-width: 1;
$td__border-right-width: 1;
$td__border-bottom-width: 1;
$td__border-left-width: 1;
$td__padding-vertical: $base__font-size / 2;
$td__padding-horizontal: $base__font-size / 2;

// BLOCKQUOTES
// ---------------------------
$blockquote__font-size: $base__font-size--lg;
$blockquote__font-family: $base__font-family;
$blockquote__line-height: $base__line-height;
$blockquote__font-weight: $base__font-weight;
$blockquote__font-style: italic;
$blockquote__color: $base__color;
$blockquote__margin-top: 0;
$blockquote__margin-right: 0;
$blockquote__margin-bottom: $base__margin;
$blockquote__margin-left: $base__margin;

$cite__font-size: $base__font-size;
$cite__font-family: $base__font-family;
$cite__line-height: $base__line-height;
$cite__font-weight: $base__font-weight;
$cite__font-style: normal;
$cite__color: $base__color;
$cite__margin-bottom: $base__margin;
$cite__margin-left: $base__margin;

// LEDES
// ---------------------------
$lede__font-size: $base__font-size--lg;
$lede__font-family: $base__font-family;
$lede__line-height: $base__line-height;
$lede__font-weight: $base__font-weight;
$lede__font-style: normal;
$lede__color: $base__color;
$lede__text-align: center;
$lede__margin-top: 0;
$lede__margin-right: 0;
$lede__margin-bottom: $base__margin;
$lede__margin-left: $base__margin;
