// GRID SYSTEM
$grid__column-width: 60;
$grid__gutter-width: 30;
$grid__columns: 12;

$grid__gutter-width-emcalc: $grid__gutter-width / $base__font-size * 1em;

// Utility variable — you should never need to modify this
$grid__width: ($grid__column-width * $grid__columns) + ($grid__gutter-width * $grid__columns);
$grid__width-emcalc: $grid__width / $base__font-size * 1em;

// Set $grid__total-width to 100% for a fluid layout or $gridsystem-width for fixed layout
$grid__total-width: 100%;
